[2013-06-02 23:40] rlaemmel opened #262 ""implies" property"
So we might want an implies property to model the implications for the feature model explicitly on 101wiki:

http://101companies.org/wiki/Namespace:Feature

[2013-06-03 01:00] rlaemmel commented on #258
Ah, I understand: so you are grouping triples by predicate -- **regardless** of direction IN/OUT.
I think this is problematic because pages with a lot of IN triples will not be shown nicely.
I would think that it is nice when the OUT triples go first (before "..."). So visually, we have ">" and "<" for the two kinds of triples. I am just not sure whether we should group things the way it is done c

[2013-06-03 05:54] burgua commented on #261
Imho, the best solution for it is using i18n scheme for Rails.
Similar approach already works here https://github.com/101companies/101rails/blob/master/config/locales/devise.en.yml

[2013-06-03 11:05] tschmorleiz commented on #260
This is a parsing issue indeed :) :
Look here:

http://101companies.org/api/pages/Feature%3AEditing

and pay attention to the content of the "Details" section. The Metadata section is within the section content. So the parser fails to split this content into proper sections.

What I do on the client is check if a section only contains one top-section header. Otherwise validation fails. Therefore h

[2013-06-03 14:01] avaranovich commented on #255
Semantic endpoint API is now http://101companies.org/endpoint/:id/rdf | json

[2013-06-03 14:01] #255 closed, assigned to avaranovich

[2013-06-03 15:46] tschmorleiz opened #263 "Change backbone code to comply with new semantic backend"

[2013-06-03 21:19] rlaemmel opened #264 "Some linksTo triples not rendered"
Please go here:

http://101companies.org/wiki/Quasi-quotation

This triple is not rendered:

[code]

Is that perhaps because of "#"?

[2013-06-03 21:22] rlaemmel opened #265 "Please release contribution submission page for testing"
cc @burgua

So would this be here?

http://101companies.org/contribution/new

Anyway, please let me know when I (others) can start testing and whether I should take any constraints/assumptions/limitations into account for doing so. Otherwise, I would just take notes of what I see.

[2013-06-03 21:32] arkadi-schmidt commented on #265
You can do it since Thursday.
Url will be http://101companies.org/contribute
@kevin-klein  notified, that his service is already deployed, so it would something working already.

[2013-06-04 07:52] avaranovich commented on #264
I replaced "kinksTo" with "linksTo" and it worked. So it was a typo :-)

[2013-06-04 07:52] #264 closed, assigned to tschmorleiz

[2013-06-04 07:53] avaranovich commented on #110
@kevin-klein FYI. This is related to the worker re-desing.

[2013-06-04 09:50] rlaemmel opened #266 "Rename refactoring doing strange things"
It appears that prefixes are in lower case in the referenced page titles after renaming.
Also, "_" are used rather than " " in the referenced page titles after renaming.
This was working Ok previously.

[2013-06-04 10:29] rlaemmel opened #267 "Pop up for headline seems broken"
When hovering over links "Page not found" shows all the time.

[2013-06-04 10:31] martinleinberger commented on #267
That one is on the discovery service and is related to the latest switch to Django. I'm working on it.

[2013-06-04 10:46] #266 closed, assigned to tschmorleiz

[2013-06-04 11:18] martinleinberger commented on #267
seems to be fixed.

[2013-06-05 16:54] burgua opened #268 "Link to presentation"
@rlaemmel

Actually some stundents (I know at least three) are complaining about slideshare in new wiki.
They want to download the presentation, but cannot do it.
On the slideshare page this options (download presentation) is deactivated.

Do we need a direct link to download presentations?

[2013-06-05 17:50] burgua commented on #250
Till this time is implemented new property title for pages ( https://github.com/101companies/101rails/commits/pages ). Namespace is automatically retrieved for wiki url and saved as property 'namespace'.

Anyway need to be understood, that now any url like **/wiki/[something]** will generate page with title 'Something' (capitalized and escaped to wiki conventions)

**Ongoing are:**
- migration scr

[2013-06-06 10:37] tschmorleiz opened #269 "Support for "old" triple format in new endpoint"
We recently moved to the new endpoint.
The old one supported this kind of format for triples:

https://github.com/101companies/101wiki/issues?state=open

[2013-06-06 10:41] avaranovich commented on #250
We have 2 naming schemas:
1. ns:title
2. title

I don't see any reason why we should fix our guess anything. If the user types Contribution:haskellNovice, the ns = Contribution title =  haskellNovice.

We could have some warning in case user has entered the namespace which doesn't exist (this might be actually an error, and we should not allow to create namespaces which don't exists).

A do see th

[2013-06-06 12:12] #263 closed, assigned to tschmorleiz

[2013-06-06 12:12] #269 closed, assigned to tschmorleiz

[2013-06-07 08:40] rlaemmel opened #270 "file markup must be rendered even if file is missing"
Look at "Architecture" of this contribution:
http://101companies.org/wiki/Contribution:haskellTree

Some filenames don't show because the files are not yet there; commit and worker cycle pending. The filenames need to be shown correctly, even if clicking them would not work.

[2013-06-07 08:41] rlaemmel commented on #267
It is not fixed.
cc @avaranovich @tschmorleiz

[2013-06-07 13:22] #267 closed, assigned to martinleinberger

[2013-06-08 22:41] rlaemmel opened #271 "Remove debug info from wiki pages"
There is stuff like this at the top:

[code]

[2013-06-08 22:42] rlaemmel commented on #271
This is only visible when zooming in.
If so, then the search function also seems to be missing.

[2013-06-08 22:43] tschmorleiz commented on #271
@burgua added gritter for notifications (https://github.com/101companies/101rails/commit/cae2b31f7082ad7ea600ce9ee25bb068c67512b5). Reassigning.

[2013-06-08 23:10] rlaemmel opened #272 "lower case in metadata item"
cc @avaranovich

Please go here:

http://101companies.org/wiki/Contribution:haskellFlattened

It says:

[code]

This should be:

[code]

[2013-06-08 23:12] rlaemmel opened #273 "Prefixes missing in the metadata section"
cc @avaranovich

Please go here:

http://101companies.org/wiki/Contribution:haskellFlattened

When referring to features, languages, technologies, etc., they are not showing in the metadata section. I think they were there before, no? Anyway, are we sure that no confusion can arise from omitting the prefixes? Perhaps, that's nicer?!

Anyway, the links are broken -- the prefix is also missing in th

[2013-06-08 23:34] rlaemmel opened #274 "Mentions arguably to be removed from metadata section"
cc @tschmorleiz

Unless the optimization of #256 is added, we should not list "mentions" in the metadata section. In fact, if #256 was done, then perhaps another block for "mentions" may be helpful. Perhaps we should discuss this.

[2013-06-08 23:43] rlaemmel commented on #272
Just another example with lower case and missing prefixes:

http://101companies.org/wiki/Functor

Anyway, this is a universal issue.

[2013-06-09 11:02] #272 closed, assigned to tschmorleiz

[2013-06-09 11:02] #273 closed, assigned to tschmorleiz

[2013-06-09 14:10] #262 closed, assigned to tschmorleiz

[2013-06-10 11:24] rlaemmel opened #275 "isA missing"
Please go here:

http://101companies.org/wiki/Feature:Serialization

The first property is not rendered:

[code]

[2013-06-10 12:27] #275 closed, assigned to tschmorleiz

[2013-06-10 12:28] tschmorleiz commented on #275
This was in fact a purely client-sided issue.

[2013-06-10 16:57] burgua commented on #271
![51b6049ce4b0b78396d8222d](https://f.cloud.github.com/assets/123756/632885/6102c3a2-d1ee-11e2-9704-3884f2cd0e40.png)

Actually "Search bar" is hidden, but can be shown after clicking the button above.
Is it ok? Or it need to be shown in zoom mode also (if yes, please provide max zoom in percents)?

[2013-06-10 20:47] rlaemmel commented on #271
Search needs to be somehow **easily discoverable** as in "just there".
I was always wondering what that button is for and why it is there.
cc @tschmorleiz @avaranovich

[2013-06-11 20:46] rlaemmel opened #276 "Renaming uses "_""
This is a recurring issue.
As I am just renaming some features, this is a pretty serious issue.
Not sure how to clean up.
- Take any page title.
- Rename to a title with a space in the tile.
- Observe how "_" pops up in markup when the page is referenced.
- Those links go red and they show up as "_".

[2013-06-11 20:47] rlaemmel commented on #276
For example, I leave the red "Flat_company" on http://101companies.org/wiki/Namespace:Feature

[2013-06-11 21:17] #276 closed, assigned to tschmorleiz

[2013-06-11 21:18] rlaemmel opened #277 "Renaming missing references"
Just renamed Feature:Nesting to Feature:Hierarchical company
Here is a page that was not affected; see the red "Feature:Nesting" link.
http://101companies.org/wiki/Namespace:Feature

[2013-06-11 21:19] tschmorleiz commented on #276
Two things fixed this:
- No more _ when in references when renaming
- More robust red links
- Getting rid of _ in reference names on the client

[2013-06-11 21:20] tschmorleiz commented on #277
Was just deploying, maybe interrupted. Please observe other cases. Otherwise please close.

[2013-06-11 21:25] rlaemmel commented on #277
We might need a patch because the two features are now rather red everywhere.

[2013-06-11 21:27] tschmorleiz commented on #277
"Hierarchical company"  I see blue. "Nesting" I can fix.

[2013-06-11 21:34] tschmorleiz commented on #277
"Feature:Nesting" is now rewritten everywhere.

[2013-06-11 22:06] #277 closed, assigned to tschmorleiz

[2013-06-11 23:18] rlaemmel opened #278 "New markup for unprefixed rendering"
cc @avaranovich

I realize that it is attractive to surpress the prefix of titles in certain context.

For instance, when I am in a section that enumerates "contributions", then the prefix should not be rendered.

Of course we can always use markup like this:

[code]

However, I would like to use a shorter phrase.

Also, the above trick breaks under renaming. The renaming will to be able to affect

[2013-06-11 23:55] rlaemmel opened #279 "Making all "resources" show up at once"
I was trying to screen capture the resources on the monad page.

However, this is not possible (by design).

One sees only those resources for the section hovered over, e.g., "Wikipedia".

The other sections' content is hidden (sometimes several sections are visible).

Can we add some gesture to see all resources at once?

Perhaps by using the fold/unfold thing that is used for all other sections

[2013-06-13 11:45] rlaemmel commented on #279
Any thoughts on this one?

[2013-06-13 12:10] rlaemmel opened #280 "namespace injections get deleted upon save (occasionally)"
cc @avaranovich

Look here, for example, how it looks like after save:

http://101companies.org/wiki/Zipper%20monad

There was a suitable instanceOf::Namespace:Concept in the metadata section when I pushed "save".

[2013-06-13 12:13] rlaemmel opened #281 "metadata not reloaded when page is hit by back button"
Explicit reload then fixes it.
Clearly, this is about triples where the page (to which we return) is the object.

[2013-06-13 12:28] rlaemmel commented on #279
I thought I would want this for the paper, but I managed to not need it.
So I am closing.
Feel free to do it anyhow, if you like the idea.

[2013-06-13 12:28] #279 closed, assigned to tschmorleiz

[2013-06-13 12:46] rlaemmel commented on #280
I can't say for sure, but it feels like the instanceOf is deleted when its there and then injected again during the next save. So it is sort of alternating it seems.

[2013-06-13 12:54] burgua commented on #280
Actually every Page  on wiki has concept now.
E.g. **Contribution:Fsharp** has namespace **Contribution**.
If namespace is not specified (e.g. **Monad**) page will  take default namespace **Concept**.
That's why you have namespace on every save.
Here is this page in db http://101companies.org/admin/page/51b88c3cb8bc1afe42000347
Is this automatically definition of namespace bad?

[2013-06-13 14:12] burgua commented on #280
@tschmorleiz I actually don't get the logic there, but it works using code mentioned above. Could you merge it if it's ok?

[2013-06-13 14:14] #250 closed, assigned to burgua

[2013-06-13 14:52] #280 closed, assigned to tschmorleiz

[2013-06-13 14:55] tschmorleiz commented on #280
Branch did not solve the problem for me. Fixed.

(Problem was "content -> self.content" here https://github.com/101companies/101rails/commit/875ea167fb79a1ceac3582ce9ce81771ece07a85#L2R187)

[2013-06-13 15:03] tschmorleiz commented on #278
Just realized that this is already supported by our parser :dancers:
Just use <code>[[Contribution:haskellStarter|]]</code> (with | at the end) and it will just render the title, without namespace.

[2013-06-13 15:07] tschmorleiz commented on #274
Such triples are now excluded. We will use them for backlinks at some point, that way not depending on the MediaWiki functionality.

[2013-06-13 15:07] #274 closed, assigned to avaranovich

[2013-06-13 15:07] #278 closed, assigned to tschmorleiz

[2013-06-13 16:49] tschmorleiz opened #282 "Renaming broken"
I did not touch that functionality in a few days. What currently does not work:
- Page is still accessible under old name
- References are not fixed

I suspect this happend during the recent migration/refactoring.

[2013-06-13 16:52] burgua commented on #282
Yep, working on it.

[2013-06-13 16:54] tschmorleiz commented on #282
You can ignore the redirect to undefined for now. Just check if the page was truly moved (name changed) and the references get fixed.

[2013-06-13 20:03] rlaemmel opened #283 "Links gone red"
All links red here:

http://101companies.org/wiki/Course:Lambdas_in_Koblenz

Once I click any of those and return, then the become blue again; see the first one.

[2013-06-13 20:06] tschmorleiz commented on #283
This clearly worked before the migration/refactoring effort. Reassigning.

[2013-06-13 21:07] rlaemmel opened #284 "fragment rendering pretty much broken"
cc @avaranovich @burgua @arkadi-schmidt

See for example here:

http://101companies.org/wiki/Contribution:haskellStarter

Most snippets do now show, the "Explore" string runs into the regular text.

[2013-06-13 21:17] rlaemmel opened #285 "file markup not working"
cc @avaranovich @arkadi-schmidt @burgua

Have a look here:

http://101companies.org/wiki/Contribution:haskellEngineer

[code]

The empty string appears for the file markup.

The empty string should never show up.

In worst case, the filename would appear in red color.

[2013-06-13 21:20] rlaemmel opened #286 "Define what text to render for a link for file markup"
This is related #285 except that this is probably an enhancement request where #285 is probably a bug report.

Please have a look here:

http://101companies.org/wiki/Contribution:haskellEngineer

Specifically, please look at this:

[code]

I would like the file link to be rendered as "Company.Data"? Can I express this somehow?

This is needed.

[2013-06-13 21:49] #285 closed, assigned to tschmorleiz

[2013-06-14 08:06] rlaemmel opened #287 "Search feature on 101wiki pages not working"
cc @tschmorleiz @arkadi-schmidt

[2013-06-14 09:10] #287 closed, assigned to burgua

[2013-06-14 09:31] rlaemmel opened #288 "101wiki URLs encode space other than before"
cc @tschmorleiz @arkadi-schmidt @avaranovich

Please consider this:

http://101companies.org/wiki/State%20monad

Should this (I presume):

http://101companies.org/wiki/State_monad

[2013-06-14 09:39] burgua commented on #288
closed in https://github.com/101companies/101rails/commit/ac4af2cba86e6bcce6c56eae3b1b1e4f0ff4ee90

[2013-06-15 14:43] tschmorleiz commented on #284
Fixed.

[2013-06-15 14:43] #284 closed, assigned to tschmorleiz

[2013-06-15 23:05] martinleinberger opened #289 "Not found endpoint page redirects to wiki"
Consider the URL: 101companies.org/endpoint/Contribution:cppMPL/json

This one produces an error - Page not found. It redirects me to the wiki. Is it possible to use a 404 instead of a redirect?

Also, I'm not sure if this isn't a bug, since the [wiki dump](http://data.101companies.org/dumps/wiki.json) does know the contribution:

[code]

[2013-06-15 23:12] rlaemmel commented on #289
One thing I notice is that Contribution:cppMpl does not have a headline but an intent:

http://101companies.org/wiki/Contribution:cppMpl

So I guess the wiki-dump functionality needs to be more gracious.

[2013-06-15 23:15] burgua commented on #289
http://101companies.org/wiki/Contribution:cppMPL is a link to http://101companies.org/wiki/Contribution:cppMpl.
And new wiki after migration uses only 'direct' pages.

[2013-06-15 23:22] #289 closed, assigned to burgua

[2013-06-15 23:26] burgua commented on #289
Now you have response with status 404: **{success:false}**

http://101companies.org/wiki/Contribution:cppMPL is not http://101companies.org/wiki/Contribution:cppMpl (last 2 chars have different case). Please use the same case for **p** and **n** like in wiki-dump.

[2013-06-15 23:27] rlaemmel commented on #289
Don't understand.
Is that about redirects?
If so, I am in favor of getting rid of them; I guess we need to discuss this.
Anyway, please add explanation.

[2013-06-15 23:28] rlaemmel commented on #289
Ok, I guess, now things are clear.

[2013-06-15 23:28] burgua commented on #289
ok )

[2013-06-15 23:36] #288 closed, assigned to burgua

[2013-06-16 15:42] tschmorleiz opened #290 "Notice "Signed in successfully" re-displayed going back"
Some rather unexpected behaviour after login. Reproducible as follows:
- Log-in on any wiki page. (-> notice pops up)
- Follow some link on that page.
- Use the browser's back button.
- -> Notice is re-displayed to the user

[2013-06-16 15:55] martinleinberger opened #291 "Endpoint page for Contribution:jdbc broken"
http://101companies.org/endpoint/Contribution:jdbc/json

is broken, for some reason - no clue why it is exactly this page, since others seem to work fine.

[2013-06-16 16:07] burgua commented on #291
Some logs for it

[code]

And error http://take.ms/0nsAm4
Looks like @avaranovich knows this part.

[2013-06-16 16:12] #281 closed, assigned to tschmorleiz

[2013-06-16 16:14] tschmorleiz commented on #281
Specifically triples where cached in the browser. Disabled browser-sided caching when fetching triple.

[2013-06-16 16:37] tschmorleiz commented on #291
What's special about this page is this triple:
- [[influencedBy::Contributor:Ralf Lämmel]]

"influencedBy" is not defined by means of a "Property:" page. This causes the error.

We have these pages using "influencedBy": http://101companies.org/search?q=influencedBy

@rlaemmel Is this legacy or should I add a proper property page?

[2013-06-16 17:19] #229 closed, assigned to burgua

[2013-06-17 12:39] #282 closed, assigned to burgua

[2013-06-17 13:21] #283 closed, assigned to burgua

[2013-06-17 19:56] martinleinberger commented on #291
Another page that doesn't work, but that the "influencedBy" search query doesn't reveal is Contribution:richerAndroid http://101companies.org/endpoint/Contribution:richerAndroid/json

[2013-06-19 07:14] rlaemmel opened #292 "Search for "zipper" misses the actual "Zipper" page"
cc @arkadi-schmidt @tschmorleiz

Other pages are returned.

Who come?

[2013-06-19 07:35] rlaemmel opened #293 "Backlinks broken"
Please have a look here:

http://101companies.org/wiki/Zipper

It lists some vocabulary pages as linking back to Zipper, but they don't do.

I see this sort of wrong backlinks a lot.

[2013-06-19 07:47] rlaemmel commented on #293
I am just re-saving those pages which are listed wrongly as linking back. Then the vacuous backlinks go away.

[2013-06-19 08:01] tschmorleiz commented on #293
Can you provide another pages with broken backlinks, please?

[2013-06-19 08:10] burgua commented on #292
Actually, during migration of content to new wiki, we also added new search engine. And after migration search results will be so:

![wiki-seacrh](https://f.cloud.github.com/assets/123756/673411/303c9b7e-d8b7-11e2-9409-2a96e1e376d3.png)

I would like to wait for migration till Monday.

[2013-06-19 13:47] burgua opened #294 "Popup for links with namespace '101'"
Actually any link to pages [@data](http://101companies.org/wiki/@data), [@project](http://101companies.org/wiki/@project) e.t.c (from 101 namespace)  don't have popups.

/cc  @avaranovich

Client sends such kind of request with response 500

[code]

But next need to be sent

[code]

[2013-06-19 13:58] tschmorleiz commented on #294
If you look at the actual source you will see that requests are sent to:
<code>http://101companies.org/resources?format=jsonp&wikititle=TITLE</code>
So for [@data](101companies.org/wiki/@data) the request goes to:
<code>http://101companies.org/resources?format=jsonp&wikititle=@data

What you see is the rewritten URL by the worker.

This means that @ is not handled by the discovery service. @martin

[2013-06-19 14:00] martinleinberger commented on #294
Alright, so the redirect I return http://101companies.org/resources?format=jsonp&wikititle=@data is wrong. I'll fix it.

[2013-06-19 14:41] martinleinberger commented on #294
Should be fixed.

[2013-06-19 14:41] #294 closed, assigned to martinleinberger

[2013-06-20 10:46] rlaemmel opened #295 "URL compression for linksTo/identifies too brutal"
Please go here:

http://101companies.org/wiki/Functor

Please observe this metadata:

[code]

They are rendered the same (which is, of course, confusing).

[2013-06-20 10:47] tschmorleiz commented on #295
So what should the general schema be?

[2013-06-20 12:00] rlaemmel opened #296 "Major hickup with [[...|]] notation"
cc @burgua @arkadi-schmidt

Suddenly the wiki started expanding [[foo|]] to [[foo|foo]] when saving.

This effectively kills renaming.

[2013-06-20 12:01] rlaemmel commented on #296
See here:

http://101companies.org/wiki/Namespace:Namespace

[2013-06-21 15:57] tschmorleiz commented on #296
Working on this one.

[2013-06-21 16:10] tschmorleiz commented on #296
It seem like this always happend. This is actually mediawiki, expanding the link when saving.

[2013-06-21 16:37] #296 closed, assigned to tschmorleiz

[2013-06-22 12:44] rlaemmel opened #297 "Improve rendering when resolution errors occur for "file" markup"
cc @arkadi-schmidt @tschmorleiz

Please see here:

http://101companies.org/wiki/Bug42

Please remove the page once this issue is resolved.

[2013-06-22 12:46] rlaemmel commented on #286
Is there any way to express this?
I think this would be really needed.

[2013-06-22 12:47] rlaemmel commented on #295
I would simply check whether your existing compression creates a clash.
Whenever this is the case, simply "show all" as fallback.
This will only happen in a very rare cases.

[2013-06-22 12:49] rlaemmel commented on #292
Sounds cool.
Looking forward the new search.

[2013-06-22 12:52] rlaemmel opened #298 "" " in URLs"
cc @arkadi-schmidt @tschmorleiz @avaranovich

We want to use "_" for " " in URLs, right?

But when entering " ", it gets translated like this:

http://101companies.org/wiki/Zipper%20monad

[2013-06-22 12:58] rlaemmel commented on #293
I believe that this was an intermittent problem.
I remembered one other case where I noticed this sort of strange behavior and that one "fixed itself".
So I am closing.

[2013-06-22 12:58] #293 closed, assigned to tschmorleiz

[2013-06-22 13:03] rlaemmel opened #299 "Tables in wiki markup"
cc @arkadi-schmidt @tschmorleiz @avaranovich

Just looked at this:

http://101companies.org/wiki/Language:HTML5

The rendering of the table looks a bit strange.

Question to Thomas specifically, do we want to support table markup syntax proper?

(Actually, this particular wiki page needs some maintenance anyhow. Perhaps we can win back Tobias to improve some of his content.)

[2013-06-22 13:27] rlaemmel opened #300 "Contribution:Template deleted for now"
I am deleting Contribution:Template because it is so outdated.
Also, there is competing pieces of information elsewhere.
I am "saving" the deleted content below.
At some point someone would need to check whether we have this sort of information fully covered through the metamodel, the editing help or other bits.

<pre>
== Headline ==

Demonstrate xyz using [[Technology:Eclipse]] for [[Language:Cob

[2013-06-22 13:32] rlaemmel opened #301 "Confirmation dialog upon page delete"
cc @arkadi-schmidt

Arguably, the user should confirm "Delete".

[2013-06-22 13:33] tschmorleiz commented on #299
Table-syntax in wikitext is pretty strange, but I think people might expect to be able to use it. I think we should properly support it.

[2013-06-22 13:34] tschmorleiz commented on #301
This is actually purely client-sided, so let me take care of it.

[2013-06-22 18:39] avaranovich commented on #298
This is a bug, should be automatically redirected to Zipper_monad

[2013-06-22 18:48] tschmorleiz commented on #298
Yes, we had some URL rewriting before.

[2013-06-22 19:30] #301 closed, assigned to tschmorleiz

[2013-06-23 19:17] rlaemmel commented on #291
I suggest to map influencedBy to reviewedBy.
Having too many roles, at this stage, is not really helping.

[2013-06-23 19:34] tschmorleiz commented on #291
Agreed. Mapped the properties. In case of richerAndroid it was just some typo.

[2013-06-23 19:34] #291 closed, assigned to tschmorleiz

[2013-06-23 21:02] #295 closed, assigned to tschmorleiz

[2013-06-23 21:34] rlaemmel opened #302 "Top-level area (with search, login) behaving strangely"
cc @arkadi-schmidt @tschmorleiz

Please test with different browsers and resolutions.

I get strange behaviors quite often. In particular, it is not good when this area occupies a significant part of the screen without any obvious way of getting rid of it. Also, the gesture for actually showing the area (this icon with many lines) isn't very suggestive; it also kicks in when I zoom in / out, but w

[2013-06-24 22:11] rlaemmel commented on #298
This is still an issue.
http://101companies.org/wiki/Course:Programming%20in%20Koblenz
Is this well assigned to @burgua and @arkadi-schmidt ?

[2013-06-24 22:26] #298 closed, assigned to burgua

[2013-06-24 23:05] rlaemmel opened #303 "Rendering (linebreaks) broken"
http://101companies.org/wiki/Contribution:jdbc

See where this occurs:

[code]

Characters are cut off.

I tried this with both Chrome and Firefox and different zooms.

Is this some markup problem?

[2013-06-24 23:18] burgua commented on #303
CSS-Problem

[2013-06-24 23:35] #303 closed, assigned to tschmorleiz

[2013-06-24 23:37] tschmorleiz commented on #303
Yep, that is was.

[2013-06-25 00:15] rlaemmel opened #304 "Renaming seems to miss [[...|]] markup"
I just renamed and this markup remained:

[code]

It should have been renamed to Script:Database programming.

[2013-06-25 08:46] #304 closed, assigned to tschmorleiz

[2013-06-25 08:48] tschmorleiz commented on #224
@burgua Could you "install" the new bootstrap theme?

[2013-06-25 09:24] burgua commented on #224
@tschmorleiz sorry, I dont't have time for this in this week.

[2013-06-26 07:01] rlaemmel commented on #296
It did not happen universally.
It is important that it is never expanded.

[2013-06-27 10:11] tschmorleiz commented on #296
I changed is such that [X:Y|Y] is always rewritten to [X:Y|]. That is, it is only expanded when the link name and suffix match exactly.

[2013-06-27 12:57] rlaemmel opened #305 "Unexpected "_" to " " conversion in links"
cc @burgua @arkadi-schmidt

Please go here:

http://101companies.org/wiki/Technology:QuickCheck

It contains such markup:

[code]

It should be "_" in the link.

[code]

Amazingly, if I save it with "_" it comes back with " ".

This is a bummer because the wiki does not handle " "; it really needs the URL, as is, with "_"

[2013-06-27 13:02] rlaemmel opened #306 "Resources rendering with duplicate sections and entries"
cc @burgua @arkadi-schmidt

I see this a lot **after saving**: the same resources section shows up twice; see StackOverflow in the screen shot for Technology:QuickCheck.

I don't know whether this occurs elsewhere, but in this example, we also see the same entry several times; see the Haskell section in the snapshot. (This may be related to #305.)

![bug](https://f.cloud.github.com/assets/1208815/

[2013-06-29 09:17] #305 closed, assigned to tschmorleiz

[2013-06-29 11:27] #306 closed, assigned to tschmorleiz

[2013-06-30 13:16] rlaemmel opened #307 "Resource URL compression uses "www""
Please go here:

http://101companies.org/wiki/Technology:JBoss_Application_Server

It renders the following resource:

http://www.jboss.org/jbossas/

It groups it under "www" which is not revealing.

Should be "jboss" or "jboss.org" I guess.

This would be well in line what you are doing already.

[2013-06-30 22:16] rlaemmel opened #308 "No content must be lost upon save"
cc @arkadi-schmidt @burgua

I just saved a (long) page with a markup error of this form:

[code]

Everything beyond this point got lost.

Generally, really nothing should be lost upon save.

[2013-06-30 22:34] rlaemmel opened #309 "Headline pop-up broken"
cc @arkadi-schmidt @burgua

I was just playing here:

http://101companies.org/wiki/Technology:QuickCheck

If I would hover over "Haskell" or "testing" then eventually it would say this:

Page not found.

[2013-06-30 22:37] martinleinberger commented on #309
No bug - the complete 101worker system (and therefore the 101explorer, and therefore the wiki popups) seems to be down: http://data.101companies.org/

[2013-06-30 22:37] burgua commented on #309
Actually, any popup will show  'Loading' and 'page not found' because worker.101companies.org is down.

[2013-07-01 09:26] tschmorleiz commented on #309
Confirmed, this happens due to the down worker.

[2013-07-01 09:31] #187 closed, assigned to burgua

[2013-07-01 09:32] tschmorleiz commented on #308
Did you save a section or a whole page?

[2013-07-01 10:32] rlaemmel commented on #308
Whole page. (I mostly work in "whole page" mode when authoring content as it tends to touch several sections. I use "edit section" for patching.)

[2013-07-01 10:34] rlaemmel commented on #308
So my assumption is that the missing "===" somehow confused the parser.
However, it didn't throw away the metadata section that followed.
So perhaps I was editing the illustration section. I can't say for sure.

[2013-07-01 10:37] tschmorleiz commented on #308
Parsing issue indeed. The correct content is saved, but when retrieving sections the parser only gives us the content up to the part you mentioned. Working on this one.

[2013-07-01 10:39] tschmorleiz commented on #309
Did further investigation and it appears the discovery service (which is used for headlines) is broken in terms of the redirect functionality. Use this URL to reproduce:

http://101companies.org/resources?wikititle=Testing&format=jsonp

[2013-07-01 10:42] tschmorleiz commented on #309
In fact, using the URL this should redirected to I also get some error:

http://101companies.org/resources/concepts/Testing?format=json

[2013-07-01 10:46] martinleinberger commented on #309
nginx errors are not related to the discovery service. nginx is one step before the discovery service.

This is still related to the downtime of 101worker and that the URLs related to 101worker are not yet functional.

edit: 101worker simply got a new IP and if I understand this right, it just takes some time until the DNS services are aware of that. (Proof: http://data.101companies.org/dumps/ )

[2013-07-01 10:55] #307 closed, assigned to tschmorleiz

[2013-07-01 13:27] #309 closed, assigned to martinleinberger

[2013-07-01 14:27] #270 closed, assigned to avaranovich

[2013-07-01 14:32] #191 closed, assigned to burgua

[2013-07-01 14:32] #189 closed, assigned to burgua

[2013-07-01 14:37] #297 closed, assigned to burgua

[2013-07-01 14:39] burgua commented on #297
So it looks now (page is deleted)

![bug42_20130701_163806](https://f.cloud.github.com/assets/123756/730769/fa8b8978-e25b-11e2-840f-f5c205eba069.png)

[2013-07-01 14:40] burgua commented on #270
Even, if smth is gone bad -> we render filename (testpage is deleted)

![bug42_20130701_163806](https://f.cloud.github.com/assets/123756/730775/2b70c2ba-e25c-11e2-9228-c7dbbc7b1f5e.png)

[2013-07-01 15:54] avaranovich commented on #270
the question is how we distinguish really broken fragments VS those which are not yet processed by the worker.

[2013-07-02 11:53] burgua commented on #270
I would say so:

![contributionantlrlexer_20130702_130724 png_20130702_134718](https://f.cloud.github.com/assets/123756/736182/fd93bb7e-e30d-11e2-9a5a-7bd58095cfe4.png)

[2013-07-02 12:25] martinleinberger commented on #270
Just an FYI:
- the explorer service depends on the worker cycle to return fragments and contents of files
- returning namespace members (which are essentially folders) depends on the existence of a wiki page - so before it can successfully return a new contribution, it needs to run the wiki2json and the members modules
- however, when just a new file is added to the existing stuff, he can return t

[2013-07-02 14:31] #286 closed, assigned to burgua

[2013-07-02 14:43] burgua commented on #286
So, you can add attribute name to <file> tag.

E.g. for http://101companies.org/wiki/Contribution:antlrLexer you have such markup

[code]

![contributionantlrlexer_20130702_164156](https://f.cloud.github.com/assets/123756/736957/9851bf28-e325-11e2-9915-81cd3021bfd7.png)

[2013-07-05 21:36] rlaemmel opened #310 "Content gets lost on save"
I had this now twice and each time I have lost substantial amount of work. Basically, when saving a page, it happens that all changes are ignored and the page returns as before. I don't understand when this happens, but we need more robustness here.

[2013-07-05 21:38] rlaemmel commented on #310
I found the culprit.

Save fails to save when we have this:

[code]

We should have this:

[code]

So this is also an issue that @martinleinberger needs to address because the wrong markup comes right from the explorer (from the "absolute markup" item).

Anyway, please do not NOT save.

[2013-07-06 11:02] martinleinberger commented on #310
Should be fixed. Can you confirm that it is now as intended?

[2013-07-12 20:51] #271 closed, assigned to burgua

[2013-07-13 16:54] rlaemmel opened #311 "Clean up http://101companies.org/wiki/Namespace:Vocabulary"
Perhaps some unused vocabularies.

Definitely some confusing between isA and instanceOf for connecting specific vocabularies to the namespace.

[2013-07-13 17:06] rlaemmel opened #312 "CCS or something related in misery?"
cc @burgua @tschmorleiz @avaranovich

Did you guys change something in the CSS or related stuff?

When **editing** wiki pages I get strange cursor positions.

Just restarted Chrome and things changed, but they are still weird.

How to reproduce? Just edit any page and see where the cursor shows relative to the true position.

[2013-07-13 17:16] rlaemmel commented on #312
I also tried Firefox because editing is rather impaired this way.
Same problem.

[2013-07-13 17:16] tschmorleiz commented on #312
This happened due to recent CSS changes. Will fix.

[2013-07-13 17:39] #312 closed, assigned to arkadi-schmidt

[2013-07-13 17:41] #192 closed, assigned to burgua

[2013-07-13 17:58] rlaemmel commented on #312
It is not fixed as far as I can tell.

[2013-07-13 17:59] tschmorleiz commented on #312
Hm, when I go to some random page and hit edit the cursor writes where it is.

[2013-07-13 18:41] rlaemmel commented on #312
1. Please load some page.
2. Try to double-click all words of the headline one, after another.
3. Observe how the wrong strings get focused.

[2013-07-13 18:58] rlaemmel commented on #312
This may depend on zoom level.

[2013-07-13 21:17] burgua commented on #312
Application is need to be developed from perspective of using (latest Chrome, 150% zoom). So I fixed it. Pretty strange and interesting issue by the way, ace-editor couldn't be used, if editor is wraped with DOM-element, that uses non-monospaced font.

[2013-07-17 11:47] rlaemmel opened #313 "101wiki not loading completely"
cc @arkadi-schmidt @burgua @avaranovich

http://101companies.org/wiki/Local_scope

<pre>
Illustration
Loading...

Metadata
Loading...
</pre>

[2013-07-17 12:32] #313 closed, assigned to tschmorleiz

[2013-07-17 12:37] rlaemmel opened #314 "Finish contribution integration for the F# contributions"
cc @burgua

@MightyNoob is just sitting here and we talk about how to finalize his project.

As you were working with him on the contribution process, please finish as follows:
- The actual contributions are here: https://github.com/MightyNoob/contributions
- They are not registered in .gitdeps; please add.
- There are duplicates; please see here for all the FSharp contributions: http://101compani

[2013-07-17 13:13] rlaemmel opened #315 "Finalize contribution integration for DWH stuff"
cc @burgua

@ydupont is just visiting.

He has this contribution:

http://101companies.org/wiki/Contribution:pyDWH

I understand that Yves was also playing with your contribution page.

Let's stop this for him so that we can link his stuff now.

I am explaining him now how to use .gitdeps.

[2013-07-17 13:15] burgua commented on #314
Duplicates removed,
added repos to .gitdeps in 101repo
Contributions of @MightyNoob : http://101companies.org/users/51a0c56ad54b7b301d000003

[2013-07-17 13:15] #314 closed, assigned to arkadi-schmidt

[2013-07-17 13:29] burgua commented on #315
@ydupont hasn't worked with contribution page.

To link his contribution to wiki page he need to visit http://101companies.org/contribute/new
and create actually the contribution using his repo pyDWH

As contribution title he needs to use 'pyDWH' (it will be actually used automatically).
His contributions will be available via http://101companies.org/users/5173be15d54b7bf443000009

[2013-07-17 21:46] #190 closed, assigned to burgua

[2013-07-19 10:27] rlaemmel opened #316 ".gitdeps goes mongodb"
cc @arkadi-schmidt @burgua @tschmorleiz @avaranovich @martinleinberger @kevin-klein

This issue is based on a recent discussion with @burgua and @arkadi-schmidt .

I kindly ask @avaranovich and @tschmorleiz and @martinleinberger and @kevin-klein to comment.

The repo data for contributions (name, github URL) is now stored in mongodb. The .gitdeps file is arguably becoming obsolete.

However, 101wo

[2013-07-19 10:54] rlaemmel opened #317 "admin feature to add existing contributions to the database"
cc @burgua

@avaranovich and @tschmorleiz and @martinleinberger , do you want to comment on this one?

We need a simple way to effectively add contributions after the fact.

Arguably, the database should know of all contributions as opposed to only those that would be submitted in the future.

Here is what I believe are the needed sub-features:
- Select a contribution name.
- Optionally, check tha

[2013-07-19 11:02] martinleinberger commented on #316
Just adding some info:

I think the only two things that use the pull101repo dump are the explorer service (for the Github link) and the sourceLinks service (used by the wiki, again for the Github link).

The dump is not solely based on the .gitdeps file, but also on the copy processes that pull101repo does. The "subdirsonly" mode makes this necessary. So I think it's not possible to do this from

[2013-07-19 11:15] rlaemmel opened #318 "contributor names and pages"
cc @burgua

@avaranovich and @tschmorleiz : we need your comment on this one.

Until now, we assume that contributors should get / have a page in the "Contributor" namespace where we use the pattern "FirstName LastName".

We need to rethink and improve on this front.

Some observations:
- We should not require from contributors that they create pages.
- We sort of do need pages, though because we

[2013-07-19 11:17] rlaemmel commented on #317
Perhaps we should properly distinguish between "submitter" versus github user.

Normally, this is the same person: the submitter selects a repo to which she has access.

However, when an admin "submits" a contribution (in the special sense discussed earlier), the two users would be different.

[2013-07-19 14:13] avaranovich commented on #316
it is easy to access mongodb from the worker in python, to read the necessary information. Please also remember,  .gitdeps is also used by the wiki client to generate github link for the contribution page.

[2013-07-19 14:17] avaranovich commented on #318
Why not to use github username? It is also unique. If the user wants -- he can add the real First/Last name to his profile on 101companies.

The process of getting "developers" boils down to querying the github repo and selecting all users who pushed code.

[2013-07-19 15:09] martinleinberger commented on #316
There is an important note in issue #317:

_This brings up the interesting issue as to how we should deal with "bulk repo" such as 101repo which contains dozens of contributions. Currently, we deal with them with a single entry in .gitdeps, but I think we should indeed have individual entries in the future._

If this is implemented, and if its not possible to do other bulk inserts (like exploiting

[2013-07-19 18:44] rlaemmel opened #319 "Handle all users"
I guess we need to do this:
- Ask old users for their github id.
- Ask them to take back their contributions into their github space, when appropriate.
- Ask them to add 101companies and others as collaborators.

[2013-07-20 01:56] ydupont commented on #315
Actually I did work with it, but AFAIR it took some time for the page to load. The first time it timed out completly.
I will retry to post it via "contribute/new" once I reorganized the repository.

Cheers,
Yves

[2013-07-20 14:26] burgua commented on #292
new search is implemented and deployed

[2013-07-20 14:26] #292 closed, assigned to burgua

[2013-07-20 14:30] burgua commented on #302
Navbar area looks so now, if you use 150% zoom
(logo + search field + user menu) placed in 1 line

![101project_20130720_162707](https://f.cloud.github.com/assets/123756/830356/94a6f7d6-f148-11e2-8f3f-be135f8c34f6.png)

[2013-07-20 14:30] #302 closed, assigned to burgua

[2013-07-25 15:22] #268 closed, assigned to burgua

[2013-07-25 22:19] rlaemmel opened #320 "sameAs and friends"
cc @ToLuKe @todeslord @avaranovich

We would like to quickly proceed and deploy more predicates.

So we need informed input on the follow ideas.

Based on previous conversations, these are some candidates:
- sameAs (Two pages are concerned with the ontological same concept.)
- similarTo (Weaker than sameAs, but still ontologically similar.)
- opposite
- dual

For "sameAs" and "similarTo" two modes

[2013-07-25 22:33] rlaemmel opened #321 "instanceOf versus rdfs:type"
cc @todeslord @ToLuKe @avaranovich

I am not an RDFS expert yet.

So please be careful with reading this.

We would like to improve (rapidly) are RDFS-related level of best practices enforcement.

Here is what have now:
- rdfs:type is not really used explicitly.
- instanceOf is one of the 101wiki predicates and we use it with namespaces as objects to associate members with their namespaces, or you

[2013-07-26 14:01] martinleinberger commented on #310
I assume that this is solved, therefore I'll close this issue. Please reopen if there are still problems.

[2013-07-26 14:01] #310 closed, assigned to martinleinberger

[2013-07-26 14:02] #26 closed, assigned to martinleinberger

[2013-07-27 13:22] #188 closed, assigned to burgua

[2013-07-27 13:26] rlaemmel opened #322 "Alternatives to linking to English Wikipedia pages?"
cc @todeslord @ToLuKe
cc more broadly @avaranovich @martinleinberger

Currently, we link to English wikipedia pages whenever we look for a definitive or related resource for a given 101wiki page.

Open questions:
- What are the exact drawbacks of this approach other than committing to an English resource?
- Could we / should we use instead dbpedia, Wikidata?

[2013-07-27 14:53] burgua commented on #195
no more actual

[2013-07-27 14:53] #195 closed, assigned to burgua

[2013-07-27 14:53] arkadi-schmidt commented on #265
no more actual

[2013-07-27 14:53] #265 closed, assigned to arkadi-schmidt

[2013-07-29 16:12] rlaemmel opened #323 "Use github ids for contributors on the wiki"
cc @avaranovich @arkadi-schmidt @burgua

So we want to get rid of "Contributor:Thomas Schmorleiz" and use "Contributor:tschmorleiz" instead where tschmorleiz is Thomas Schmorleiz' github id. Old contributor pages can be removed. The new contributor pages would essentially redirect to the page that Arkadi and Alex already have, e.g.:

http://101companies.org/users/519e1329d54b7bdc6200000b

This mig

[2013-07-29 16:17] rlaemmel opened #324 "What is the conceptual design of the contributor page?"
cc @burgua @tschmorleiz @avaranovich

http://101companies.org/users/519e1329d54b7bdc6200000b

This sort of page is becoming important!

So we need to think deep and proper as to what it should show and how to obtain the information.

Could you please prepare a proposal that we can discuss offline from github through email and during team meetings?

[2013-07-29 22:01] rlaemmel opened #325 "perf of wiki page loading too slow"
cc @avaranovich

Haven't done much wiki usage for the last 2-3 weeks.
Slowly using it more again.
It is very slow.

[2013-07-30 10:01] rlaemmel opened #326 "Validation of 101wiki pages"
cc @todeslord @ToLuKe @martinleinberger @kevin-klein @tschmorleiz @avaranovich

I am not sure how to break down this monster issues into small issues.

I am also not clear on what is working already and what's not.

Here is overall what we need:
- We need executable metamodels for some (all) namespaces.
- Actual wiki pages need to be continuously validated.
- Validation errors need to be communica

[2013-07-30 10:09] rlaemmel opened #327 "Review/revise triple store schema and migrate 101wiki to actually use the schema"
cc @todeslord @ToLuKe @tschmorleiz @martinleinberger @avaranovich

The schema in the LinkedData paper (which is also currently available here https://github.com/101companies/101worker/tree/master/schemas) is not in full sync with the actual triple store.

In particular, the actual store uses a different URI scheme.

We arrived at the URI scheme in the schema after some discussion which tried to mo

[2013-07-30 10:13] rlaemmel opened #328 "wiki endpoint too slow"
cc @tschmorleiz @martinleinberger

This may relate to #325

I just tried a few times this.

I explored: http://101companies.org/resources/contributions/antlrAcceptor?format=html

Then I clicked endppoint: http://101companies.org/endpoint/Contribution:antlrAcceptor/json

Just got a server error.

Before that I got a very slow response.

[2013-07-30 10:17] rlaemmel opened #329 "schema for endpoint"
cc @todeslord @ToLuKe @martinleinberger @tschmorleiz @avaranovich

To see endpoint in action, go here for example:

 http://101companies.org/resources/contributions/antlrAcceptor?format=html

Then click endpoint.

The kind of JSON that is returned is the triples relating to the selected namespace member.

Currently, we only provide this sort of triple set in JSON (I believe). Not sure whether we w

[2013-07-30 10:38] rlaemmel opened #330 "backlinks feature holding back mediawiki shutdown"
cc @avaranovich

Please push this through so that @burgua and @arkadi-schmidt can proceed.

[2013-07-30 11:26] rlaemmel opened #331 "perf tests for the 101wiki"
cc @arkadi-schmidt @avaranovich @tschmorleiz

I guess we should discuss this topic a bit.

Since performance of basic page browsing / editing is going down time and again and this is not surprising, I would like to propose that we automate some basic perf testing so that we don't need to rely on user reports like this.

Any ideas?

[2013-07-30 11:30] rlaemmel opened #332 "identifies not rendered"
http://101companies.org/wiki/@haskell

Please see that there are TWO identifes triples.

Only one gets rendered.

PS: Getting very slow loads and sometimes no metadata at all.

[2013-08-01 14:14] martinleinberger opened #333 "Working links are rendered red"
After some renaming, some working links are rendered red. Currently this happens on
- the [IO behavior](http://101companies.org/wiki/IO_behavior) page, in the description section, the IO behavior link
- the [Pure IO behavior](http://101companies.org/wiki/Pure_IO_behavior) page in the headline (again, a link to IO behaviour)
- also on [Impure IO behavior](http://101companies.org/wiki/Impure_IO_beha

[2013-08-08 11:36] rlaemmel opened #334 "101integrate links are broken"
cc @avaranovich

Please go here:

http://101companies.org/wiki/Monad

Then hover over the Haskell books.

Nothing happens.

[2013-08-11 21:13] tschmorleiz commented on #334
Should be fixed.

[2013-08-11 21:35] #332 closed, assigned to tschmorleiz

[2013-08-11 21:37] tschmorleiz commented on #330
We agreed @burgua would implement that backlinks are directly stored in the model that is persisted in mongoDB.

[2013-08-11 21:46] burgua commented on #330
This question need clarification -> we need sync with sesame store @avaranovich

Feel free to help with this here https://github.com/101companies/101rails/blob/dev/app/models/page.rb#L54

[2013-08-11 21:50] tschmorleiz commented on #330
I think all functionality to store the page in RDF is implemented. But indeed, we should refactor that code to that method you pointed to.

[2013-08-12 11:04] burgua commented on #330
Retrieved all info I need from @avaranovich . I do it further

[2013-08-12 15:00] ydupont opened #335 "Reset of wiki articles"
Hello Thomas,

cc @avaranovich

last week (03.08 - 05.08) I worked on several wiki articles.
Today I saw that they somehow got reset. One page I created isn´t even there anymore. The other one has lost all it´s edits.

http://101companies.org/wiki/Contribution:pyDWH (lost edits)
http://101companies.org/wiki/Feature:Dimensionality (lost page)

BTW: In case I assigned the issue to the wrong person p

[2013-08-12 15:06] tschmorleiz commented on #335
Hey Yves,

was the page saved at some point during the time you edited?

[2013-08-12 15:07] burgua commented on #335
@ydupont is it fixed now?

[2013-08-12 15:11] ydupont commented on #335
Hey guys,
now it looks like I left it!

Thanks

[2013-08-12 15:18] burgua commented on #335
@ydupont can you close if it's ok?

[2013-08-12 15:24] ydupont commented on #335
@burgua yes, its complete. Thanks for the quick help.

[2013-08-12 15:24] #335 closed, assigned to burgua

[2013-08-12 16:17] burgua commented on #330
And now closing it.

[2013-08-12 16:17] #330 closed, assigned to burgua

[2013-08-12 17:01] burgua commented on #333
No more actual after stoping work with mediawiki

[2013-08-12 17:01] #333 closed, assigned to burgua

[2013-08-12 19:08] burgua commented on #160
No actual since May

[2013-08-12 19:08] #160 closed, assigned to burgua

[2013-08-15 05:56] rlaemmel opened #336 "Eliminate per-section loading"
cc @tschmorleiz
cc @avaranovich
cc @arkadi-schmidt

We are sitting on this already for a while. Our load perf is not acceptable. (I cannot say much about current save perf.)

I am pretty confident that one huge perf issue is the **per-section load approach** which leads to too many requests which in turn lead to connection congestion and and a quasi-synchronous/sequential loading behavior.

Happy

[2013-08-15 13:43] avaranovich commented on #336
Think about this: many sections contain fragments. Rendering fragments involves fetching the content from 101explorer and rendering it using the right language syntax. If the whole page is rendered on the server, then the rendering time = rendering wiki content + getting all fragments from 101explorer + rendering all fragments.
At this point, we don't have any evidence, that async rendering is rea

[2013-08-20 11:20] rlaemmel commented on #334
http://101companies.org/wiki/Monad

The book references are unfoldable for as long as metadata has not completed loading.

Once the page is loaded completely, when hovering over the book names, nothing happens.

[2013-08-20 11:29] rlaemmel opened #337 "Metadata incompletely listed"
cc @avaranovich
cc @burgua
cc @arkadi-schmidt

Please go here:

http://101companies.org/wiki/Contribution:haskellStarter

Please observe:

<pre>
* [[implements::Feature:Flat company]]
</pre>

Now go here:

http://101companies.org/wiki/Feature:Flat_company

Contribution:haskellStarter is not listed in the metadata section.

![image](https://f.cloud.github.com/assets/1208815/992918/ad2f4500-098b-11e

[2013-08-20 11:35] rlaemmel commented on #328
When I discussed this last week with @burgua and also from my observation, this was still a big issue.
It looks like the endpoint is occasionally failing and very slow.
What is the status here?
Is the problem understood?
Do we need to redesign?
@burgua , any ideas how to drive this issue to closure?
I understand that this may be a non-trivial problem.

[2013-08-20 11:38] rlaemmel commented on #308
This needs to be solved in a simple and universal way.
The parser must not ever loose any chars.
If the parser does not know further, then a general fall back must apply so that all chars contribute to the current section.

BTW, does the parser and the page model work ok with pages without any section headers? If not, it should, otherwise we don't have a general solution.

[2013-08-20 11:41] burgua commented on #328
Problem is clear, trivial and in work since yesterday (https://github.com/101companies/101rails/tree/dev)
2 days are needed to solve it.
Reassigning to me.

[2013-08-20 12:11] rlaemmel opened #338 "github-based versioning incl. mongodb-level support"
cc @arkadi-schmidt
cc @tschmorleiz
cc @avaranovich

Now with mongodb being our only storage backend, we need to go forward and get versioning and all this together. We have had discussions on this a few times. Ready to go, I would say.

This is quite a feature and I try to collect here the bigger points I know about.
## Some logistics
- Who is doing this? I would prefer if @burgua and @arkadi-schm

[2013-08-20 18:41] rlaemmel commented on #337
Just to explain further, loads of metadata is missing.
For instance, look here:
http://101companies.org/wiki/Feature:Mentoring
It looks like there is no implementation of mentoring which is not true of course.
Here is one:
http://101companies.org/wiki/Contribution:haskellProfessional

Could it be that perhaps that only outgoing metadata is listed (with this as subject)?

[2013-08-20 19:41] burgua commented on #337
Yes, according to implementation.

[2013-08-20 20:55] tschmorleiz commented on #337
Yes, we only list outgoing metadata, but still this "implements"-triple is missing. Will look into it next week.

[2013-08-20 21:14] rlaemmel commented on #337
Sorry don't understand.
We always listed both ways.

[2013-08-20 21:48] tschmorleiz commented on #337
Listed in the source of the document.

[2013-08-20 21:49] tschmorleiz commented on #337
In fact, http://101companies.org/endpoint/Monad/json only contains outgoing triples. I am pretty sure though that this was not touched by me in quite some time. @avaranovich Did you change something?

[2013-08-20 22:28] burgua commented on #338
1. If you are talking about Pages - "rename" is just rename + fixing backlinks.
2. What do you mean under "reasonable way"?

[2013-08-20 22:40] rlaemmel commented on #338
Re: If you are talking about Pages - "rename" is just rename + fixing backlinks.

That's the behavior that we have. Not referring to this level of feature. I am just referring to the fact that MongoDB must, of course, record the fact of deletion so that deletion can be propagated to github.

Re: What do you mean under "reasonable way"?

Yes, nothing more than propagating it to github, eventually.

[2013-08-22 10:40] burgua commented on #337
I changed smth and I know how to solve.
Reassigning.

[2013-08-22 11:39] burgua commented on #39
Users imported, associated rights granted.

[2013-08-22 11:39] #39 closed, assigned to burgua

[2013-08-22 11:45] burgua commented on #71
Closing this epic.
Only 2 not closed tickets exist now:

101companies/101wiki#193
101companies/101wiki#196

[2013-08-22 11:45] #71 closed, assigned to burgua

[2013-08-22 12:07] burgua commented on #308
I will have time for it in 1 week.

[2013-08-22 12:09] burgua commented on #325
Divided in 2 issues

https://github.com/101companies/101wiki/issues/328
https://github.com/101companies/101wiki/issues/336

[2013-08-22 12:09] #325 closed, assigned to tschmorleiz

[2013-08-22 12:12] burgua commented on #319
@rlaemmel is it still actual, when we will do https://github.com/101companies/101wiki/issues/317 ?
It looks no more actual now.

[2013-08-22 19:01] burgua commented on #328
@rlaemmel
performance is improved.
Acceptable now?

[2013-08-22 19:44] rlaemmel commented on #328
Ultimately, a perf test may help here.
What I saw I liked.
Thanks!

[2013-08-22 19:44] #328 closed, assigned to burgua

[2013-08-22 19:51] rlaemmel commented on #334
Just for clarity.

Try loading Monad; try hovering over the books.

The book items will not unfold; the other times do unfold.

![image](https://f.cloud.github.com/assets/1208815/1011849/436271f8-0b64-11e3-83fd-8d099fddeee0.png)

[2013-08-22 20:35] tschmorleiz commented on #334
Please try.

[2013-08-23 10:18] rlaemmel commented on #334
Works. Thanks.

[2013-08-23 10:18] #334 closed, assigned to tschmorleiz

[2013-08-23 10:22] burgua commented on #111
implemented in #150

[2013-08-23 10:22] #111 closed, assigned to avaranovich

[2013-08-23 13:20] rlaemmel commented on #111
Cute! :-)

[2013-08-24 20:43] rlaemmel opened #339 "wiki2json failing"
<pre>
From: <softlang@uni-koblenz.de>
Date: Sat, Aug 24, 2013 at 11:00 PM
Subject: [101worker] Execution Status Report
To: 101companies@gmail.com

Status  Module
OK  pull101repo
OK  pull
OK  pullLibraries
OK  build
OK  gatherGeshi
OK  rules101meta
OK  matches101meta
OK  geshi101meta
OK  metrics101meta
OK  refineTokens
OK  validate101meta
OK  extract101meta
OK  predicates101meta
OK  fragments101met

[2013-08-26 11:08] burgua commented on #331
depends on https://github.com/101companies/101wiki/issues/336

[2013-08-26 12:40] burgua commented on #337
@rlaemmel @tschmorleiz @avaranovich missed smth now?
If not -> you can close it.

[2013-08-26 12:45] rlaemmel commented on #337
Looks great again

[2013-08-26 12:45] #337 closed, assigned to burgua

[2013-08-27 15:27] rlaemmel commented on #308
@tschmorleiz

@burga was just showing me the problem _again_.

It looks like it is not in the server-side parser but on the way to or on the side of the client.

Anyway, looks like this in your code.

This code looks rather hard to edit for anyone but you.

More generally, can you fight this down (even when I am not making sense about the guessing here).

Ralf

[2013-08-27 15:29] rlaemmel commented on #260
@tschmorleiz

What is the conclusion here? I don't understand your response. Is this issue to be closed?

Thanks,
Ralf

[2013-08-27 15:36] rlaemmel commented on #336
I am closing this for now because
the perf seems to be Ok for now
which is presumably the result of several, other changes by @burgua and @arkadi-schmidt.
Let's keep an eye on this.

[2013-08-27 15:36] #336 closed, assigned to burgua

[2013-08-27 15:55] tschmorleiz commented on #308
I just tried to reproduce and created a page with such incorrect syntax. Please look here:

http://101companies.org/api/pages/Issue:Parsing1

As you can see the _content_ was saved as expected, but the it is not correctly parsed into _sections_.
This is the JSON is use to display pages, I don't modify or reparse it, I just the the source and the parsed source that the server provides.

It should b

[2013-08-27 16:10] tschmorleiz commented on #308
@burgua, do you have an idea why the parser might behave so badly? I guess we can fight this down.

[2013-08-28 09:53] rlaemmel opened #340 "pages load incompletely and slowly"
cc @tschmorleiz @martinleinberger

Just tried this

http://101companies.org/wiki/Contribution:haskellEngineer

(after @avaranovich had informed about the worker to be back again).

It loaded section by section very slowly.

More importantly, it got stuck at the "Illustration" section.

![image](https://f.cloud.github.com/assets/1208815/1041038/921b515e-0fc7-11e3-9e62-76fbad1f2894.png)

[2013-08-28 10:01] burgua commented on #340
Reloaded nginx for 101rails/wiki.
Now new IP of worker will be resolved.
Section "Illustration" works for me

[2013-08-28 11:28] burgua commented on #308
Parse entire page and split in sections by <h[N]> on the client?

[2013-08-28 11:58] tschmorleiz commented on #308
Why would the client do that? All parsing is done on the server, so splitting the resulting HTML into sections on the client seems strange. Also, the JSON needs to directly correspond to the model of pages we have on the client, where a page has a list of sections.
I think we should just get the existing functionality (splitting on server) back to working.

[2013-08-29 07:23] rlaemmel commented on #308
I suggest to treat this issue as non-high prio, but it would be good to hear whether the issue is correctly assigned to @burgua or whether @tschmorleiz should be assigned.

[2013-08-29 07:26] rlaemmel commented on #340
See screen grab below.

Illustration loads somehow (after waiting like 10 secs) but it's screwed up.

In addition, the page finishes loading only after like 1 min.

![image](https://f.cloud.github.com/assets/1208815/1047840/50f622d4-107c-11e3-992a-dbf803127acf.png)

[2013-08-29 07:53] rlaemmel commented on #340
I should probably add that I remember the wiki client did render things like shown above (i.e., sort of listing a table of contents) already some time ago. @tschmorleiz fixed this.

Further, I should add that it took nearly 10 seconds even for anything to show in the section.

Below, the table of contents, things are rendered fine, btw.

[2013-08-29 07:59] burgua commented on #340
I forgot about part with removing toc (table of contents) - will update today.

[2013-08-29 12:54] rlaemmel opened #341 "Add help for adding a code snippet"
So this should add a button to this editing view:

![image](https://f.cloud.github.com/assets/1208815/1049620/136ab1c2-10aa-11e3-9e76-6ce7255399a6.png)

The button could be called "Code".

It should insert something like this:

[code]

[2013-08-29 13:08] rlaemmel opened #342 "Cannot add pages anymore"
cc @tschmorleiz @burgua @arkadi-schmidt

Go here:

http://101companies.org/wiki/Contribution:haskellScott

Click "Scott Encoding" (which is red).

I had two different behaviors:
- First the loading of the empty page didn't terminate; the edit button would never show.
- Once I tried again, I would get this error:

![image](https://f.cloud.github.com/assets/1208815/1049685/f7f897ea-10ab-11e3-8d03-08

[2013-08-29 14:31] burgua commented on #342
Looks resolved now

[2013-08-29 18:42] #341 closed, assigned to tschmorleiz

[2013-08-29 18:45] tschmorleiz commented on #341
You can also highlight some code with your cursor and then press the button. That will enclose the code with the tags.

[2013-08-29 18:58] rlaemmel commented on #341
Cool

[2013-08-29 21:01] tschmorleiz commented on #299
Please have a look at the page.

I applied some bootstrap magic and changed the font-size. Not sure about the font though, maybe we should rather ask Tobias to make the table more compact.

Any opinions?

[2013-08-29 23:02] rlaemmel commented on #299
Technically this looks good now.
Not high prio to have super-robust support.
So I am closing.
Thanks!

[2013-08-29 23:02] #299 closed, assigned to burgua

[2013-08-30 01:11] tschmorleiz commented on #308
I slightly changed the parser. Now, when a line starts with header syntax "={2,6}" missing trailing "="s are completed. This makes things more robust and should fix this issue.

[2013-08-30 01:11] #308 closed, assigned to burgua

[2013-08-30 01:11] tschmorleiz commented on #260
Fixed by fixing #308.

[2013-08-30 01:12] tschmorleiz commented on #260
Actually seems to be unrelated.

[2013-08-30 02:05] tschmorleiz commented on #260
Now fixed, some tiny bug in the stack-based parsing of sections :) For demonstration I changed http://101companies.org/wiki/Feature:Editing back to using "====".

[2013-08-30 02:05] #260 closed, assigned to avaranovich

[2013-08-30 17:14] tschmorleiz commented on #259
What syntax are we using to embed PDF files? Do you have such syntax?

[2013-09-02 14:52] burgua commented on #342
@rlaemmel could you close it, if it works ok?

[2013-09-02 15:15] rlaemmel commented on #342
Thanks

[2013-09-02 15:15] #342 closed, assigned to burgua

[2013-09-03 14:29] tschmorleiz opened #343 "Search returning server error"
Please look here:

http://101companies.org/search?q=foo

I keep getting a server error for any search term. Other wiki pages are working.

[2013-09-03 14:36] burgua commented on #343
Closed before you written the ticket.
How is weather in Canada?

[2013-09-03 14:36] #343 closed, assigned to burgua

[2013-09-20 15:28] rlaemmel opened #344 "Search for strings of multiple words"
// cc @burgua

Try searching, for example, for "Functional programming" (both with and without quotes in the field for the search string of the wiki).

It will return (it seems) all pages with EITHER "functional" or "programming".

It should return all pages with the string "functional programming" (no matter the casing).

[2013-09-20 15:59] avaranovich opened #345 "Introduce a semantic property to complement "mentions""
For example, http://101companies.org/wiki/Contribution:haskellComposition
has "Thus, data variation is not exercised".

"data variation" should be used with different markup.

[2013-09-20 16:04] avaranovich opened #346 "Schema for the wiki properties"
[code]

[2013-09-23 09:55] avaranovich opened #347 "Restore pages for semantic properties"
Have a look at the list of properties
http://101companies.org/wiki/Namespace:Property

all of them had pages in the old mediawiki. Probably they were lost during the migration.

[2013-09-23 12:20] avaranovich commented on #346
The schema should be finally mapped to RDF schema of the triple store https://github.com/101companies/101rails/issues/52

[2013-09-23 13:39] avaranovich opened #348 "Escaping symbols in Metadata section"
For example, here http://101companies.org/wiki/Software_language
we have Tool%defined language
with "%" symbol. This is wrong rendering.

[2013-09-23 17:23] #348 closed, assigned to tschmorleiz

[2013-09-26 11:54] #339 closed, assigned to avaranovich

[2013-09-26 11:55] avaranovich opened #349 "Store headline for the page"
Please store the headline (if any) in the database.

[2013-09-30 10:04] avaranovich opened #350 "Properties missing for some pages"
these pages don't have required properties (e.g. 'page_title_namespace') stored in the database:

Function_composition
## Function_composition

101demonstration
101implementation
101model
Foo
Foo1234
Foo17
Foo18
Foo3
Fooo123
Foop
Foop1
Foop1234
Foop12345
FoopNEW
Foop Bar2
Foop module
Foopbarss
Foops
Foops2
NewFoop
·
fsharpContributionMightyNoob
mySqlOneExtended
template
Annual employee review
Bonu

[2013-09-30 10:13] burgua commented on #350
I assume, that these pages were found using **direct** access to mongodb.
You need to filter them. Deleted pages have non-empty property **deleted_at**.
You can read more here: http://mongoid.org/en/mongoid/docs/extras.html#paranoia

[2013-09-30 11:40] #350 closed, assigned to burgua

[2013-10-04 15:14] rlaemmel opened #351 "Cannot use 101companies@gmail.com on the wiki page"
cc @arkadi-schmidt

101companies@gmail.com

is rendered as

101gmail.com

[2013-10-04 15:15] rlaemmel commented on #351
On this page, I am using -at- instead of "@" to make the bug disappear.

http://101companies.org/wiki/@repo

cc @tschmorleiz

[2013-10-04 15:37] #351 closed, assigned to burgua

[2013-10-04 15:38] tschmorleiz commented on #351
This was client-sided, so I closed it.

[2013-11-04 18:08] #193 closed, assigned to burgua

[2013-11-12 19:55] rlaemmel opened #352 ""#" not support in "linksTo:""
http://101companies.org/wiki/Acceptor

The "#" in the Wikipedia link does not show. The link is crippled.

[2013-11-12 22:25] rlaemmel opened #353 "coverage broken"
We used to have these views:

http://data.101companies.org/resources/themes/Haskell%20introduction/coverage.html

http://data.101companies.org/resources/languages/Haskell/coverage.html

The latter is needed in the current paper. Since even names have changed meanwhile, we need to get this going again.

[2013-11-12 22:49] rlaemmel opened #354 "Per book monitoring"
Perhaps fixing #353 is not even worth it.

We need something else.

That is, we need that kind of matrix "terms \* contributions" per book.

To this end, I suggest the following.

All 4 books deserve to become an instance of an appropriate namespace:

We do have this namespace, but perhaps we want something else.

http://101companies.org/wiki/Namespace:Resource

(Perhaps, "resource" is misleading;

[2013-11-12 23:00] rlaemmel commented on #354
That's what it should show I guess.

Terms are listed vertically and ordered by the number
of referring contributions. Contributions are listed horizontally and
ordered by the number of directly referenced terms. The big bullets indicate proper references
indeed, whereas the small bullets report on indirect references. For
each term, the counts of directly and indirectly referring
contributions ar

[2013-11-12 23:15] rlaemmel commented on #354
I am lowering the prio on this one as the sort of outdated figure in the paper does not claim up-to-dateness anyhow. Eventually we need to do a feature push. It looks like we are losing various views that we used to have. On top of this, it is not easily discoverable what we do have. So this is pretty much unlinked data.

cc @martinleinberger @kevin-klein @tschmorleiz

[2013-11-13 00:52] rlaemmel commented on #354
Arguably, "features" should be treated the same way as contributions.

[2013-11-13 17:35] #353 closed, assigned to avaranovich

[2013-11-13 17:36] avaranovich commented on #354
I fixed several failing modules; the data is now up to date

[2013-11-13 17:49] rlaemmel opened #355 "HaskellBarchart versus haskellBarchart"
We do have

http://101companies.org/wiki/Contribution:haskellBarchart

But look here:

http://data.101companies.org/resources/languages/Haskell/coverage.html

where it is upper case HaskellBarchart

There is strangely this:

http://101companies.org/wiki/Course:HaskellBarchart

[2013-11-14 22:22] rlaemmel opened #356 "parOf not working"
cc @avaranovich

I don't think this is a bug bc we are not at the point that new properties work magically; perhaps such magic is needed. Certainly, support for "partOf" (see below) is needed.

Look here:

http://101companies.org/wiki/Technology:GHC

It declares itself to be part of Haskell Platform.

Now look here:

http://101companies.org/wiki/Technology:Haskell_Platform

No mentioning of GHC.

[2013-11-14 22:30] rlaemmel opened #357 "features are instanceOf not isA relative to classes of requirements"
Look here:

http://101companies.org/wiki/Feature:Cut

We have these triplets, for example:

<pre>
◀this isA Functional requirement
◀this isA Iterator-based transformation
◀this isA Optional feature
◀this isA Transformation
◀this isA Type-preserving transformation
</pre>

I doubt that isA the right thing here in all cases.

For instance, I think that Cut is an instance of a functional requirement (

[2013-11-14 23:00] rlaemmel opened #358 "Use of relatesTo does not lend itself to proper semantics"
(I think.)

Perhaps "relatesTo" should be removed.

"mentions" should be sufficient.

Certainly a research question.

See examples of "relatesTo" here, for example:

http://101companies.org/wiki/Monad

[2013-11-15 13:17] rlaemmel commented on #358
I remove those guys relating to the monad page:

<pre>
* [[relatesTo::Monad]]
</pre>

[2013-11-15 18:44] avaranovich commented on #356
Just thinking in loud. This example is actually quite different from Controller partOf Ruby on Rails. In this case GHC "kind of" exists w/o Haskell platform. At least these are 2 different pages.

[2013-11-15 20:53] rlaemmel commented on #356
That's good.
It's like aggregation versus composition.
The difference would be evident from the URL.

[2013-11-15 21:06] rlaemmel commented on #358
Actually, I figured that "uses" should be expanded to possibly apply to concepts.

http://101companies.org/wiki/Contribution:haskellWriter

<pre>
* [[uses::Writer monad]]
</pre>

[2013-11-15 21:18] rlaemmel commented on #356
I have been starting to use derivesFrom.
http://101companies.org/wiki/Contribution:haskellWriter
So this is another new property.

[2013-11-16 13:39] rlaemmel commented on #356
After talking to Andrei, we may rather compute such metadata as derivesFrom.
So I removed it again.

[2013-11-16 13:42] rlaemmel opened #359 "Computed metadata"
Based on a discussion with @avaranovich

both of us think that we might want to do this:
- "mentions" from the characteristics' section of a contribution are reified as "emphasizes" triples. (Do we care only about concepts here or do we want all namespaces?)
- "mentions" from the relationships' section of a contribution are reified as "relatesTo" triples. (I think we really care about contribution

[2013-11-16 19:33] rlaemmel opened #360 "identifies->sameAs, linksTo->similarTo"
This is how we should rename the predicates.

While renaming all current "linksTo" to "similarTo", we will keep "linksTo" around as the most unstructured relationship. Data cleaning could go over "similarTo" triples at some point and see whether any of those should be "linksTo". Experience tells me that the majority is "similarTo".

[2013-11-25 23:36] rlaemmel opened #361 "Generalized search feature"
cc @burgua also for implementation
cc @tschmorleiz @avaranovich FYI
It looks Nils is not connected. I will forward this issue by plain email.

The existing search functionality needs to be generalized:
- We need to be able to selectively also search just for title. This search needs to be very fast. (So that it works for tab completion-like situations.)
- This search functionality needs to be invo

[2013-11-25 23:47] rlaemmel opened #362 "Primary description of semantic properties"
cc @tschmorleiz

(I am going to fwd this to the schema folks via email who should then follow up on github.)

We need to sort out now how we go about documenting the semantic properties in a primary fashion so that software components such as Nils metadata editor can read the semantic property description.

Some options:
- Use a RDF/OWL file: I think this is not my fav; it is too idiosyncratic and

[2013-11-26 10:31] avaranovich commented on #362
Using Namespace:Property seems the right way to go for me. JSON/etc. can be computed, if needed. In fact, such pages might need to support special markup, to provide hints for such JSON/RDF schemas (as it was in MediaWiki, where one can refer to external vocabularies, while defining properties).

[2013-12-16 17:22] #177 closed, assigned to tschmorleiz

[2014-02-13 00:11] rlaemmel opened #363 "repo tab not available on 101wiki when not logged in"
cc @burgua

"repo" only shown here when logged in.

![image](https://f.cloud.github.com/assets/1208815/2155307/56825470-9443-11e3-82b6-eef0d057b5a7.png)

[2014-02-26 15:26] #363 closed, assigned to burgua

[2014-03-03 06:43] rlaemmel opened #364 "Code rendering on wiki missing"
cc @burgua
cc @martinleinberger
cc @avaranovich
cc @tschmorleiz

It looks like code snippets are not rendered anymore.

http://101companies.org/wiki/Contribution:haskellStarter

![image](https://f.cloud.github.com/assets/1208815/2307017/0f4beff2-a29f-11e3-8400-1a8c1fb7889c.png)

[2014-03-03 13:42] martinleinberger commented on #364
Is directly related to this issue: https://github.com/101companies/101worker/issues/171
That's why I'm closing this one.

[2014-03-03 13:42] #364 closed, assigned to arkadi-schmidt

[2014-03-11 23:24] rlaemmel opened #365 "Placement of "Explore" not Ok"
cc @burgua
cc @arkadi-schmidt

I am rendering this
http://101companies.org/wiki/Hello_world_program
with latest Chrome:

![image](https://f.cloud.github.com/assets/1208815/2392198/498980f4-a974-11e3-9066-27d3ecaeffbb.png)

[2014-03-11 23:26] rlaemmel commented on #365
In fact, this is a more serious problem than I thought.
Look closely -- the source code of the program is missing altogether.
Do we need to pull in the fragment locator guys?
Also cc-ing @martinleinberger as he might understand what's going on.
BTW, I am starting a course at WHU on Thursday -- with good usage of 101 :-)

[2014-03-12 05:44] burgua commented on #365
It looks like content of files is empty on worker

[2014-03-12 08:51] martinleinberger commented on #365
I can confirm that apparently, derived resources are not produced for the concepts folder right now. If there are no .matches.json files for these resources, then the explorer doesn't know anything about these files.
I'm not sure why... didn't Kevin change the modules so that they operate over all folders?

I'll investigate as soon as possible...

[2014-03-12 12:36] martinleinberger commented on #365
Should be fixed...

[2014-03-12 12:36] #365 closed, assigned to tschmorleiz

[2014-03-12 12:38] burgua commented on #365
Und die Seite sieht gut aus

[2014-04-07 23:29] rlaemmel opened #366 "Search functionality"
cc @burgua

I noticed two things, please improve.
1. The search string gets deleted from the text field when submitting the search. It should remain there so that one can refine it.
2. Compound search strings are not properly searched for. For instance, If I enter "web service" I would expect to see only pages that meet both criteria. I tried adding extra quotes as in "web service", but that didn'

[2014-04-07 23:32] rlaemmel commented on #366
One feature that would make sense is "search in selected namespaces only".

[2014-04-23 17:00] rlaemmel opened #367 "repo folder selection need to scale"
cc @burgua

When one selects the folder in the wiki like here ...

![image](https://cloud.githubusercontent.com/assets/1208815/2780531/9870b5e2-cb08-11e3-8f24-e42fe698d317.png)

... then this need to be done in the common hierarchical fashion as in file explorers because otherwise it is way to hard to find a specific folder for a complex directory tree. For instance , in the example above I was tr

[2014-04-23 17:12] rlaemmel opened #368 "New impl. for JSON/Java"
Hi @Mpaul138

This issue is "for information only".

I managed to add a JSON/Java-based implementation.

http://101companies.org/wiki/Contribution:javaJson

It pretty much copies the JDOM one except that the switch from DOM to immutable JSON was quite tricky.

There is other (better?) JSON APIs for Java. So if you ever wanted to add those, please look at the current one for inspiration.

[2014-04-23 17:12] rlaemmel commented on #368
@Mpaul138 Please close once you have seen this.

[2014-04-23 18:37] rlaemmel opened #369 "repo folder cannot be edited (occasionally)"
cc @burgua

![image](https://cloud.githubusercontent.com/assets/1208815/2781655/453ee7d2-cb16-11e3-873a-8e6955b1b44a.png)

[2014-04-23 18:40] rlaemmel opened #370 ""#page" not appreciated in page URL"
cc @burgua

When switching from say 101repo to 101wiki, then URL has an additional "#page" in it.

See like here:

![image](https://cloud.githubusercontent.com/assets/1208815/2781694/be292662-cb16-11e3-9a29-0c67066a7a99.png)

Perhaps this "#page" can be avoided. Makes the URL look ugly.

[2014-04-23 18:49] rlaemmel opened #371 "Folders and repo need to "refreshed" each time one edits in the "101repo" tab"
cc @burgua

It looks folders are remembered for a repo.

So I try to add a folder for a repo in the "101repo" tab of the wiki, it will not find the new folder.

I would need to log out and back in to actually make it re-read the folder structure.

[2014-04-23 19:51] rlaemmel opened #372 "History of editing -> History"
cc @burgua

![image](https://cloud.githubusercontent.com/assets/1208815/2782500/a2c79c00-cb20-11e3-84d3-04267f04014c.png)

[2014-04-23 20:42] rlaemmel opened #373 ""History of editing" does not appear after section edit"
cc @burgua

Talking about the tab for history of editing as in here:

![image](https://cloud.githubusercontent.com/assets/1208815/2783002/a1f1d0c8-cb27-11e3-85fa-baf94658e35e.png)

I was always confused that the tab does not show for pages that have not been edited.

I think it should show anyhow.

Also, the tab only appears once you have done a full page edit or reload. It does NOT appear after a

[2014-04-23 21:01] rlaemmel opened #374 ""[...]" in 101wiki markup"
cc @burgua @arkadi-schmidt @avaranovich

Just looked at this page:

http://101companies.org/wiki/Algorithm

It uses "[...]" to mean that elision applies. It is rendered though by omitting "[" and "]" and trying to link. I guess this makes sense. I was just wondering though how to achieve that I do see "[...]" rendered.

At a more general level, can we do anything about usability such as adding mor

[2014-04-23 21:13] rlaemmel opened #375 "Another guide line needed"
cc @tschmorleiz

I am just looking at many pages as I am prepping for courses.

Let's look at this page, for example:

http://101companies.org/wiki/Pattern_matching

It talks about "Haskell" quite a bit, but it is rendered as "Language:Haskell" as it would need to use [[Language:Haskell|]](note the extra bar!) to suppress "Language".

See the "Motivation" markup of a page where I tried to suppress

[2014-04-24 10:20] rlaemmel opened #376 "media link not working"
cc @arkadi-schmidt

Can you please fix this as soon as possible?

http://101companies.org/wiki/@system

See the broken link.

![image](https://cloud.githubusercontent.com/assets/1208815/2788343/f6541578-cb99-11e3-96bc-ad252fb8deb0.png)

[2014-04-24 10:20] rlaemmel commented on #376
I am adding the link in clear text for now so that students can find the file anyway.

[2014-04-24 10:21] rlaemmel commented on #376
For robustness of the viewer and discoverability of the link, it would be good to show the link anyway  or make it discoverable / copy/pastable when hovering over it.

[2014-04-27 18:39] rlaemmel opened #377 ""Show source" -> "Show markup""
cc @burgua

![image](https://cloud.githubusercontent.com/assets/1208815/2811965/3cc5aece-ce3b-11e3-921b-e36e24edf364.png)

[2014-04-28 12:16] burgua opened #378 "Disable page auto creation"
If admin opens the page which is not created, then it should not be created automatically, but rather ask for confirmation.

[2014-04-28 12:17] burgua opened #379 "Backlinks are missing on some pages"
For example
http://101companies.org/wiki/Vocabulary:Functional_programming

There should be an "empty" backlinks section or other means of indication there is no backlinks

[2014-04-28 12:39] burgua commented on #367
We have already thought about that problem and that's why implemented in this way. It's not a simple select, but more intelligent control. In input field of this control you can start to type name of the folder (or part of the name) and outputted folders will be filtered.

Using "file explorer" way is not the best case for using GitHub API. We have limitation on using it according to https://devel

[2014-04-28 13:06] burgua commented on #376
In this case we have pdf-file with one page. Page contains only one image.
We have two options.

**1**. if you want use **pdf-file**: you can upload this pdf-file to slideshare. After that you can embed it into the page like it was done here:
http://101companies.org/wiki/Script:Metaprograms_and_metadata
In this case you will also have download link.

**2**. Or you can host this image elsewhere as

[2014-04-28 13:34] rlaemmel commented on #376
I agree with the option to move from .pdf to .jpg.
In fact, I have just done this.
So I am closing.

[2014-04-28 13:34] #376 closed, assigned to burgua

[2014-04-28 13:37] rlaemmel opened #380 "robustness of "media" feature"
cc @burgua

If the link in the "[[media:....]]" markup cannot be resolved or rendered, then the user only sees a kind of broken link sign. Also, even if everything is rendered fine, then the user cannot see (without examining the markup) the URL.

So the URL must be discoverable.

Two options:
- Show URL below / above rendered material.
- Make it discoverable by hovering.

[2014-04-28 13:40] rlaemmel opened #381 "Editing tool tips in 101wiki"
@burgua
@tschmorleiz
@avaranovich

The author or markup receives too little help.

When using the EDIT PAGE function, I see this:

![image](https://cloud.githubusercontent.com/assets/1208815/2817533/947393bc-ceda-11e3-81b6-44770865b3e3.png)

When editing individual sections, I do not see any help.

Help should be provided consistently.

Also, help should be complete. For instance, the markup forms

[2014-04-30 12:18] rlaemmel commented on #366
Looks good now

[2014-04-30 12:18] #366 closed, assigned to burgua

[2014-04-30 12:18] rlaemmel opened #382 "search string not to be deleted after "press enter""
cc @arkadi-schmidt

... so that it can be massaged in a subsequent search

[2014-04-30 12:22] rlaemmel commented on #381
After after discussion:

We would add a "Help" tab.

This would render a HTML page.

This page could then have a section for "Markup" where all the common markup for 101wiki is explained.

[2014-04-30 12:23] rlaemmel commented on #370
Too difficult to change and too little ROI

[2014-04-30 12:23] #370 closed, assigned to burgua

[2014-04-30 12:26] rlaemmel commented on #379
@avaranovich we discussed this in a meeting just now.
Is this lack of an empty backlinks section still wanted with the current 101wiki version?
To me it looks like, we don't need such an empty section.
Close?

[2014-04-30 12:32] rlaemmel commented on #380
This is basically a small usability problem.
If you have some idea as to how make the URL discoverable/visible, it could be better.
(Especially when the link is broken.)
Low prio

[2014-04-30 12:34] rlaemmel commented on #344
Looks good now.

[2014-04-30 12:34] #344 closed, assigned to burgua

[2014-04-30 12:41] rlaemmel commented on #361
Reassigning to Michael @mastermaiknemo
Not urgent; we can discuss occasionally.

[2014-04-30 12:42] rlaemmel commented on #331
We close this for now as @arkadi-schmidt and @burgua have covered this topic to some extent in the thesis. In their presentation, they should help us understand how we can maintain and improve engineering in this regard.

[2014-04-30 12:42] #331 closed, assigned to burgua

[2014-04-30 12:43] rlaemmel commented on #315
Seems to work now.

[2014-04-30 12:43] #315 closed, assigned to burgua

[2014-05-05 08:50] #290 closed, assigned to burgua

[2014-05-05 13:57] #367 closed, assigned to burgua

[2014-05-05 13:57] #369 closed, assigned to burgua

[2014-05-05 13:57] #371 closed, assigned to burgua

[2014-05-05 13:57] #372 closed, assigned to burgua

[2014-05-05 13:57] #377 closed, assigned to burgua

[2014-05-05 13:57] #382 closed, assigned to burgua

[2014-05-05 13:58] #373 closed, assigned to burgua

[2014-05-05 14:39] burgua commented on #347
Both mediawiki and db of mediawiki are unavailable.
Impossible to restore this data without mediawiki and db of mediawiki.

[2014-05-05 14:56] burgua commented on #196
Too old and no more relevant.
Too much changes made in implementation.

[2014-05-05 14:56] #196 closed, assigned to burgua

[2014-05-07 13:20] rlaemmel opened #383 "New contribution not found by 101explorer"
cc @arkadi-schmidt @burgua @Mpaul138

http://101companies.org/resources/contributions/jxpath?format=html

![image](https://cloud.githubusercontent.com/assets/1208815/2902809/2b81bb42-d5ea-11e3-9ab6-57df97f2318e.png)

The 101repo link was enter some time ago (not just yesterday):

![image](https://cloud.githubusercontent.com/assets/1208815/2902822/4f22b826-d5ea-11e3-8436-65b69feae194.png)

[2014-05-07 15:20] burgua commented on #383
Entry is present in pullRepo.json
http://101companies.org/pullRepo.json

[2014-05-13 13:46] rlaemmel opened #384 "101wiki not responding"
@arkadi-schmidt @burgua @avaranovich @tschmorleiz

During the lecture today and also now I am getting 10-100 sec access times for pages.

Who can look into this?

The stuff needs to work for both courses.

[2014-05-13 19:04] burgua commented on #384
I and @martinleinberger had investigated the situation.
Problems were caused by worker, that couldn't be resolved.

Apparently "slow" pages had fragments and couldn't resolve the fragments.
A bit later I will write some timeout for fetching fragments.
It will allow wiki-pages to render content fast enough, if worker cannot be resolved.

@rlaemmel please close, if it's ok.

**P.S.**
@avaranovich if

[2014-05-13 20:21] burgua commented on #340
Toooo old

[2014-05-13 20:21] #340 closed, assigned to avaranovich

[2014-05-14 09:19] rlaemmel commented on #384
Can we please discuss this during scrum next Monday?
Will close after scrum.

[2014-05-14 09:21] burgua commented on #384
Next week I'm completely unavailable.

[2014-05-14 09:23] rlaemmel commented on #384
Then, please help Martin to be fully informed to be able to inform us during scrum.
(Assuming Martin is not OOF for honeymoon.)

[2014-05-20 14:15] rlaemmel opened #385 "treatment of contributors in namespace contribution"
cc @arkadi-schmidt @avaranovich @tschmorleiz

Hi Alex and Arkadi,

How are we supposed to refer to developers on those contribution pages?

Here are two contrasting examples:
- http://101companies.org/wiki/Contribution:c with an apparent attempt to refer Contributor:hartenfels, but this does not work.
- http://101companies.org/wiki/Contribution:jdom which talks about Contributor:Ralf Lämmel which

[2014-05-20 14:20] rlaemmel commented on #385
As developers (in the metadata section) I suggest in alphabetic order Manfred Jackel, Ralf Lämmel, Matthias Paul

[2014-05-22 07:37] rlaemmel commented on #381
I tried a few things to show "[]" on the wiki.
Do we have escape symbols for the brackets?
We really need an editing help, if we want others to encourage and avoid major pain.

[2014-05-22 07:56] rlaemmel commented on #381
If < pre > ... < / pre > would work in running text (without starting a new line, this could be a replacement for escaping.

[2014-05-30 09:48] rlaemmel commented on #323
Taking a note of today's discussion between @arkadi-schmidt @burgua and @rlaemmel
- All wiki pages for contributors will be removed by @burgua and @arkadi-schmidt .
- All Contributor links are changed by @burgua and @arkadi-schmidt to use github names. For example: Contributor:rlaemmel rather than Contributor:Ralf Lämmel
- @arkadi-schmidt and @burgua will send an up-to-date list of unknown github

[2014-06-02 14:16] burgua commented on #324
is part of https://github.com/101companies/101wiki/issues/323

[2014-06-02 14:16] #324 closed, assigned to burgua

[2014-06-02 14:16] burgua commented on #77
is part of https://github.com/101companies/101wiki/issues/323

[2014-06-02 14:16] #77 closed, assigned to burgua

[2014-06-02 14:17] burgua commented on #385
is part of https://github.com/101companies/101wiki/issues/323

[2014-06-02 14:17] #385 closed, assigned to burgua

[2014-06-02 14:17] burgua commented on #318
is part of https://github.com/101companies/101wiki/issues/323

[2014-06-02 14:17] #318 closed, assigned to burgua

[2014-06-02 14:19] burgua commented on #319
if part of https://github.com/101companies/101wiki/issues/323

[2014-06-02 14:19] #319 closed, assigned to rlaemmel

[2014-06-02 21:20] rlaemmel commented on #323
Will contact them all in a structured manner.
Won't be before the weekend.

[2014-06-05 00:02] rlaemmel opened #386 "101wiki down"
Tried to access http://101companies.org/wiki/Course:Lambdas_in_Koblenz
That is, trying to prepare for the lecture.

Wiki down.

[2014-06-05 00:03] rlaemmel commented on #386
Cc @burgua @arkadi-schmidt @avaranovich  @tschmorleiz

[2014-06-05 13:26] rlaemmel commented on #386
Seems to be up and running again. (It was back online in time for the lecture :-)

[2014-06-05 13:26] #386 closed, assigned to nobody

[2014-06-10 11:13] rlaemmel opened #387 "101repo tab not working"
![image](https://cloud.githubusercontent.com/assets/1208815/3229082/f2eb6786-f08f-11e3-9cb8-cac597130638.png)
cc @arkadi-schmidt @burgua @mastermaiknemo
Basically, one stays in the 101wiki tab.
Tried with and without login.

[2014-06-10 11:19] burgua commented on #387
It is parsing issue.
Parsing of some fragments/sections breaks html-dom structure and make all tabs are broken

[2014-06-10 11:24] burgua commented on #387
I changed source of page to make it working now.

If you do smith like

[code]

dom will be broken.

[2014-06-10 12:47] rlaemmel commented on #387
Thanks, @burgua

@tschmorleiz, any chance to make the parser robust under this scheme?

[2014-06-10 13:25] rlaemmel opened #388 "metadata revision only correctly rendered after complete page reload"
cc @arkadi-schmidt

Suppose you edit meta-data section and press save.

The meta-data will not be updated.

It's updated only after page reload.

[2014-06-11 10:29] #383 closed, assigned to martinleinberger

[2014-06-11 11:28] rlaemmel opened #389 "When in editing mode scrolling down behaves strangely"
cc @burgua

cc @tschmorleiz @arkadi-schmidt @mastermaiknemo

So one has trouble getting to the bottom of a longer page. What happens is shown in the screenshot. That is, one scrolls down out of the page entirely without easily scrolling down through the content of the editing widget. This wasn't like this in the past. Andrei and me can reproduce consistently regardless of resolution.

![image](htt

[2014-06-11 11:42] rlaemmel opened #390 "Words not selectable in editor"
cc @burgua

cc @mastermaiknemo @tschmorleiz @avaranovich

Double click on words does NOT select them (but should).

Arguably, triple click should select the paragraph.

Quadruple click selects the entire text.

[2014-06-11 11:42] rlaemmel commented on #390
Amazingly, it sometimes works.

[2014-06-11 11:49] rlaemmel opened #391 "Renaming seems to be troubled"
cc @avaranovich @martinleinberger

Just renamed Contributor:Ralf Lämmel to Contributor:rlaemmel

Now I am looking at Contribution:jdom and see this:

![image](https://cloud.githubusercontent.com/assets/1208815/3243755/6c67bed8-f15e-11e3-862e-3c7b3e860bf5.png)

Thus, the renaming has not been pushed through the property.

[2014-06-11 12:23] rlaemmel opened #392 "Another case of incomplete metadata rendering"
cc @burgua

cc @tschmorleiz @avaranovich @mastermaiknemo

Please go here:

http://101companies.org/wiki/Feature:Open_serialization

We have this:

![image](https://cloud.githubusercontent.com/assets/1208815/3243839/bfc3db56-f15f-11e3-9c37-1ecdb710c2c9.png)

Clicking on Feature:Serialization, I would expect to see the inverse metadata entry, i.e., Feature:Open serialization partOf this. It's not th

[2014-06-11 12:29] rlaemmel commented on #390
It looks like the mechanical double click works but the touchpad touch-based double click, doesn't.

[2014-06-11 12:56] tschmorleiz opened #393 "Support for weak links"
Sometimes links should be made weak. For instance on [Contribution:haskellStarter](http://101companies.org/wiki/Contribution:haskellStarter) we link to [Algebraic Data Type](http://101companies.org/wiki/Algebraic_data_type) in the context that we **don't** make use of this concept. We need the following supporting functionality:
- Support [[~X]] syntax as a means to annotate links as weak. Render

[2014-06-11 12:59] tschmorleiz commented on #393
Closed via avaranovich/wikicloth@7a77e5821ce8d0b358f9af1ba0f02dcd2535df5d, 101companies/101rails@ffe3b3c5508574544af58dc4c479ce28c1dc2b11, and 101companies/101rails@fb6dfe5aa32146295479a72f133ef40fd66b8de4.

[2014-06-11 12:59] #393 closed, assigned to tschmorleiz

[2014-06-11 13:27] rlaemmel opened #394 "Auto-generated metadata needs to comply with new ontology"
cc @burgua
cc @tschmorleiz @avaranovich

Metadata in http://101companies.org/wiki/Contribution:MetaC

BEFORE Migration

![image](https://cloud.githubusercontent.com/assets/1208815/3244786/1302f552-f16c-11e3-90a4-57194bcad4b0.png)

AFTER Migration

![image](https://cloud.githubusercontent.com/assets/1208815/3244782/0c948744-f16c-11e3-9cbd-fad7f858611c.png)

[2014-06-11 13:31] rlaemmel opened #395 "Strange headline for submissions"
cc @burgua
cc @tschmorleiz @avaranovich @mastermaiknemo

Is this generated by the submission process?

![image](https://cloud.githubusercontent.com/assets/1208815/3244824/6ff29cb8-f16c-11e3-917a-be7f80442d9b.png)

I guess it should look like this:

![image](https://cloud.githubusercontent.com/assets/1208815/3244845/a9bc6ab4-f16c-11e3-877c-35d5216221a0.png)

Changed like this over here:

http://101

[2014-06-11 13:33] burgua commented on #395
Yes

[2014-06-11 13:55] burgua commented on #395
duplicates #394

[2014-06-11 13:55] #395 closed, assigned to arkadi-schmidt

[2014-06-11 13:55] rlaemmel opened #396 "Add repo for this contribution"
cc @burgua
cc @tschmorleiz @avaranovich @mastermaiknemo

http://101companies.org/wiki/Contribution:YAPAF

See details where the link is mentioned.

I tried to do this myself with the admin interface, but didn't understand how this work.

Please improve UI.

[2014-06-11 14:54] rlaemmel opened #397 "Hitting a non-existing page (as admin or not) must not create this page"
cc @burgua @mastermaiknemo

[2014-06-11 23:11] rlaemmel opened #398 "Strange contrib; remove?"
cc @burgua
cc @tschmorleiz @avaranovich anovich @mastermaiknemo

Who's is this?
No repo link for this one?

![image](https://cloud.githubusercontent.com/assets/1208815/3246293/153fc332-f17a-11e3-8a68-37ca8b0e99de.png)

I removed the page.
If you are aware of more test content, please remove yourselves, as it takes time to guess that something may be test content.

[2014-06-11 23:15] burgua commented on #398
Removed test content for contribution process

[2014-06-11 23:15] #398 closed, assigned to arkadi-schmidt

[2014-06-12 08:15] burgua commented on #397
duplicates #378

[2014-06-12 08:15] #397 closed, assigned to arkadi-schmidt

[2014-06-12 08:17] burgua commented on #150
Implemented by slideshare itself
http://take.ms/5MQvj

[2014-06-12 08:17] #150 closed, assigned to nobody

[2014-06-12 08:34] #391 closed, assigned to tschmorleiz

[2014-06-12 08:35] tschmorleiz commented on #391
Fixed during hackathon.

[2014-06-12 09:51] rlaemmel opened #399 "Make metadata rendering robust under predicate evolution"
cc @burgua

cc (fyi) @avaranovich @tschmorleiz

This appears to be the issue behind #392

Just talked to A&A, wo confirmed that the handling of metadata links relies on some degree of hardcoded names (presumably for the predicates).

We need to be very flexible in terms of predicates. So I guess a solution needs to be found such that such hardcoding is either not needed or the set of predicates is

[2014-06-12 10:47] ghost commented on #399
:cry:

[2014-06-12 11:02] tschmorleiz commented on #360
I guess this does no longer apply?

[2014-06-12 20:55] avaranovich commented on #360
No, we don't do any automatic renaming.

[2014-06-12 20:55] #360 closed, assigned to tschmorleiz

[2014-06-25 14:28] avaranovich commented on #399
Here is an example:
http://101companies.org/wiki/Factorial

does not display sameAs property.

The models are here http://worker.101companies.org/data/onto/models/

[2014-06-25 14:57] burgua commented on #399
We made it dynamically

https://github.com/101companies/101rails/commit/3d6b6af780259839a4814558676a5075e6b67658

[2014-06-25 20:13] #394 closed, assigned to burgua

[2014-06-25 20:14] #392 closed, assigned to burgua

[2014-06-25 20:15] burgua commented on #381
@rlaemmel
Deployed already presented version.
Reassigning to @tschmorleiz as discussed.

[2014-06-25 20:16] burgua commented on #379
Closing, since no interest/reason from requester.

[2014-06-25 20:16] #379 closed, assigned to burgua

[2014-06-25 20:16] #378 closed, assigned to burgua

[2014-06-25 20:17] burgua commented on #347
Reassigning since no mysql/mediawiki available.

[2014-06-25 20:18] burgua commented on #349
Look for property "headline" in page model.
It's or empty string or headline.

[2014-06-25 20:18] #349 closed, assigned to burgua

[2014-06-25 20:23] burgua commented on #316
Works since end 2013

[2014-06-25 20:23] #316 closed, assigned to kevin-klein

[2014-06-25 20:32] burgua commented on #399
So, I see some rendering problem here:

http://take.ms/4oiKE
Triple is found and delivered to client, but not rendered.

[2014-06-25 21:13] burgua commented on #261
duplicates https://github.com/101companies/101wiki/issues/254

[2014-06-25 21:13] #261 closed, assigned to burgua

[2014-06-25 21:13] burgua commented on #224
duplicates https://github.com/101companies/101wiki/issues/254

[2014-06-25 21:13] #224 closed, assigned to burgua

[2014-06-25 21:59] burgua commented on #323
Actual list http://101companies.org/contributors_without_github_name

[2014-06-25 23:01] #396 closed, assigned to arkadi-schmidt

[2014-06-26 00:46] burgua commented on #399
Works now

[2014-06-26 00:49] burgua commented on #356
closed with https://github.com/101companies/101wiki/issues/399

[2014-06-26 00:49] #356 closed, assigned to tschmorleiz

[2014-06-26 00:52] burgua commented on #259
duplicates https://github.com/101companies/101wiki/issues/381

[2014-06-26 00:52] #259 closed, assigned to tschmorleiz

[2014-06-26 08:48] avaranovich commented on #399
Did I miss something, but http://101companies.org/wiki/Factorial
does not display "sameAs".

http://monosnap.com/image/h4Osb8oWlfN2GSrUtZlnG6bBQPwHre

[2014-06-26 08:50] burgua commented on #399
Yes, you are missing smth.
Investigate **all** the sections.

[2014-06-26 08:52] avaranovich commented on #399
All sections are rendered OK. And "instanceOf" is displayed anyhow.

[2014-06-26 08:54] burgua commented on #399
And you also looked at **Resources** section??

[2014-06-26 08:55] avaranovich commented on #399
OK, see it here. Closing.

[2014-06-26 08:55] #399 closed, assigned to arkadi-schmidt

[2014-06-26 09:01] avaranovich commented on #389
Yes, and regarding of the browser.

[2014-07-01 22:37] #254 closed, assigned to burgua

[2014-07-02 09:37] rlaemmel commented on #387
Hi @tschmorleiz we need a robust parser.
Let's discuss this.

[2014-07-02 09:38] rlaemmel commented on #390
@mastermaiknemo can't we put this on your shoulder?
This and other issues indicate that the editor has a number of issues.
Perhaps, you could try this?
@tschmorleiz and @avaranovich : is this Ok with you?

[2014-07-02 09:38] rlaemmel commented on #389
@mastermaiknemo can't we put this on your shoulder?
This and other issues indicate that the editor has a number of issues.
Perhaps, you could try this?
@tschmorleiz and @avaranovich : is this Ok with you?

[2014-07-02 09:40] rlaemmel commented on #384
@burgua please document (with code reference) how you implemented a section timeout as well as page timeout? Then close, please

[2014-07-02 09:41] rlaemmel commented on #381
@tschmorleiz : can you please perhaps help @mastermaiknemo to get into this sort of thing?

Overall, it looks the editor needs some modernization / revision.

[2014-07-02 09:42] #380 closed, assigned to arkadi-schmidt

[2014-07-02 09:42] rlaemmel commented on #375
Closing this as we had a discussion on this recently and I will file an issue with @mastermaiknemo

[2014-07-02 09:42] #375 closed, assigned to avaranovich

[2014-07-02 09:43] rlaemmel commented on #374
@tschmorleiz (or perhaps @mastermaiknemo ) can you please respond?

[2014-07-02 09:44] rlaemmel commented on #388
Hi @tschmorleiz . I need to ask you to look into this because @arkadi-schmidt and @burgua can't solve this by themselves.

[2014-07-02 09:57] rlaemmel opened #400 "Please low-level document the backup mechanism"
cc @burgua

As you told me, you are about to set up a cron job zip up and commit the db to 101backup with user 101commit. There is a certain way to roll back changes by unzipping and deploying. So please point to scripts and all other information that can help people.

[2014-07-02 10:01] rlaemmel opened #401 "Scalability issue with github-based versioning"
cc @arkadi-schmidt

You just told me that there is a severe scalability issue which prevents you from deploying this feature (as described in MSC thesis).

Please:
- describe the issue in some detail here.
- Also, please refer to the branch with the code.
- Perhaps, reflect on possible lines of attack.

[2014-07-02 10:03] rlaemmel commented on #258
Closing this as we have more general ideas about the presentation of bigger triple sets.

[2014-07-02 10:03] #258 closed, assigned to arkadi-schmidt

[2014-07-02 10:03] #317 closed, assigned to arkadi-schmidt

[2014-07-02 10:06] rlaemmel commented on #323
Note to myself: go through this list.

[2014-07-02 10:15] burgua commented on #254
Text constants

https://github.com/101companies/101rails/blob/master/config/locales/en.yml

[2014-07-05 11:30] mminski commented on #389
Hello,
i am working on it.

Best regards,

Michael

Am 02.07.2014 um 11:38 schrieb Ralf Lämmel notifications@github.com:

[2014-07-05 11:31] mminski commented on #381
Hello,

i am working on it. I try to fix it.
See you in mondays meeting.

Kind regards,

Michael
Am 02.07.2014 um 11:41 schrieb Ralf Lämmel notifications@github.com:

[2014-07-06 14:45] burgua commented on #400
# Description

Entire backup of MongoDB is made as zip archive of result of [mongorestore](http://docs.mongodb.org/manual/reference/program/mongorestore/) command secured with **password**.

As **password** was used the standard @101companies password.

Backup is made every day at 3:00 and pushed to [GitHub repo](https://github.com/101companies/101zip) as user @101commit.

# Additional functionali

[2014-07-06 15:18] burgua commented on #401
## List of Issues

Here will be described issues preventing from deploying GitHub-based versioning.

Branch with first working version of GitHub-based versioning:
https://github.com/101companies/101rails/tree/github-versioning

### Page renaming mechanism

Classical wiki doesn't rewrite content of pages, that has reference to renamed page.
In our case every rename of page triggers rewriting other

[2014-07-15 19:49] rlaemmel opened #402 "minor renaming"
Please rename "Editing help" to just "Help"

![image](https://cloud.githubusercontent.com/assets/1208815/3590445/26ffd07c-0c59-11e4-8fe1-c23fc7990d3d.png)

[2014-07-15 20:07] rlaemmel opened #403 "renaming seems to fail (under certain conditions?)"
cc @tschmorleiz can you help Michael?

Just renamed

Script:Parsing_and_unparsing_in_Haskell

to

Script:Unparsing_and_parsing_in_Haskell

It did not change the following markup:

<pre>
Lecture [[Script:Parsing and unparsing in Haskell | Parsing and unparsing]]
</pre>

Must be something special about this markup?

[2014-07-15 21:28] rlaemmel opened #404 "file rather than fragment reference feature"
cc @tschmorleiz @avaranovich Perhaps you can help a bit.

I would like to refer to files on wiki pages like this:

[code]

Doing this over here:

http://101companies.org/wiki/Contribution:hughesPJ

It sort of works, but:

(i) The relative path is not rendered; instead it is rendered like this:

![image](https://cloud.githubusercontent.com/assets/1208815/3591654/bcd40782-0c66-11e4-9419-67483c6e7ca7

[2014-07-21 15:22] rlaemmel commented on #404
@avaranovich do you agree that we would longer paths?

[2014-07-21 15:23] rlaemmel commented on #403
Dear @tschmorleiz , can you help @mastermaiknemo to get into this feature area of "renaming".

I think if he tries to investigate this by himself, it may be hard. So please help.

[2014-07-21 15:27] rlaemmel commented on #401
Closing this one because we will need someone to work on this.

[2014-07-21 15:27] #401 closed, assigned to arkadi-schmidt

[2014-07-21 15:28] rlaemmel commented on #400
Thanks for this documentation.
Closing thus.

[2014-07-22 08:57] avaranovich commented on #404
I suggest we introduce an attribute to be able to keep a "short" path. Rendering a long path in the running wiki text might be harder to read. By default we could render a "long" version. @mastermaiknemo The fragment handling is done here https://github.com/avaranovich/wikicloth/blob/master/lib/wikicloth/extensions/fragment.rb

[2014-07-28 12:18] #402 closed, assigned to mminski

[2014-08-11 11:51] rlaemmel opened #405 "101wiki/101explorer collaboration broken"
Please go here:

http://101companies.org/wiki/Language:Java
- Problem 1: Loading takes long.
- Problem 2: Fragment is not rendered (Error message: "it took too long to render ...")
- Problem 3: Trying to save the page does not terminate.

Another page with the same Problem:

http://101companies.org/wiki/Contribution:haskellStarter

So it probably means that the fact extractor for both Java and Has

[2014-08-11 15:40] #368 closed, assigned to mpaul138

[2014-08-11 21:11] rlaemmel opened #406 "wiki perf on this page"
cc @tschmorleiz

It looks I cannot complete loading this page:

http://101companies.org/wiki/

It's probably not the only page, but then again, other pages look better.

[2014-08-12 18:36] rlaemmel opened #407 "Parallelism and company features (OR/XOR)"
I think Andrei and me need to have another discussion on some or/xor features.
Currently, we have task and data parallelism in the feature model on 101wiki.
http://101companies.org/wiki/Feature:Parallelism
I am not sure.
Likewise, we have a lot of variability for Data composition versus Data variation BUT no designated features therefore. Perhaps, we should ...

Needs to be discussed.

[2014-08-13 15:07] rlaemmel commented on #405
So the explorer seems to work.
That is, we can get to here:
http://101companies.org/resources/contributions/haskellStarter/src/Main.hs/type/Address?format=html
So somehow the explorer is not used in the right way.
Reassigning to Michael.

[2014-08-13 15:50] rlaemmel opened #408 "predicate / object selection for editing metadata sections"
cc @tschmorleiz @avaranovich

This is about the kind of IDE-like support that Nils Breest was working on.

It looks like we have the right schema in place now:

http://data.101companies.org/onto/models/

[2014-08-14 16:21] avaranovich commented on #405
Progress report:

some fragments are back, e.g.
http://101companies.org/wiki/Contribution:haskellVariation

the others still don't work
101companies.org/wiki/Contribution:javaComposition

caching needs to be investigated

[2014-08-14 17:17] mminski commented on #405
Hi,

HaskellStarter is working again. If you save a single section the fragments will be rendered correctly but if you edit the whole page the saving leads to errors.
I´ll try to find the bug and fix it for all pages..

[2014-08-22 13:34] #405 closed, assigned to mminski

[2014-08-22 13:35] mminski commented on #405
Hello,

the fragments are rendering again. View : http://101companies.org/wiki/Contribution:haskellStarter

Regards,

Michael

[2014-08-23 23:27] rlaemmel commented on #405
Thanks, Michael.
Yes, looks good.
However, I observe a perf issue that we may need to work on.
Filling a new issue accordingly.
Ralf

[2014-08-23 23:32] rlaemmel opened #409 "perf issue with pages with fragments"
It looks like pages with fragments load successfully but very slow.

Here is an example:

http://101companies.org/wiki/Contribution:javaStatic

Here is another example:

http://101companies.org/wiki/Contribution:haskellStarter

My measurements indicate that it takes about 10 secs.

We use to have much better perf.

I would say that we strive for a upper bound of 2 secs, 1 sec typically.

Obviously

[2014-08-23 23:34] rlaemmel opened #410 "page / fragment not loading"
Please go here:

http://101companies.org/wiki/Language:Java

The HelloWorld program, which is included per fragment markup, is not rendered.

Instead, some error message is shown.

[2014-08-24 16:19] mminski commented on #410
Hello,

the File is loading again. It was a file-tag and not a fragment-tag. If you want to render a code-fragment in the "/Language:" namespace, there is some more implementation needed. But i dont know it is necessary to render Code in this namepace.

Best regards,

Michael

[2014-08-24 16:32] mminski commented on #403
Hallo Ralph,

it was just a typo @ 101companies.org/wiki/Script:Unparsing_and_parsing_in_Haskell
It worked like this
[[Script:Unparsing and parsing in Haskell | Parsing and unparsing]]

[2014-08-24 16:32] #403 closed, assigned to mminski

[2014-08-27 15:30] rlaemmel opened #411 "Style not robust when missing file content for fragment"
http://101companies.org/wiki/Hello_world_program

The fragment markup is not resolved by 101explorer.

This leads to rendering like this.

![image](https://cloud.githubusercontent.com/assets/1208815/4062306/ef84d044-2dfe-11e4-839b-f2f4d0ca96c2.png)

Note how the "Explore" text ends up in the running text.

Instead, an empty box / warning box would need to show to which "Explore" is attached --- ju

[2014-08-27 15:50] rlaemmel commented on #411
Martin has fixed the explorer.
So the file's content is shown now.
I just tested what happens if I use a wrong file name.
This would not lead to the same result with the misplaced "Explore".
Instead it would produce a box with an error message.
This means that it is pretty hard to reproduce the error at this point.
Thus I close this now.

[2014-08-27 15:50] #411 closed, assigned to mminski

[2014-09-04 22:01] rlaemmel opened #412 "editing not enabled"
I can edit sections but not the entire page.

See screen shot.

![image](https://cloud.githubusercontent.com/assets/1208815/4157463/f5924d64-347e-11e4-9cc4-d78a3221dbae.png)

[2014-09-04 22:08] rlaemmel commented on #412
There is more broken with this paper.

Two times "Details".

![image](https://cloud.githubusercontent.com/assets/1208815/4157550/ef142556-347f-11e4-9423-e0326f28a75f.png)

[2014-09-05 10:31] mminski commented on #412
Hello Ralph,

the page works correctly again --> http://101companies.org/wiki/Fold
There was something wrong with the wiki-markup.

Regards,

Michael

[2014-09-05 10:31] #412 closed, assigned to mminski

[2014-09-09 22:19] rlaemmel opened #413 "Inverse triples missing when metadata section missing"
Just realized that the metadata section must be there, be it even empty, if any metadata is to be rendered. That's not good because we want metadata such as triples with the current page as object, to show up, no matter whether the current page has an explicit metadata section.

[2014-09-10 11:05] rlaemmel opened #414 "renaming not working for "Contributor" namespace"
Just tried to rename this:
http://101companies.org/wiki/Contributor:Matthias_Paul
to the actual github name
mpaul138

The renaming didn't seem to change anything.
I now try to rename each page by hand.

[2014-10-20 15:29] rlaemmel commented on #400
@mastermaiknemo can you please check that such backup actually works?

[2014-10-21 11:55] mminski commented on #400
Hi Ralph,
i located the cronjob and script on the server, since the server has been down the database.zip in github was not updated anymore. This will change, when the server is running at 3.oo pm. Thats the time, when the cronjob is called.
Regards,

Michael

[2015-04-20 15:22] rlaemmel opened #415 "Do we still need this repo?"
cc @tschmorleiz
cc @martinleinberger
cc @kevin-klein

Or can we put this into 101worker or 101rails?

Doesn't seem to be used much.

[2015-04-25 16:54] avaranovich commented on #415
it was used for issues by some folks. Please check if you need to migrate the issues, and then we can delete the repo -- the source is not used anymore.

[2017-06-04 10:33] fruether opened #416 "Bug: Broken GitHub links in the contribution"
There is a bug in the contribution process provided by the [101wiki](https://101wiki.softlang.org/contribute/new). If a new contribution was created the GitHub links are broken. For example take the following contributions provided by me:

- https://101wiki.softlang.org/Contribution:101spark
- https://101wiki.softlang.org/Contribution:101kafka

If you are clicking on the GitHub repo of the contrib

[2017-08-15 10:04] mminski commented on #413
To get this kind of behaviour the conditional expression  `<% if @rdf && @rdf.count > 0 %> ... <% end %>` in file https://github.com/101companies/101rails/blob/master/app/views/pages/_page.html.erb
should be removed. Then the metadata section will always be displayed.
Is this enhancement still needed?

[2017-08-15 10:06] #410 closed, assigned to mminski

[2017-08-15 10:07] mminski commented on #409
Performance improved in 2014. Issue closed.

[2017-08-15 10:07] #409 closed, assigned to mminski

[2017-08-15 10:08] mminski commented on #408
Outdated. Issue closed.

[2017-08-15 10:08] #408 closed, assigned to mminski

[2017-08-15 10:10] mminski commented on #404
File reference is working as expected.

[2017-08-15 10:10] #404 closed, assigned to mminski

[2017-08-15 10:11] #400 closed, assigned to mminski

[2017-08-15 10:17] mminski commented on #389
Seems to be no issue anymore. Scrolling to bottom of longer pages editors doesnt cause trouble in my browser.

[2017-08-15 10:17] #389 closed, assigned to mminski