[2012-09-21 11:45] rlaemmel opened #1 "headline listing failing for categories"
(I guess we can just start to file issues against 101wiki even if it still about the "old 101wiki" implementation.)

Please have a look here:

http://101companies.org/index.php/Category:Datalog_theme

I created most of this theme last night.
No headlines get listed.
Perhaps this means that the corresponding module is broken.

[2012-09-21 12:15] rlaemmel opened #2 "Process .gitdeps instead of .gitmodules"
The JavaScript functionality for directing to a repo other than 101companies/101repo need to look at .gitdeps now.

[2012-09-21 21:10] tschmorleiz commented on #1
I see headlines in the "Classification", perhaps the module recently kicked in. Is this solved?

[2012-09-22 10:23] rlaemmel commented on #1
You are right. I probably expected that the worker gets around more than once per day.

[2012-09-22 10:23] #1 closed, assigned to tschmorleiz

[2012-09-24 00:52] tschmorleiz commented on #2
The functionality of the script can now described as follows:
1. it checks if the repo URL can directly be extracted from .gitdeps (e.g. for mongodb). If not:
2. it iterates through all entries with "mode" : "subdirsonly" and for each entry:
   1. requests the corresponding list of subdirs from the GitHub API
   2. checks if any of the subdirs correspond to the contribution at hand and if so uses

[2012-09-24 00:52] #2 closed, assigned to tschmorleiz

[2012-10-31 07:47] avaranovich opened #3 "Edit sections"
User should be able to edit page sections.

[2012-10-31 07:49] avaranovich opened #4 "Structure & Navigation"
Create all necessary html layouts and navigation links between pages.

[2012-10-31 07:50] avaranovich opened #5 "Github authentication"
Users should be able to authenticate using their Github accounts.

[2012-10-31 11:45] tschmorleiz commented on #3
To enable editing and saving the server needs to support PUT requests, which backbone uses to update/save models.

[2012-10-31 14:50] avaranovich commented on #3
@tschmorleiz please specify the interface(s) for PUT. Is that about the sections only?

[2012-10-31 15:06] tschmorleiz commented on #3
The URL is the same as for GET requests: http://localhost:3000/api/pages/**pagename**/sections/**sectionname**. Data is sent in JSON, same structure as the data received via GET. For now I only need support for sections.

[2012-11-04 13:53] tschmorleiz opened #6 "Attach shallow sections to Wiki.page object on server"
The client currently has to read the pre-rendered page DOM to retrieve the section names, create sections and attach them to Wiki.page object.
As with page name and page categories these shallow sections (that is, the "content" attribute is not set) should be attached to Wiki.page on the server.

[2012-11-07 10:19] avaranovich commented on #6
Added this API
http://localhost:3000/api/pages/101implementation:hadoop/sections

Why don't populate the model on the client? The server bootstrap doesn't help here.
Please check if it's OK for you, then I close the issue.

[2012-11-07 11:18] #6 closed, assigned to avaranovich

[2012-12-13 11:01] avaranovich opened #7 "Category pages"
Implement the category pages displaying all members and back-links.

[2012-12-20 15:09] tschmorleiz opened #8 "Solve prefix legacy"
Currently these prefixes are used in the wiki:

101contributor
101feature
101idea
101internal
101priority
101profile
101status
101term
101view
Contribution
Contributor
Dotnet
Internal
Java
Language
Namespace
Technology
Techology
Theme

We should retire those we don't really use at this point, respectively have found other places to put the content.

[2012-12-21 20:22] rlaemmel commented on #7
We do not need to deal with category pages, as far as I can tell. Do I misunderstand the issue?

[2012-12-21 20:22] rlaemmel commented on #8
I am working on this sporadically. This will take some time.
I am going to use this query pattern to find all pages with some prefix:
http://101companies.org/api/api.php?action=query&generator=allpages&gapprefix=101view&format=json

[2012-12-21 20:32] rlaemmel opened #9 "new 101wiki goes live with basic browsing experience"
Old 101wiki must be somehow reachable for editing.
Let's get this switch done soon so that we have things stable between the years.

[2012-12-21 20:39] rlaemmel opened #10 "Show all incoming and outgoing links/properties"
Outgoing property links are easy to show because they sit in the Metadata sections.

They should be rendered like in this example:

this Uses Language:Java

Regular backlinks (i.e., incoming links) are already rendered, I believe.

Incoming property links (i.e., backlinks due to properties on other pages) need to be rendered also:

Contribution:javaComposition Uses this.

("this" should appear in

[2012-12-21 22:25] rlaemmel opened #11 "Property names for external links and internal relatesTo property"
During the migration push yesterday, we ill-designed one property. Some naming is not optimal. Things happen.

That is, we use the name "relatesTo" for pages referring to external resources, but we cannot spend "relatesTo" in this manner. In the megamodeling context, it is also already used, much more importantly, for having one entity to relate to another entity. We really want to reserve "relate

[2012-12-21 22:41] rlaemmel opened #12 "LinkedData-like URI-resolver"
Currently, we leverage the URI scheme provided by MediaWiki/SMW.

In particular, we host all resources in .../resources/...

With LinkedData in mind, we may want to also provide more standardized, less idiosyncratic URIs like this:
- 101companies.org/language/Java
- 101companies.org/technology/JUnit
- 101companies.org/feature/Type-driven_query
- 101companies.org/concept/Model_view_controller
- 101

[2012-12-21 23:56] rlaemmel opened #13 "Bulk rename 101contributors to contributors"
This was slipped through during the push yesterday.

http://101companies.org/api/api.php?action=query&generator=allpages&gapprefix=101contributor&format=json

They all need to move to the "Contributor" namespace.

[2012-12-22 00:12] rlaemmel opened #14 "Proper landing page"
As discussed, we need to design a proper landing page.
We should not rely any longer on mediawiki to host the landing page.
So we need to decide on a website technology to use.
We also need someone to think about a great design for the landing page.
Technology-wise, this must be brain-death simple.
The key challenge is really to get going on a proper page design.

[2012-12-22 00:36] rlaemmel opened #15 "Document SMW setup"
The documentation should go here:

https://github.com/101companies/101wiki/wiki/Smw

At the time of filing the issue, said page also provides some advice on what to cover by the documentation.

[2012-12-22 09:23] tschmorleiz commented on #7
No need to handle category pages; only normal pages + triples.

[2012-12-22 09:23] #7 closed, assigned to tschmorleiz

[2012-12-22 09:39] tschmorleiz commented on #13
All pages were moved and redirects deleted.

[2012-12-22 09:39] #13 closed, assigned to tschmorleiz

[2012-12-27 12:07] rlaemmel commented on #11
I will continue to use the old property syntax, but we should really get this cleaned up soon. Otherwise we will make migration more complicated.

[2012-12-27 21:55] rlaemmel opened #16 "Purge 101wiki to remove legacy content"
101wiki has seen substantial revision efforts. Some of the old data still pops up in ways that perhaps misguide. Also, performance may be affected by all those legacy pages. Thus, some purge should be applied to compress 101wiki to what's relevant now. It needs to be determined what history information should be preserved in the interest of tracking contributors and for whatever other reasons.

[2012-12-28 23:13] rlaemmel opened #17 "Provide trivial inferencing/reasoning-like support for membership in namespaces"
Namespaces provided a non-semantic means of classification.

For instance, by using the prefix "Language" in "Language:Haskell", it is meant to be clear that "Language:Haskell" is an instance of "Namespace:Language".

However, at the triple level, this fact needs to be declared.

The new 101wiki should probably auto-inject properties like

[[instanceOf::Namespace:Language]].

For the time being, t

[2012-12-29 11:26] #11 closed, assigned to avaranovich

[2013-01-04 16:35] rlaemmel opened #18 "Wikipedia-like editorial support for quality control"
When it comes down to single wiki pages, I don't think we should use github issues to track quality issues. Rather we should think about using a model similar to Wikipedia. For instance, a typical page with "issues" would contain a banner with text like this at the top: "This article may need to be rewritten entirely to comply with Wikipedia's quality standards. You can help. The discussion page m

[2013-01-04 18:18] rlaemmel opened #19 "Clever visualization of links as in linksTo properties"
Consider the metadata section of this page for inspiration:

http://101companies.org/wiki/Non-functional_requirement

Basically, pages may have several links in the metadata section and sometimes the links can be pretty long; sometimes they can be pretty non-suggestive (think of dropbox links, for example).

So what's needed is some way to make the appearance look good, e.g.:
- Do not show the lin

[2013-01-05 18:30] rlaemmel opened #20 "Up-to-dateness checking for external links"
With the more recent decision to focus on web resources for citations, we face the natural problem of web-site evolution in the sense that the content of the cited site may change and thus potentially invalidate the citation.

This is a problem, for example, with links to Wikipedia, whose content quite naturally evolves. This is not a problem, for example, with DOI-like links to publications. It's

[2013-01-06 22:54] rlaemmel opened #21 "Classify all contributions with regard to the subunit features"
There are now these new features around composition versus variation of subunits:

http://101companies.org/wiki/Feature:Subunit_homogeneity
http://101companies.org/wiki/Feature:Subunit_heterogeneity

The second one loosely corresponds to what was called previously "Type hierarchy".

This issue is pretty straightforward:
- Iterate over all contributions
  - Determine which of the two above features

[2013-01-07 00:20] rlaemmel opened #22 "Add requirement(s), if any, specifically for NoSQL"
The problem is to add requirement(s), if any, specifically for NoSQL contributions. That is, what requirements would help us being able to demonstrate NoSQL technologies and programming techniques?

See Theme:NoSQL:

http://101companies.org/wiki/Theme:NoSQL

See also this contribution:

http://101companies.org/wiki/Contribution:haskellFlattened

Additional features would add to existing features f

[2013-01-07 00:22] rlaemmel opened #23 "Add requirement(s), if any, specifically for data warehousing"
This issue is basically a specific aspect of the following, more general issue:

https://github.com/101companies/101repo/issues/24

The problem is to add requirement(s), if any, specifically for data warehousing. That is, what requirements would help us being able to demonstrate somewhat data warehousing technologies and approaches?

Additional features would add to existing features for the 101co

[2013-01-13 01:59] rlaemmel opened #24 "Clean up metadata sections not to contain any non-property stuff"
Consider this:

http://101companies.org/wiki/Contribution:csharp

The metadata contains all kinds of text (incl. versions).

We have to move such stuff out of the metadata section.

For all implementations.

Probably, this item requires some discussion.

[2013-01-13 13:45] rlaemmel opened #25 "License / copyright clarity of wiki content"
Some relevant information is shown in various page contexts and a number of pages.
It looks like this information may be confusing.
We need to make this aspect simple and clear.
To get this right, we need to do some research.

See also the related issue on 101repo:

https://github.com/101companies/101repo/issues/33

[2013-01-13 14:01] rlaemmel commented on #24
I am cleaning assignment because I guess me or Martin would be equally ready to look into this.
So let's discuss at the scrum.

[2013-01-16 19:20] rlaemmel opened #26 "Allow fragment description from within wiki pages"
That's something Martin and me discussed today and this may be the right direction.

Let's discuss this some more.
# The past

We have played around with different ways of including code snippets into wiki pages.
## Copy and paste
### Pros
- Easy in the sense that authors are productive this way.
- One can easily customize the code for what needs to be shown.
### Cons
- Code may be outdated.
- Thi

[2013-01-23 07:52] avaranovich opened #27 "Tagcloud for the landing page"
As discussed during the meeting, pelase find a service which could generate a colorised tag cloud which will be used on the landing page of 101companies.

[2013-01-23 07:55] avaranovich opened #28 "Text for the landing page"
We need a text for the landing page which is currently deployed at http://beta.101companies.org

All "latin" placeholders should be replaces with the proper english text.

Please use the following document http://sync.in/6JrSl1OI6U
Or edit the page directly https://github.com/101companies/101rails/blob/master/app/views/layouts/landing.html.erb

[2013-01-23 07:57] avaranovich commented on #14
Reassigned the issue to myself.
Created 2 related issues based on the last meeting:
https://github.com/101companies/101wiki/issues/28
https://github.com/101companies/101wiki/issues/27

[2013-01-24 01:46] rlaemmel commented on #26
Andrei and me had a great discussion earlier today (eem, yesterday) which we should continue with all those involved on Monday.

Here is the bottom line.

We may want to simplify and more RDF/URI-enable the treatment of fragments.

Consider this sort of contrived example:

http://repo.101companies.com/contributions/javaComposition/org/softlang/model/Company.java/total

"repo.101companies.com" woul

[2013-01-27 20:43] rlaemmel opened #29 "Reliable and scaleable support for github link on contribution pages"
It happens to me quite often that I get to contribution pages and the "Fetching link" thing never disappears.

I have discussed with Thomas and this behavior may be sometimes related to a quota issue for some involved API.

I am pretty sure that it cannot always be the issue because I am getting this behavior also when I assume everyone to sleep :-) Well, we may have enough worldwide-visitors. So

[2013-02-02 23:33] martinleinberger commented on #26
I have a prototype up and running on my local machine. However, there are two issues that may need some discussion:

First of all, FragmentLocators work on files; they expect all parameters to be files. So this service needs to take the given fragment, save the data as a file, then call the FragmentLocator and then read the file that the FragmentLocator produced. This could be simplified if Fragme

[2013-02-04 22:54] martinleinberger commented on #26
To summarize the results of todays scrum:
- FragmentLocators should also allow the option to work entirely with the command line. For example, such a call could look like: **./somePath/locator.py path/to/File fragmentData** and the result should be printed on the **command line** instead of a file.
- FragmentLocators should also accept the fragment specific part of the RDF-ish URI, because they kn

[2013-02-25 23:26] rlaemmel opened #30 "Logging the right user for page changes"
As we discussed, the current architecture for the new 101wiki would use a "generic" mediawiki user for performing page edits. This makes it hard to associate users with actual edits as we need this, for example, for badges that give credits to wiki page authors.

Thus we need to come up with some trick to track the proper users anyway.

At a high level, we have these options:
- we mirror 101wiki a

[2013-03-07 19:00] rlaemmel opened #31 "A plugin in the 101wiki UI for rendering navigation targets"
See https://github.com/101companies/101worker/issues/44 for some context.

The plugin should essentially show navigation targets to knowledge resources (such as Haskell textbooks) in some nice manner close to the page context of backlinks.

[2013-03-22 17:38] rlaemmel opened #32 "Edits to be logged with the correct user"
I think this is part of the (extended) core experience, implicitly, sort of, but let me file this explicitly. Suggesting Thomas here, but please sync with Andrei, who may also be looking into this.

We need to be able, with reasonable effort and good precision to extract editing users per page. On the old wiki, this is sort of trivial, as the user is indeed tracked with the normal log, but the new

[2013-03-22 17:49] rlaemmel opened #33 "Lowercase namespaces in internal links"
Thomas, I am assigning this and some other issues to you --- not knowing very well, whether Andrei would be more appropriate. Please sync with Andrei, if necessary.

This is about a really simple bug:

Go here:
http://beta.101companies.org/wiki/Contribution:haskellComposition
Then go to relationships and click the first link for Contribution:haskellVariation.
This is the actual link, which uses lo

[2013-03-22 17:51] rlaemmel opened #34 "Semantic back links"
Thomas, I am assigning this and some other issues to you --- not knowing very well, whether Andrei would be more appropriate. Please sync with Andrei, if necessary.

Didn't we have semantic backlinks at some point where "this" is the object as opposed to the subject?

Don't see this on the pages I tried.

[2013-03-22 17:53] rlaemmel opened #35 "Explorer and data links as well page title"
Thomas, I am assigning this and some other issues to you --- not knowing very well, whether Andrei would be more appropriate. Please sync with Andrei, if necessary.

Go to any beta... page.
There is a "Data" link; it does not direct to "data.101companies.org".
There is an "explorer" link; neither does this direct anyway.

Please also fix the title, which is currently "wiki".
Call it "101wiki" perh

[2013-03-22 17:55] rlaemmel opened #36 "Cannot edit semantic properties registry"
Hi Andrei,

I went here:

http://101companies.org/wiki/Namespace:Property

Then here:

http://101companies.org/index.php?title=MediaWiki:Smw_import_v101

I am logged in as rlaemmel, but I only see "view source" but not "edit".

[2013-03-22 17:58] rlaemmel opened #37 "Are user restrictions in place?"
Andrei, I am assigning this and some other issues to you --- not knowing very well, whether Thomas would be more appropriate. Please sync with each other, if necessary.

As we are now effectively leaking the beta page, let's make sure that no one can edit the wiki all too easily. As we discussed, I don't think that a mere github account can be sufficient to give you any rights immediately.

Did we

[2013-03-22 18:08] rlaemmel opened #38 "Fragment markup on the new wiki"
Andrei, I am assigning this and some other issues to you --- not knowing very well, whether Thomas would be more appropriate. Please sync with each other, if necessary.

I wonder whether now is the time to enable fragment markup in the pages?
- We are editing a lot these days; chances are that we properly use the feature.
- It would be very nice to talk about in the paper, but I guess we can wait

[2013-03-23 11:53] rlaemmel commented on #32
Andrei just explained that the github user id tracking already happens within the history records.

https://github.com/101companies/101rails/blob/master/app/controllers/pages_controller.rb

See def update

Here is the history model:

https://github.com/101companies/101rails/blob/master/app/models/history.rb

The history records go to mongodb.

[2013-03-23 11:53] #32 closed, assigned to tschmorleiz

[2013-03-23 11:57] rlaemmel opened #39 "mediawiki user id migration to history model of new 101wiki"
Edits on the new wiki are already logged according to a history model in mongodb.

https://github.com/101companies/101rails/blob/master/app/controllers/pages_controller.rb

https://github.com/101companies/101rails/blob/master/app/models/history.rb

This means that we can describe functionality to associate pages with user ids.

In the old wiki, the mediawiki user ids are used in a separate logging

[2013-03-25 01:12] rlaemmel opened #40 "Umlaut/special char issue in RDF triples"
The triple store uses some strange encoding.

This surfaces in the metadata sections on pages.

For instance:
http://beta.101companies.org/wiki/Contribution:haskellSyb

this developedBy Contributor:Ralf L-C3-A4mmel

[2013-03-25 01:14] rlaemmel opened #41 "Cannot sign in"
http://beta.101companies.org/auth/github/callback?code=a4f03d5ce7101ef1ff14&state=6957418bbbbc48d962cb9e101ecb0736498518c7e7977592

We're sorry, but something went wrong.

[2013-03-25 01:15] rlaemmel opened #42 "Sign up loops"
http://beta.101companies.org/users/sign_up

This webpage has a redirect loop
The webpage at http://beta.101companies.org/users/sign_up has resulted in too many redirects. Clearing your cookies for this site or allowing third-party cookies may fix the problem. If not, it is possibly a server configuration issue and not a problem with your computer.
Here are some suggestions:
Reload this webpage lat

[2013-03-25 01:16] rlaemmel commented on #41
Despite those errors I get an "Edit" button now.

[2013-03-25 01:17] rlaemmel commented on #42
Despite those errors I get an "Edit" button now.

[2013-03-25 01:25] rlaemmel opened #43 ""Done" does not disappear upon save."
Actually, no "done" needs to be shown.
Please just show the changed page.

[2013-03-25 01:32] rlaemmel opened #44 "file etc. markup does not seem to work"
I tried to start using it here:

http://beta.101companies.org/wiki/Contribution:haskellSyb

I tried with this markup:

 <file url="haskellSyb/src/Company/Generics.hs"/>

(.... because this is what I understood the current conventions are from what Andrei said on Skype.)

The markup is shown, as is. No file content is shown.

Two things are important with regard to the URL:
- We should support ''re

[2013-03-25 01:36] rlaemmel commented on #44
Ok, I can provide more details.

The trouble was that I had a space in front of the markup.

When I removed the space, the file would be linked.

It is rendered like this:

BEGIN
1. https://github.com/101companies/101haskell/tree/master/contributions/haskellSyb/src/Company/Generics.hs
END

Why "1."?

How do I get to see the content of the file rather than this link?

(Is there documentation?)

The

[2013-03-25 01:49] rlaemmel commented on #44
BTW, there is now a somewhat related issue here:
https://github.com/101companies/101worker/issues/47

Also, please not that the file in question was actually moved recently.
I also tried with haskellCabal/src/Company/Total.hs which is discoverable.

[2013-03-25 01:57] rlaemmel commented on #44
Just confirming that I was able to see <fragment .../> working. So my issues are about <file .../>.

[2013-03-25 02:00] rlaemmel opened #45 "Sections need to be foldable"
This is important when explaining (also screen capturing) wiki pages where folding would make it possible to hide some sections while showing their existence. So there should be some fold/unfold button perhaps.

[2013-03-25 02:28] rlaemmel opened #46 "Position edit focus at the beginning of section"
When I edit a longer section, then I get positioned, it seems, at the end of the section.

This is not what I would expect.

[2013-03-25 02:39] rlaemmel opened #47 "More balanced skip between text and rendered fragments"
Let's look at this, for example:

http://beta.101companies.org/wiki/Contribution:haskellStarter

There is quite some vertical space within the boxes for fragments, right before the fragment.

There is very little space, though, between the preceding text and the actual box. There needs to be more such space.

Ideally, text and box at least as much separated as the box' content is separated from it

[2013-03-25 02:44] rlaemmel opened #48 "No line wrapping in itemized lists"
Let's go here:

http://beta.101companies.org/wiki/Contribution:haskellStarter

Than have a look at the Relationships section.

The item is not wrapped.

In fact, it is impossible to see all the text: "In the interest of maintaining a very simple simple beginner's example, the present contribution is about the only contribution which does not commit to packaging, unit testing, and modularization. S

[2013-03-25 02:48] rlaemmel opened #49 "Metadata items need to be sort in some way"
Let's go here for a test case:

http://beta.101companies.org/wiki/Contribution:haskellStarter

I see these items:

[code]

For instance, there are two "instanceOf::Theme:..." which should be grouped.

I believe the easiest thing is just to group by the namespace of the object and then sort by the unqualified name. Groups by the namespaces should also be sorted by the namespaces.

Of course, we als

[2013-03-25 03:43] rlaemmel opened #50 "fragment/module selectors need to be shown on page"
To improve discoverability, we want to actually show the fragment selectors so that people understand from where the fragments are coming and they can click links to go there. An interesting question is whether we should link to github or to 101companies.org/resources.  I think the later is to be preferred.

[2013-03-25 09:53] tb91 commented on #48
mhh I tested it and it works fine... I can see the hole text..  so why does it not work on your machine? maybe using mac? ;-P

[2013-03-25 22:26] avaranovich commented on #44
@rlaemmel now files are linked OK?
all supported tags are in this example document, which is used for testing https://github.com/avaranovich/wikicloth/blob/master/sample_documents/fragments.wiki
the proper documentation will be added as soon as we finalize this part.

[2013-03-25 22:42] rlaemmel commented on #44
Waiting for @martinleinberger to fix some related stuff and for 101worker to make its round before I can say.

[2013-03-26 12:03] rlaemmel commented on #44
Andrei, the doc does not suggest that these issues were fixed:
- cover more than just contributions,
- use / for absolute reference,
- support relative references (not starting in /) -- relative to page.
  Can we prioritize this?

[2013-03-26 13:06] rlaemmel opened #51 "Escaping problem with source code renderer"
Please have a look here:

http://beta.101companies.org/wiki/Contribution:haskellStarter

[code]

The signature is not Ok.

[2013-03-26 13:07] rlaemmel opened #52 "Metadata section empty"
At this point it is empty:

http://beta.101companies.org/wiki/Contribution:haskellComposition

[2013-03-26 13:14] tschmorleiz commented on #52
This happend due to downtime of the semantic endpoint. Back up.

[2013-03-26 13:14] #52 closed, assigned to avaranovich

[2013-03-26 13:38] rlaemmel opened #53 "Make it easier to add a section (or also remove it)"
One can of course edit a section and then sneak in markup for a new section, but perhaps something more intuitive could be done.

[2013-03-26 17:16] rlaemmel opened #54 "Cannot edit metadata and metadata missing"
Playing with http://beta.101companies.org/wiki/Monad

When I push "Edit" on the Metadata section, then the edit area appears and quickly disappears to the left out of the visible area.

Also, these triplets are now shown.

[code]

[2013-03-26 17:17] rlaemmel opened #55 "Double entries for external books"
See here: http://beta.101companies.org/wiki/Monad

[code]

[2013-03-26 17:21] rlaemmel opened #56 "Beautification of entries for external books"
Looking at http://beta.101companies.org/wiki/Monad
- Please leave some bits of space after the listed resources. The footer of the page is very close to the listed entries.
- Having this "Primary" in front of the listed entries looks strange. I would say remove "Primary". I would rather suggest to use bold/bigger font for primary entries and normal/smaller font for other entries.
- Question: Are t

[2013-03-27 00:21] tschmorleiz commented on #31
Done.

[2013-03-27 00:21] #31 closed, assigned to tschmorleiz

[2013-03-27 00:22] #9 closed, assigned to avaranovich

[2013-03-27 00:22] #10 closed, assigned to tschmorleiz

[2013-03-28 10:48] rlaemmel opened #57 "Hide namespace/property when showing metadata on wiki page"
So it would be just this implements Feature:Cut

[2013-03-28 12:10] rlaemmel opened #58 "Comment feature on new wiki seems broken"
Go to any page, e.g.:
http://beta.101companies.org/wiki/Contribution:haskellSyb

Go the bottom of the page and click "Comment".

One ends up in nowhere such as here:
http://localhost:3000/101implementation:xslt

The back button's not working either.

[2013-03-28 12:12] rlaemmel opened #59 "Backlinks in old wiki sort of now working"
(Sometimes it seems to help just to save the backlinking page another time.)

Go here, for example:

http://101companies.org/wiki/Vocabulary:Haskell

It does not show any backlinks.

There are clearly backlinks as we see on the beta wiki:

http://beta.101companies.org/wiki/Vocabulary:Haskell

[2013-03-28 12:51] rlaemmel opened #60 ""Saving" stalls"
When saving a page, "Saving" never disappears. I will eventually cancel it and it seems the save succeeded anyway.

[2013-03-28 12:53] rlaemmel commented on #60
I should add that this does not seem to happen all the time.

[2013-03-28 12:54] rlaemmel commented on #53
I should add that the "trick" that I describe leads to strange results.

Namely, the new section header is not shown upon saving.

However, if I reload the page past saving, then the new section header appears.

[2013-03-28 12:57] rlaemmel commented on #53
There is actually a proper bug:

Suppose I add section "Details" by appending it to "Headline" then this is what gets saved. So the metadata section disappears.

[code]

I am filing a bug on this matter.

[2013-03-28 12:58] rlaemmel opened #61 "Save scrumbles section structure"
Suppose I add section "Details" by appending it to "Headline" then this is what gets saved. So the metadata section disappears.

[code]

This relates to this issue: https://github.com/101companies/101wiki/issues/53

[2013-03-28 13:45] rlaemmel opened #62 "Alphabetic order within the *unique* and *non-unique* summary files"
I am referring to the .tex variants specifically:

http://data.101companies.org/resources/modules/integrate/summary/

It would be good to be alphabetical for the good order.

[2013-03-28 13:57] rlaemmel opened #63 "subject, object in triples on pages must be clickable"
Backlinks are clickable, but not the subjects, objects (other than "this") in triples.

[2013-03-28 14:30] rlaemmel opened #64 ""Rename" needed"
It would need to do what the existing 101dev/tools/wikiRefactorer does.

That is, it would need to also rename all references and not just rename the page.

[2013-03-28 14:47] rlaemmel opened #65 "Some term not handled by book linking service"
Let's look at this:
http://beta.101companies.org/wiki/Error
No book links are shown.

It is mapped like this:
FREQ,error,Error,
in 101integrate/data/perbook/RWH/metadata/mapping.csv

What's special about this one?
- It uses FREQ in the mapping.
- It has been added only yesterday evening.

[2013-03-28 17:51] rlaemmel opened #66 "Some line wrapping needed in editing mode"
When editing a bigger paragraph of text, then the editor formats all text as a single line, which makes editing relatively awkward.

[2013-03-28 17:52] rlaemmel opened #67 "Spell checking to be enabled in editing mode"
I would hope that there is some simple way to give us spell checking as one gets in various web-based editing contexts.

[2013-03-30 10:59] tschmorleiz commented on #65
Now showing up due to fresh worker cycle.

[2013-03-30 10:59] #65 closed, assigned to tschmorleiz

[2013-03-30 11:04] tschmorleiz commented on #48
I can in fact not reproduce the bug. For me (Chrome 26.0.1410.43, Mac OS X 10.8.1) wrapping looks fine.

[2013-03-30 13:44] tschmorleiz commented on #45
Should be enabled in next deployment.

[2013-03-30 13:44] #45 closed, assigned to tschmorleiz

[2013-03-30 15:49] tschmorleiz commented on #63
Should be fixed in next deployment. Code pushed.

[2013-03-30 15:50] tschmorleiz commented on #57
Done.

[2013-03-30 15:50] #57 closed, assigned to tschmorleiz

[2013-03-30 16:15] tschmorleiz commented on #40
Should be fixed in next deployment. Code pushed.

[2013-03-30 16:15] #40 closed, assigned to tschmorleiz

[2013-03-30 17:44] tschmorleiz commented on #34
Ralf, can you please provide a link to a page where you think such triples are missing?
A working example: http://beta.101companies.org/wiki/Monad

[2013-03-30 17:53] tschmorleiz commented on #27
Solved by now.

[2013-03-30 17:53] #27 closed, assigned to tschmorleiz

[2013-03-30 17:59] tschmorleiz commented on #29
Solved by accessing this dump http://data.101companies.org/dumps/PullRepo.jsonp

[2013-03-30 18:45] #29 closed, assigned to tschmorleiz

[2013-03-30 20:25] rlaemmel opened #68 "github link feature for new wiki"
I just saw @tschmorleiz fixing the github link feature on the old wiki, but the FP course, for example, will need to use the new wiki. So can we also have the feature for the new wiki? Arguably, we could also link to the discovery service because it provides a whole lot of additional information. So let's discuss.

[2013-03-30 20:30] rlaemmel commented on #34
Yes, @tschmorleiz , I was noticing that the other direction of semantic links kicked in again.
I am closing therefore.

[2013-03-30 20:30] #34 closed, assigned to tschmorleiz

[2013-03-30 20:30] rlaemmel commented on #57
Looks cool! Thanks.

[2013-03-30 20:32] rlaemmel commented on #63
Links seem to be mis-composed.

I get this:

http://beta.101companies.org/wiki/wiki/Feature:Cut

when clicking the object for the Cut feature on this pager:

http://beta.101companies.org/wiki/Contribution:haskellSyb

[2013-03-30 20:46] rlaemmel commented on #48
@tschmorleiz, You may have had trouble reproducing it because the content was changed recently.

That is, the "*" was removed in front of the one and only paragraph in "== Relationship ==".

I put the "*" back so that it is an item again.

This brings back the problem.

I am using this: Chrome Version 26.0.1410.43, Mac OS 10.6.8.

Same problem with Firefox 13.0.1.

![item](https://f.cloud.github.c

[2013-04-01 12:44] tschmorleiz commented on #63
Deployed fix.

[2013-04-01 12:44] #63 closed, assigned to tschmorleiz

[2013-04-01 12:45] tschmorleiz commented on #33
Fixed.

[2013-04-01 12:45] #33 closed, assigned to tschmorleiz

[2013-04-01 13:27] tschmorleiz commented on #55
I will fix this at the level of 101integrate.

[2013-04-01 14:26] tschmorleiz commented on #55
Fixed.

[2013-04-01 14:26] #55 closed, assigned to tschmorleiz

[2013-04-01 14:39] tschmorleiz commented on #68
Created a silly little worker service serving "instances" of an appropriate backbone.js model: http://worker.101companies.org/services/sourceLinks/happstack.jsonp

[2013-04-01 20:59] tschmorleiz commented on #68
Added links to GitHub and also the .zip file to the navigation bar. See http://beta.101companies.org/wiki/Contribution:haskellSyb for instance.

[2013-04-01 21:01] tschmorleiz commented on #3
Works.

[2013-04-01 21:01] #3 closed, assigned to tschmorleiz

[2013-04-01 21:09] rlaemmel commented on #68
Looks great.

Perhaps "Code" would be more suggestive than "Source"?

Or is it just me?

@avaranovich ?

[2013-04-01 22:09] tschmorleiz commented on #60
Fixed.

[2013-04-01 22:09] #60 closed, assigned to tschmorleiz

[2013-04-01 22:09] #56 closed, assigned to tschmorleiz

[2013-04-01 22:09] tschmorleiz commented on #43
Fixed.

[2013-04-01 22:09] #43 closed, assigned to tschmorleiz

[2013-04-01 23:53] tschmorleiz commented on #49
Triples in Metadata section now ordered by
1. predicate
2. subject or object (depending which one !== "this")

[2013-04-01 23:53] #49 closed, assigned to tschmorleiz

[2013-04-02 00:13] tschmorleiz commented on #47
Top and bottom margin of syntax-highlighting boxes set slightly higher than padding.

[2013-04-02 00:13] #47 closed, assigned to tschmorleiz

[2013-04-02 00:13] tschmorleiz commented on #35
Explorer tab disabled for now.

[2013-04-02 00:13] #35 closed, assigned to tschmorleiz

[2013-04-02 00:23] tschmorleiz commented on #46
Cursor not set to very beginning of text when hitting "Edit" (Changed will show up after next deployment).

[2013-04-02 00:23] #46 closed, assigned to tschmorleiz

[2013-04-02 00:41] tschmorleiz commented on #48
Ok, now I was able to reproduce the issue. Should be fixed (Changes will show up after next deployment).

[2013-04-02 00:41] #48 closed, assigned to tschmorleiz

[2013-04-02 10:25] tschmorleiz commented on #61
Fixed. Sections are now checked whether they contain exactly one actual section header.

[2013-04-02 10:25] #61 closed, assigned to tschmorleiz

[2013-04-02 10:26] tschmorleiz commented on #53
The bug itself is fixed. Will add/remove support for sections soon.

[2013-04-03 12:27] tschmorleiz commented on #67
Done.

[2013-04-03 12:27] #67 closed, assigned to tschmorleiz

[2013-04-03 12:27] tschmorleiz commented on #66
Done.

[2013-04-03 12:27] #66 closed, assigned to tschmorleiz

[2013-04-03 12:28] tschmorleiz commented on #53
Section adding should be possible. Will add removal soon (plus entire page editing).

[2013-04-04 12:25] avaranovich commented on #51
I realized that the source code is escaped somewhere inside discovery service. Have a look here (content property)
http://101companies.org/resources/contributions/haskellSyb/src/Company/Total.hs/pattern/total

So I am reassigning the issue to @martinleinberger

[2013-04-04 12:49] avaranovich commented on #44
Added context handling.
Example. Suppose we're on the http://101companies.org/wiki/Contribution:haskellSyb

[code]

is equal to

[code]

both are resolved to http://101companies.org/resources/contributions/haskellSyb/src/Company/Total.hs/pattern/total

an update is already deployed to beta.101companies.org

[2013-04-04 12:59] avaranovich commented on #68
Yes, "Code" is better.

[2013-04-04 13:01] rlaemmel opened #69 "urgent -- 101companies.org super-slow"

[2013-04-04 13:02] tschmorleiz commented on #69
Reassigned to Andrei since he knows what's running on that machine.

[2013-04-04 13:05] martinleinberger commented on #51
Yes, I apply some escaping. This is, for example, necessary when the discovery service should display XML source code and the output format should be HTML.

Unfortunately, I always escaped the content. I changed this now so that escaping is only applied when the output format is HTML.

[2013-04-04 13:06] #51 closed, assigned to martinleinberger

[2013-04-04 13:11] tschmorleiz commented on #68
Ok.

[2013-04-04 13:13] avaranovich commented on #69
is it now better? The machine is obviously out of resource capacities. The new wiki will be migrated on the new server during subbotnik. For now I restarted some services.

[2013-04-04 13:13] #69 closed, assigned to avaranovich

[2013-04-04 13:14] avaranovich commented on #38
duplicated.

[2013-04-04 13:46] #44 closed, assigned to avaranovich

[2013-04-04 13:55] rlaemmel commented on #69
Thanks!

[2013-04-05 10:29] tschmorleiz commented on #53
Added feature for editing entire pages.

[2013-04-05 10:29] #53 closed, assigned to tschmorleiz

[2013-04-05 14:06] tschmorleiz opened #70 "Search feature for the new wiki"
We need a search feature for the new wiki. There could be two options:
- Search based on title
- Search based on content

[2013-04-06 16:17] rlaemmel opened #71 "First version of contribution web page"
I am trying to capture here what I think is the consensus of what the basic page should look like. I **strongly** recommend pushing for a mockup or a basic prototype so that we can incrementally validate and advance our understanding and requirements. Thus, below, a broader vision is described on much more than the "first" version to place everything in the right context.
## Rationale

Generally,

[2013-04-08 13:27] #5 closed, assigned to avaranovich

[2013-04-08 13:29] #38 closed, assigned to avaranovich

[2013-04-08 13:30] #30 closed, assigned to avaranovich

[2013-04-08 13:39] #41 closed, assigned to avaranovich

[2013-04-08 13:49] #42 closed, assigned to avaranovich

[2013-04-09 17:23] rlaemmel opened #72 ""+ Add Section" shows even when not logged into the wiki"

[2013-04-09 17:38] rlaemmel opened #73 "new 101wiki down (super-slow)"
When I edit a new page, "saving" does not disappear.
After 1min or so it times out and the page is not synced.
The content is saved.
Section level editing on the same page, after reload, does not save.

[2013-04-10 07:27] tschmorleiz commented on #72
Fixed.

[2013-04-10 07:27] #72 closed, assigned to tschmorleiz

[2013-04-11 09:25] avaranovich opened #74 "Section edit sends an empty content to the mediawiki"
Open the page. Go to the section. Edit section. Save. (Should not be any "saving" popups).
Edit the same section 2nd time. Save. Weird things happen. At some point @rlaemmel managed to empty the page. Another time the content just wasn't saved. (After we refreshed the page -- there was an old section content).

Please test the editing process _very_ carefully  and resolve this issue, as we don't w

[2013-04-11 10:10] avaranovich commented on #74
Here is what sent to the server as a result of section edit -> Save

categories: []
content: ""
history: {_id:51668a3542b430acd0000001, created_at:2013-04-11T10:02:29Z, page:contribution:haskellStarter,…}
resources: [{name:PIH, fullName:Programming in Haskell, isLinkable:false, primary:[], secondary:[],…},…]
sections: [,…]
sourceLinks: []
title: "contribution:haskellStarter"
triples: []

Why the c

[2013-04-11 10:14] avaranovich commented on #73
Added a related (editing) issue https://github.com/101companies/101wiki/issues/74.
Section-level editing should not empty page anymore.

[2013-04-11 10:19] avaranovich commented on #73
@rlaemmel please do a new test round to see if the perf issue is still exists. I tweak some bits of config and the application code, should be OK now.

[2013-04-11 12:41] rlaemmel commented on #73
I did these tests.
1. Tried to load this page by entering it into the URL bar: http://101companies.org/wiki/Information:Contribute Took approx. 5 secs
2. Waited about 30sec. Then tried to reload the same page. Took approx. 8 secs
3. Waited about 10sec. Then tried to reload the same page. Less than a second. Reloaded a few times and things were fast now.
4.  Tried to load this page by entering it i

[2013-04-11 12:47] rlaemmel commented on #70
Assigned the search feature to a milestone to express relative urgency.

Perhaps, we could tunnel through the mediawiki search feature as a starting point.

[2013-04-11 13:24] avaranovich commented on #73
OK, now page loads reduced to ~  < 1sec.

[2013-04-11 13:58] rlaemmel commented on #73
Yes, looks good for now.

[2013-04-11 15:08] tschmorleiz commented on #74
Yes, sorry, my fault. That should solve it.

[2013-04-11 16:46] rlaemmel opened #75 "Property pages are rendered strangly"
http://101companies.org/wiki/Property:Identifies

I guess the special markup at the beginning of the page confuses the client, just guessing, though.

See how some sections get indented.

See also how edit buttons are not consistently available.

[2013-04-11 16:47] rlaemmel commented on #75
See also how the metadata is not rendered properly.

[2013-04-11 16:52] rlaemmel opened #76 "Back links / triples frequently missing"
Go here, for example:
http://mediawiki.101companies.org/wiki/Namespace:Property
Backlinks should list some actual properties, but there is none.

Let me switch to new wiki:
http://101companies.org/wiki/Namespace:Property
The instanceOf triples are also not shown there.

This happens very often for any kind of pages.
Sometimes, by saving some instance pages, the links would come back.

It is extrem

[2013-04-11 16:59] rlaemmel commented on #76
One triple is actually there:
▶identifies instanceOf this
The backlink is missing though.
I see whether I can add some instanceOf properties for more properties.

[2013-04-11 17:27] rlaemmel opened #77 "How do we deal with "developedBy" properties on the new wiki?"
I guess @burgua or @arkadi-schmidt may also be the right persons for this issue.

Anyway, we need to discuss first.

Currently, we assume that contributors have associated 101wiki pages.

Will this continue to be like this?

Should we automatically create these pages during contribution submission?

Should that the contribution web page have the contributor confirm the name of her/him?

[2013-04-11 17:31] burgua commented on #77
I would say:

[2013-04-11 17:52] rlaemmel opened #78 "Filter citations on the pages of the new 101wiki"
Let's consider this page, for example:

http://101companies.org/wiki/Namespace:Property

It does list various instanceOf triples correctly.

All those pages with those instanceOf triples are ALSO listed in the "citations" block.

We should NOT list pages as citing if they are already acting as the SUBJECT of a triple.

Otherwise, citations are basically repeating the subjects of all the incoming t

[2013-04-11 17:56] rlaemmel opened #79 ""identifies" / "linksTo" properties not rendered on the new 101wiki"
Let's go here:

http://101companies.org/wiki/Namespace:Property

If you look at the source of the page, then there is this line in the metadata section:

[code]

Nothing is shown for this triple on the rendered page.

I guess we need to sort out how we want to render those things.

Isn't that related to what @tschmorleiz did for the LinkedLambdas paper?

[2013-04-11 18:27] rlaemmel opened #80 "Small skip needed between paragraphs"
When you have this sort of page content ...

[code]

... then the two paragraphs must be rendered in a way that some small skip appears between the paragraphs (so that this is not visually confused with both paragraphs being one). Mediawiki gets this right.

[2013-04-11 18:40] rlaemmel opened #81 "Subsections are handled strangely"
Let's go here:

http://101companies.org/wiki/Information:Discover

I am using "=== ... ===" subsections in "Description".

This error message appear upon saving the section:

Validation Error: More than one section header specified

Also, when the section is rendered, then some sort of table of contents appears in the section.

[2013-04-11 18:42] rlaemmel opened #82 "Links are not clickable"
Let's take this one for example:

http://101companies.org/wiki/Information:Discover

There are various links scattered over "Description".

They are not colored; they are not clickable.

On mediawiki they are both.

[2013-04-11 18:47] rlaemmel commented on #81
Oops, the page was not even saved when these subsections were added.

That's very strange because the subsections are rendered past save.

[2013-04-11 20:26] rlaemmel commented on #73
Just waited 42 secs for these pages:

http://101companies.org/wiki/Contribution:haskellStarter

http://101companies.org/wiki/Namespace:Feature

Not that I think the URLs matter.

Reload is now fast again.

[2013-04-11 20:28] rlaemmel commented on #73
Next page I tried:

http://101companies.org/wiki/Stack

Took about a minute.

[2013-04-11 20:33] rlaemmel opened #83 "Section-level edit broken"
I tried to edit "Illustration" here:

http://101companies.org/wiki/Stack

Clicking "Save" for the first time doesn't do anything.

Clicking it for the second time, starts saving but the "Saving" popup never disappears. I waited like a minute.

I clicked it away and do a reload: the edited content is there.

[2013-04-11 20:44] rlaemmel opened #84 "fragment rendering broken"
Error messages rather than the actual rendered code appears.

This is page http://101companies.org/wiki/Contribution:haskellStarter

See
     undefined method `[]' for nil:NilClass
etc.

<pre>
The data model relies on tuples for data composition:
-- Companies as pairs of company name and employees
type Company = (Name, [Employee])
undefined method `[]' for nil:NilClass
Basic types for strings and

[2013-04-11 20:45] rlaemmel commented on #84
This only seems to happen occasionally.
Just reloaded the page and then everything looks dandy.

[2013-04-11 20:47] rlaemmel commented on #83
Pressing "Edit" should also make the UI respond immediately.
It is a short second before something happens.

[2013-04-11 21:00] rlaemmel commented on #76
Here is another example to help with reproducibility of the missing backlinks issue.

Go here:

http://mediawiki.101companies.org/wiki/Namespace:Information

It does not show Information:Markup.

However that page does "instanceOf" link to Namespace:Information. See here:

http://mediawiki.101companies.org/wiki/Information:Markup

Not even saving again the entire page makes the backling occur.

Am

[2013-04-11 21:11] rlaemmel opened #85 "mediawiki history feature broken"
Just tried to do "History"

on this page:

http://mediawiki.101companies.org/wiki/Stack

Navigation then goes here:

http://mediawiki.101companies.org/Stack

Obviously, this gives us a 404.

(Thus, we cannot undo changes, for example.)

[2013-04-11 21:44] rlaemmel opened #86 "Bold ('''...''') not working"
It's used but not shown here, for example:

http://101companies.org/wiki/Course:Lambdas_in_Koblenz

[2013-04-11 22:21] rlaemmel opened #87 "Abbreviation support"
@tschmorleiz and me discussed this a while ago.

We need some sort of deep support for abbreviations.

Consider "Scrap your boilerplate" versus "SYB".

We want to use SYB often for references, but those "SYB" mentions should be counted as references to "Scrap your boilerplate".

Mediawiki provides "redirects" in this context, but they don't work well enough. In particular, the proper counting, as

[2013-04-11 23:23] rlaemmel opened #88 "Map "_" to " ""
Consider this for example:

http://101companies.org/wiki/Namespace:Resource

The first "_" seems to be mapped to " ".

The second and so "_" seems to stay as "_".

We need " " allover.

[2013-04-11 23:32] rlaemmel opened #89 "Metadata rendering looks weird"
Please go here:

http://101companies.org/wiki/Resource:Purely%20functional%20data%20structures

No triples are rendered.

Instead it looks like this:

<pre>
instanceOf::Namespace:Resource
identifies::http://www.cs.cmu.edu/~rwh/theses/okasaki.pdf
relatesTo::Functional data structure
</pre>

[2013-04-11 23:36] rlaemmel opened #90 "Render namespace prefix : name somewhat nice"
We do have this nice behavior on mediawiki but not on the new 101wiki:

http://mediawiki.101companies.org/wiki/Resource:Handbook_of_data_structures_and_applications

That is, the prefix is sort of deemphasized.

I propose this for the new 101wiki:
- Smaller prefix
- Some extra space around ":" .

[2013-04-11 23:36] rlaemmel commented on #90
This is specifically needed in the title of a page but it also makes sense in rendering references to pages.

[2013-04-11 23:52] rlaemmel opened #91 "Old and new 101wiki out of sync"
http://101companies.org/wiki/Course:Lambdas_in_Koblenz

versus

http://mediawiki.101companies.org/wiki/Course:Lambdas_in_Koblenz

The first page lists a MUCH shorter (earlier) description that the second.

[2013-04-12 00:30] rlaemmel opened #92 "http://101companies.org to become reasonable"
Can we please meet about this and get the page reasonable?

I list a few things that need work:
- What is "Home" when you are on "Home"?
- What is "About" supposed to refer to?
- What is "Blog" supposed to refer to?
- "Contact" seems to be a no-op. Should go to "101companies@gmail.com".
- "Languages", "Technologies", etc. seem to be unconnected.
- What is "Foo", "Bar", "Audi", etc.? (Remove?)
- Wh

[2013-04-12 00:32] rlaemmel commented on #92
"We maintain the community knowledge" is not community-oriented.

[2013-04-12 00:33] rlaemmel commented on #92
There is "1" overlaid over the tagcloud for the technologies. Where does this "1" come from?

[2013-04-12 00:34] rlaemmel commented on #92
There seems to be some image reference somewhere in the page but the image shows as "broken/missing".
Please remove.

[2013-04-12 00:40] rlaemmel opened #93 "Remove maintenance from mediawiki"
"This page is currently under heavy maintenance. Links and categories will be broken."

Please remove.

[2013-04-12 00:41] rlaemmel commented on #93
We need to organize a hackathon to clean up all content so that all maintenance is indeed finished.

Perhaps we could do this in early May.

[2013-04-12 08:02] tschmorleiz commented on #82
Reassigned to Andrei because this is part of server-side rendering.

[2013-04-12 08:08] tschmorleiz commented on #83
Clicking "Save" when nothing was changed will not save. Will disable the button in that case.

The delay is probably due to slow MediaWiki.

[2013-04-12 08:10] tschmorleiz commented on #86
This happens because the currently used font does not support bold. Will change.

[2013-04-12 08:25] avaranovich commented on #92
Obviously all mentioned above just blocks which should be filled with proper content and assigned with proper names, etc. Let's meet indeed and fill up all the content we come up with.

[2013-04-12 12:17] tschmorleiz commented on #86
Fixed.

[2013-04-12 12:17] #86 closed, assigned to tschmorleiz

[2013-04-12 14:01] tschmorleiz commented on #83
Fixed.

[2013-04-12 14:01] #83 closed, assigned to tschmorleiz

[2013-04-12 14:02] tschmorleiz commented on #81
Should be fixed.

[2013-04-12 14:02] #81 closed, assigned to tschmorleiz

[2013-04-12 14:16] tschmorleiz commented on #80
Added skip.

[2013-04-12 14:16] #80 closed, assigned to tschmorleiz

[2013-04-12 14:17] tschmorleiz commented on #76
Seems the rails implementation of the MediaWiki API does not capture these links. Will have to fix on that level.

[2013-04-12 14:57] tschmorleiz commented on #75
Should be (all) fixed.

[2013-04-12 14:57] #75 closed, assigned to tschmorleiz

[2013-04-12 14:58] rlaemmel opened #94 "Font / space tuning in rendering section structure"
This relates to #90

Let's look at this page for example:

http://101companies.org/wiki/Information:Contribute

"Headline" is super-big. The actual headline is pretty slow. Overall, section headers may be relatively too big. Overall, also, too little content fits on the first screen this way.

[2013-04-12 14:58] rlaemmel commented on #94
Do we need indentation for paragraph text? @avaranovich and me think it is perhaps not needed.

[2013-04-12 15:00] avaranovich commented on #68
http://101companies.org/wiki/contribution:haskellStarter doesn't have the link

[2013-04-12 15:01] tschmorleiz commented on #68
http://101companies.org/wiki/Contribution:haskellStarter does :) Let me make this more robust.

[2013-04-12 15:03] rlaemmel commented on #94
Perhaps the skip between sections (eg., between Headline and Description) should be less.

[2013-04-12 15:03] rlaemmel commented on #94
Perhaps we could even render "Headline" and the actual headline in one line,

[2013-04-12 15:08] tschmorleiz commented on #94
Better now in terms of space, font sizes? If so, please close.

[2013-04-12 15:10] rlaemmel opened #95 "References user experience (Wikipedia etc.)"
Just looking at http://101companies.org/wiki/Monad

It is hard to discover that one needs to press the bullet. (I had no idea. Andrei just told me.)

Also, asking people to click it is perhaps too much.

Could / should it be expanded (i.e.. show the references) by default?

Should "hovering" be enough to make the items appear?

Anyway, biggest issue is to know that one has to click the little bull

[2013-04-12 15:12] tschmorleiz commented on #68
Fixed.

[2013-04-12 15:16] tschmorleiz commented on #95
At some point we discussed that showing all references is to must to show for some pages.

[2013-04-12 15:45] tschmorleiz commented on #95
Changed it to expand when hovering. Also added some hint. Please close if this works for you.

[2013-04-13 07:54] tschmorleiz commented on #94
Regarding the headline, I would prefer not to come up with an ad-hoc-special-case-solution. Rather I would wait for proper document models; these could be used in the views to indicate whether a given section is a one-liner as opposed to a full-blown section.

[2013-04-13 15:35] tschmorleiz commented on #93
@avaranovich Was the old wiki moved during the migration effort?

[2013-04-13 15:36] tschmorleiz commented on #91
I guess this happened during the migration effort or s.th. related. Assigning Andrei.

[2013-04-13 15:47] tschmorleiz commented on #59
Fixed.

[2013-04-13 15:47] #59 closed, assigned to tschmorleiz

[2013-04-13 17:46] tschmorleiz commented on #54
Fixed by now.

[2013-04-13 17:46] #54 closed, assigned to tschmorleiz

[2013-04-13 21:18] rlaemmel commented on #94
Yes, it looks better.
Yes, I get your point not to build special knowledge about "Headline" into the implementation.

[2013-04-13 21:20] rlaemmel commented on #90
While I just closed #94, this one should be done still.

The idea is to make it easier for the eye to see the main term and to de-emphasize the namespace prefix.

Also by leaving a bit of space between "namespace" and ":" and "name", this is easier to visually consume.

[2013-04-14 00:46] rlaemmel commented on #95
Cool!

[2013-04-14 00:51] rlaemmel opened #96 "Metadata sections are rendered redundantly"
Look at this:

http://101companies.org/wiki/Search_problem

<pre>
Metadata Edit
◀this isA Algorithmic problem

identifies::http://en.wikipedia.org/wiki/Search_problem
isA::Algorithmic problem
</pre>

Specifically, the last line should not be there as it is already covered by the nice triple form.

The second to last line requires some thinking.

In this case, we have "identifies", but we could als

[2013-04-14 00:52] rlaemmel opened #97 "Citations -> Links"
On 101wiki pages, it should be called plainly "Links".
These are not citations, conceptually.

[2013-04-14 02:07] rlaemmel commented on #95
Re-opening, as I notice that the links are no longer clickable.

So hovering looks good, even though it is a bit tricky to actually move the cursor to any entry.

Once managed, clicking does not do anything.

[2013-04-14 02:13] rlaemmel opened #98 "Relative fragment URLs don't seem to work for "concepts""
Consider this:

<pre>
<fragment url="/concepts/Stack/Stack.hs"/>
</pre>

This markup occurs here: http://101companies.org/wiki/Stack

We should be able to say this instead:

<pre>
<fragment url="Stack.hs"/>
</pre>

This does not work. Some strange error messages gets rendered in the 101wiki page then.

[2013-04-14 02:18] rlaemmel commented on #91
Things are very much out of sync.

http://101companies.org/wiki/Course:Lambdas_in_Koblenz

Shows content that must be days old.

See the mediawiki page for comparison.

[2013-04-14 15:50] tschmorleiz commented on #97
Yep.

[2013-04-14 15:50] #97 closed, assigned to tschmorleiz

[2013-04-14 16:21] tschmorleiz commented on #95
Fixed that.

[2013-04-14 17:25] rlaemmel commented on #68
Still called "Source".
Should be "Code" as we agreed.

[2013-04-14 18:46] #68 closed, assigned to tschmorleiz

[2013-04-14 19:01] avaranovich commented on #95
Sorry I need to reopen the issue, since I cannot clink on any entry :-( Can only expand them, but once I move the cursor on the link -- the whole stack is closed again. Browser: Chrome on MacOS.

[2013-04-14 19:35] rlaemmel opened #99 "Youtube link missing"
Please go here:

http://mediawiki.101companies.org/wiki/Information:Download

There is a youtube link listed in the metadata section.

Now go to the new wiki:

http://101companies.org/wiki/Information:Download

No youtube link is rendered.
If I edit the metadata section, then the property is also missing.

Is that a bug because of how the new wiki is not in sync?

Is that instead because we don't

[2013-04-14 20:02] avaranovich commented on #98
Changed http://101companies.org/wiki/Stack to use relative path.

[2013-04-14 20:02] #98 closed, assigned to avaranovich

[2013-04-14 20:28] avaranovich commented on #93
@tschmorleiz I sent an email with high importance about that :-)
http://mediawiki.101companies.org/

[2013-04-14 20:29] rlaemmel commented on #99
I did some more testing.
This relates to the infamous "out of sync" issue.
The new wiki seems to hold on old pages rather often.
This is a severe problem.

Reassigning to @avaranovich

[2013-04-14 20:35] avaranovich commented on #99
Do I understand correctly, that you changed the data using the _mediawiki_ interface?

The new wiki caches the pages, this is correct. The page is definitely re-cached once it is changed using a new wiki. Once you change the page using mediawiki, cache doesn't know about this change and keeps the old version for some time.

I don't see an obvious solution here, of course I could set some small int

[2013-04-14 20:36] avaranovich commented on #74
Why do we still need this "Saving" popup?

[2013-04-14 20:45] rlaemmel commented on #99
To answer your question, yes, I edited with mediawiki and I think we still need this.

Also, think of the refactoring tool. It would change many pages.

When you say that it keeps the page "for some time", then please note that this may be several days.

http://101companies.org/wiki/Course:Lambdas_in_Koblenz

I edited this, I believe, 2 days ago and the changes are still not there.

Anyway, even i

[2013-04-14 21:10] #82 closed, assigned to avaranovich

[2013-04-14 21:14] avaranovich commented on #99
For refactoring and other needs of changing the data using mediawiki, I can provide a simple script which refreshes the cache. I just did it and the http://101companies.org/wiki/Course:Lambdas_in_Koblenz is up to date.

[2013-04-14 21:16] avaranovich commented on #99
BTW, I just realized, that youtube link in the metadata is not related to the "out-of-sync" issue. @tschmorleiz please have a look how you render the metadada and why youtube link is not here. I am reassigning this issue to you while keeping https://github.com/101companies/101wiki/issues/91 for myself.

[2013-04-14 21:20] #84 closed, assigned to avaranovich

[2013-04-14 21:21] avaranovich commented on #14
Closing this issue in favor for https://github.com/101companies/101wiki/issues/92

[2013-04-14 21:21] #14 closed, assigned to avaranovich

[2013-04-14 21:22] #37 closed, assigned to burgua

[2013-04-14 21:30] avaranovich commented on #94
@tschmorleiz Do we need indentation for paragraph text? AFAIK, this is not a special case, but a default output from the markup parser. Please handle it on the page in the same way.

[2013-04-14 23:25] rlaemmel commented on #99
Yes, @avaranovich perhaps I should start using your script then. Does it reset the cache completely? So we really need the cache, right? Some sort of asynchronous check would not be simple, right? Well, let's discuss tomorrow.

[2013-04-15 01:27] rlaemmel opened #100 "link markup on new wiki not fully supported"
Please have a look here:

http://101companies.org/wiki/Information:Contact

The twitter link with text confuses the markup engine.

The mailto link is not rendered.

For comparison, see how mediawiki does this:

http://mediawiki.101companies.org/wiki/Information:Contact

[2013-04-15 02:09] rlaemmel commented on #100
Another affected page:
http://101companies.org/wiki/Course:Web_programming%20for%20Debeka

[2013-04-15 10:10] avaranovich opened #101 "Mailto link is not rendered"
Please have a look here:

http://101companies.org/wiki/Information:Contact

The mailto link is not rendered.

For comparison, see how mediawiki does this:

http://mediawiki.101companies.org/wiki/Information:Contact

[2013-04-15 10:11] avaranovich commented on #100
Generic links are fixed, for the mailto link, assigning myself a more specific issue #101.
Closing this one.

[2013-04-15 10:11] #100 closed, assigned to avaranovich

[2013-04-15 12:11] rlaemmel opened #102 "Cannot edit properties"
http://mediawiki.101companies.org/index.php?title=MediaWiki:Smw_import_v101

No editing enabled.

(Need to add a property.)

[2013-04-15 12:14] rlaemmel opened #103 "New property"
Please add this property:

partOf | Type:Page

(I cannot add. See #102)

[2013-04-15 12:33] avaranovich commented on #103
Done. Will look into the issue why you cannot edit.

[2013-04-15 12:41] avaranovich commented on #102
Added you to the "administrators" group. Please try if you can now edit the page.

[2013-04-15 13:33] rlaemmel commented on #102
Yes, that solved the problem.

[2013-04-15 13:33] #102 closed, assigned to avaranovich

[2013-04-15 16:37] tschmorleiz commented on #74
Why not? The user should get feedback that saving is actually happening and done.

[2013-04-16 09:18] avaranovich commented on #74
Could you please point me to any web site doing this? We discussed this with @rlaemmel and the conclusion is that we don't just want to exersize fancy stuff. I do agree, we could warn the user _in case of error_, but no need to notify that "saving" is happening, because this is obvious by clicking "save" button :-)

[2013-04-16 09:18] rlaemmel opened #104 "link resolution broken"
Is @tschmorleiz connected?

Just go here:
http://101companies.org/wiki

Try some of the links in the itemized list.

They don't work at all.

[2013-04-16 09:19] rlaemmel commented on #91
@avaranovich so how do I make sure that things are in sync?

The new wiki still has a number of issues that make it hard to be used for editing.

[2013-04-16 09:30] avaranovich commented on #91
Please pull 101rails project; and run 'make clean-cache' command. The pwd you know. It will clean the cache.

[2013-04-16 09:32] avaranovich commented on #104
@tschmorleiz We had this issue while ago, right? This is a client-side part, AFAIK.

[2013-04-16 11:59] #101 closed, assigned to avaranovich

[2013-04-16 13:54] #36 closed, assigned to avaranovich

[2013-04-16 14:02] #104 closed, assigned to avaranovich

[2013-04-16 14:06] rlaemmel commented on #104
Thanks!

[2013-04-16 15:56] tschmorleiz commented on #74
This has nothing to do with "fancy stuff". If you don't load a new page (i.e. "something is happening") you have to give the user feedback.

[2013-04-16 15:59] avaranovich commented on #74
Please show me any example of "saving" notifications via such pop up. Typically only _errors_ are displayed.

[2013-04-16 16:22] tschmorleiz commented on #74
Agreed that we give needed positive feedback by the result of parsing. Removed.

[2013-04-16 16:22] #74 closed, assigned to tschmorleiz

[2013-04-16 16:34] tschmorleiz commented on #99
Youtube triples are not included by the semantic endpoint. Will fix.

[2013-04-16 16:59] rlaemmel commented on #99
Just wondering, what is so special about Youtube? Do we have any issue here with domains that would need to be known?

[2013-04-16 17:01] tschmorleiz commented on #99
Instead of whitelisting domains (as we currently do) I will whitelist the prefix for 101companies properties. This approach will be more robust and flexible.

[2013-04-16 17:33] tschmorleiz commented on #99
Youtube now found in resource section.

[2013-04-16 17:33] #99 closed, assigned to tschmorleiz

[2013-04-16 19:56] tschmorleiz commented on #94
Agree. Changed to default indention.

[2013-04-16 19:56] #94 closed, assigned to tschmorleiz

[2013-04-17 07:41] tschmorleiz commented on #93
It's gone.

[2013-04-17 07:41] #93 closed, assigned to tschmorleiz

[2013-04-17 20:32] #4 closed, assigned to avaranovich

[2013-04-17 21:56] rlaemmel opened #105 "Compress metadata/links"
Look at this page, for example:

http://101companies.org/wiki

There is too much stuff there. It's overwhelming.

Please invent a scheme of folding metadata/links.

Please get in touch to discuss this, if necessary. This is not to so obvious how to do it.

[2013-04-18 04:19] avaranovich commented on #105
What if the metadata links are rendered "as a sentence"? One followed by another. (with some space) Would take just multiple lines.

[2013-04-18 08:20] #85 closed, assigned to avaranovich

[2013-04-18 08:32] #28 closed, assigned to rlaemmel

[2013-04-18 08:34] avaranovich commented on #91
@rlaemmel Does it work for you? I will close the issue then.

[2013-04-18 11:03] rlaemmel opened #106 "urgent: links broken again"
@avaranovich , @tschmorleiz how do we get this sorted out?
Any sort of regression testing perhaps that makes sense :-)

Please go here:
http://101companies.org/
None of the links works.

[2013-04-18 11:08] avaranovich commented on #106
Do you mean links on the landing page? I don't see them being created https://github.com/101companies/101rails/blob/master/app/views/layouts/landing.html.erb
Let me fix that.

[2013-04-18 11:13] #106 closed, assigned to nobody

[2013-04-18 11:54] rlaemmel commented on #106
Is it intended that those links open a new tab? I don't mind, if there is a good reason for that. It's not what I would expect.

[2013-04-18 14:13] rlaemmel opened #107 "metadata occasionally missing"
As of now, this page shows no metadata:

http://101companies.org/wiki/Course:Programming%20in_Koblenz

"Edit page" reveals that there is of course metadata.

The only thing I can think of is that this page has a more complicated name.

[2013-04-18 14:16] rlaemmel commented on #107
Also missing here:

http://101companies.org/wiki/Course:Lambdas%20in_Koblenz

(BTW, I ran clean-cache recently, but I don't know whether the metadata was there before.)

[2013-04-18 14:19] rlaemmel opened #108 "Page title looks odd"
I think I might have filed this already in some other way.

Doing it again for clarity.

http://101companies.org/wiki/Script:Introduction_to_functional_programming

Please see the "_" in the rendered page name; should be rendered as space.

Please also see how the colon between "Script" and the rest would benefit from some extra space before and after.

The namespace should also be sort of slightl

[2013-04-18 14:32] rlaemmel opened #109 "Rendering links with headline"
We discussed this over lunch.
Here is an attempt at describing the design.
Let's look at this page:
http://101companies.org/wiki/Script:Introduction_to_functional_programming
For instance, see how the concepts are listed.
It's just a plain list and hence it is not very "telling".

Imagine we would also show the headline for each concept.

So it would not look like this:

<pre>
Software system
</pr

[2013-04-18 14:43] rlaemmel opened #110 "Incremental fragment support needed"
I totally understand that this needs more discussion and this is non-trivial. I am just assigning this to @avaranovich so that we have this discussion and I hope that perhaps @burgua or @arkadi-schmidt or @tschmorleiz can work on this eventually. In fact, @ar7u9o could also be crucial in making 101worker incremental for this purpose.

So overall, the fragment feature is cool, but it does not align

[2013-04-18 15:18] avaranovich commented on #109
The feature indeed very cool and useful. I am thinking about generalizing it to the page-navigation concept. Headline is a special case here, but any section can be used like this. This is the same idea as we have for fragments, but for pages/sections.  Perhaps this should be a special type of the fragment?

Just cooking up:

[code]

"/wiki" indicates this is a page-level fragment.

This concept a

[2013-04-18 15:30] rlaemmel opened #111 "How to deal with slide links (.pdf) on pages in the Script namespace?"
I guess we need to discuss this.

Have a look here:

http://101companies.org/wiki/Script:The%20Expression%20Problem

I am putting the slides link into an extra section.

That's probably NOT the right way to do.

We may want to use the linksTo property.

a) We can't do this currently because of issue #107.
b) Even if that issue is resolved, I am not sure how to exactly to use it for this purpose.

[2013-04-18 15:31] rlaemmel commented on #70
This is really important for using the wiki effectively.
So I changed the milestone.

[2013-04-18 15:35] tschmorleiz commented on #111
I think currently all "linksTo" triples are put into the "Resources" section.

We could in fact have a special convention: When the link is named (here "Slides") the triples are put into a new section with that exact name ("Slides"). That can be used for all kinds of triples with all kinds of predicates.

[2013-04-18 15:49] rlaemmel opened #112 "Rendering of all the links, etc. needs to be straightened up"
Let's look at this for example:

http://101companies.org/wiki/Visitor%20pattern

Please observe how hard it is to visually comprehend the sections for metadata, links, resources and how the bottom of the page sort of runs into the resources part and that it is not quite clear to what the "hovering" comment applies.

Obviously, there is some taste/personal judgement involved, but we should discuss

[2013-04-18 15:51] tschmorleiz commented on #112
I removed indention of section content by request of @avaranovich. Perhaps re-adding this could help.

[2013-04-18 15:54] rlaemmel opened #113 "Deletion of pages"
We need a delete/remove feature for 101wiki.

As far as I can see, it is not possible to delete pages.

Just tried to push through some deletion on mediawiki.

There seem to be problems also.

Getting this sort of debug output.

<pre>
array(2) { [0]=> array(7) { [0]=> string(64) "[[identifies::http://www.merriam-webster.com/dictionary/source]]" [1]=> string(48) "http://www.merriam-webster.com/dict

[2013-04-18 15:56] rlaemmel commented on #113
Despite the error message, the page is gone.

It is not gone though on the new wiki.

Running @avaranovich 's cache cleaning script, but trust me we need to make this MUCH smoother.

[2013-04-18 16:04] rlaemmel opened #114 "linksTo not working"
Please check out here:

http://101companies.org/wiki/Resource:Handbook%20of_data_structures_and_applications

It has this sort of link:

<pre>
* [[identifies::http://www.e-reading-lib.org/bookreader.php/138822/Mehta_-_Handbook_of_Data_Structures_and_Applications.pdf ]]
</pre>

Nowhere rendered though.

[2013-04-18 16:08] tschmorleiz commented on #114
Fixed.

[2013-04-18 16:14] #114 closed, assigned to tschmorleiz

[2013-04-18 16:26] rlaemmel commented on #91
Does not work but really needs to urgently.

We are going to confuse the beginner's students beyond repair.

http://101companies.org/wiki/Course:Lambdas_in%20Koblenz

This is very old stuff.

[2013-04-18 16:27] rlaemmel commented on #91
It only lists one lecture and how this looked like about a week ago:

<pre>
Introduction
Contributions
Contribution:haskellStarter
Concepts
Stack
Quicksort
</pre>

[2013-04-18 16:30] rlaemmel opened #115 "incomplete support for syntaxhighlight lang codes"
http://101companies.org/wiki/Feature:Cut

It reports:

<pre>
unknown lang 'sql'
</pre>

If SQL is not supported, then the code must be shown verbatim nevertheless.

[2013-04-18 16:42] rlaemmel opened #116 "Out of sync due to URL "rewriting""
This relates to #91

@tschmorleiz and @avaranovich please have a look.

There seem to be two pages:

http://101companies.org/wiki/Course:Lambdas_in%20Koblenz

http://101companies.org/wiki/Course:Lambdas%20in_Koblenz

The second one looks good.

When I prefix the first one (i.e., the bad one) with "mediakwiki." then I come to this page:

http://mediawiki.101companies.org/wiki/Course:Lambdas_in_Kobl

[2013-04-18 16:45] rlaemmel opened #117 "[[ ... | ... ]] markup not rendered correctly"
Please go here:

http://101companies.org/wiki/Course:Lambdas_in_Koblenz

There is some markup like this:

<pre>
* Lecture [[Script:Introduction_to_functional_programming|Introduction]]
</pre>

It is rendered like this:

<pre>
Lecture Script:Introduction_to_functional_programming
</pre>

... where it should be rendered like this:

<pre>
Lecture Introduction
</pre>

[2013-04-18 16:52] rlaemmel commented on #116
There is something fishy going on with "_" versus " ".

For instance see how the page name is rendered: http://101companies.org/wiki/Course:Lambdas_in_Koblenz

<pre>
Course:Lambdas in_Koblenz
</pre>

[2013-04-18 17:36] #115 closed, assigned to avaranovich

[2013-04-18 17:38] #92 closed, assigned to avaranovich

[2013-04-18 17:41] avaranovich commented on #111
I like the idea of

[code]

This is absolutely valid mediawiki markup and rendered as expected. @tschmorleiz what's the point of inventing any conventions?

[2013-04-18 17:44] rlaemmel commented on #115
Thanks!

[2013-04-18 17:46] avaranovich commented on #112
What about having a column on the right side of the page with the resources? That would optimize the text on the page.
Generally I don't like the hovering idea, since I have hard time targeting the urls (it often collapses).

[2013-04-18 17:46] rlaemmel commented on #115
Btw, pages look pretty on my galaxy note 1.

[2013-04-18 17:49] rlaemmel commented on #112
We really need to discuss that.

[2013-04-18 18:04] avaranovich commented on #115
Yes, we have a responsive design, which adjusts the layout based on the screen resolution.

[2013-04-18 18:07] avaranovich commented on #116
Do I understand correctly, that the "reference" name of the page is "Course: Lambdas in Koblenz"? Which is represented as http://mediawiki.101companies.org/wiki/Course:Lambdas_in_Koblenz in mediawiki, where spaces are automatically always changed to an underscore.

[2013-04-18 18:16] avaranovich commented on #116
Please pull 101rails project to get an updated script for cache cleaning. The content is now in sync.

[2013-04-18 18:16] #116 closed, assigned to avaranovich

[2013-04-18 18:18] avaranovich commented on #91
Please update the cache cleaning script -- should be fine now.

[2013-04-18 18:22] avaranovich commented on #107
@tschmorleiz you need to consider the fact that we support space in URLs (which are escaped by default), and mediawiki replaces all spaces with underscores. I guess this is the reason why the metadata is sometimes missing, because you don't handle this fact properly.

[2013-04-18 18:48] rlaemmel commented on #107
Yes, this also occurred to me while cycling. The metadata happens to be missing on multi-word page names.

[2013-04-18 18:51] rlaemmel commented on #91
Yes, working now. @tschmorleiz observe the URLs though. Some spaces are rendered as "_"; others as escape space. Let's get this right.

[2013-04-18 19:53] rlaemmel opened #118 "language versus lang in syntaxhighlight markup"
language works here:

http://mediawiki.101companies.org/wiki/Function

but not here:

http://101companies.org/wiki/Function

Please liberalize to match mediakiki behavior. Anyway, I will now go over my lecture and convert. :-(

[2013-04-18 20:00] tschmorleiz commented on #107
@avaranovich The request URL for triples is http://triples.101companies.org/org.softlang.semanticendpoint/doQuery?method=getResourceTriples&resource=Course-3ALambdas_in_Koblenz I don't care about URL's of the page. I care about the title, that is given by the backbone model instance. Where do I not handle the URLs not properly?

[2013-04-18 20:03] avaranovich commented on #118
lang/language works for mediawiki. Now also both are supported in our wiki.

[2013-04-18 20:03] #118 closed, assigned to avaranovich

[2013-04-18 20:05] avaranovich commented on #107
Look at the issue details. You show the correct request, but which request do you have for this page http://101companies.org/wiki/Course:Lambdas%20in_Koblenz ? With "space", not "underscore".
Obviously this one would not work http://triples.101companies.org/org.softlang.semanticendpoint/doQuery?method=getResourceTriples&resource=Course-3ALambdas%20in_Koblenz

[2013-04-18 20:06] tschmorleiz commented on #107
http://triples.101companies.org/org.softlang.semanticendpoint/doQuery?method=getResourceTriples&resource=Course-3AProgramming_in_Koblenz Same encoding.

[2013-04-18 20:08] avaranovich commented on #107
Just wondering how do you get those underscores (Course-3AProgramming_in_Koblenz), because the page URL is http://101companies.org/wiki/Course:Programming%20in_Koblenz.  How do you get Course-3AProgramming_in_Koblenz  from the page Programming%20in_Koblenz ?

[2013-04-18 20:10] tschmorleiz commented on #107
As I said, I don't care about the URL. I only care about page.title of the model. Then I escape that one by replacing blanks by underscore.

[2013-04-18 20:12] rlaemmel opened #119 "Handling of redirects"
We need to discuss this, I don't know what is a cheap and right way of dealing with redirects (or avoiding them) such as here:

http://101companies.org/wiki/Pattern

[2013-04-18 20:14] rlaemmel opened #120 "Clicking references does not work for me"
http://101companies.org/wiki/Function

I go to "Wikipedia" and click the link.

Nothing happens.

[2013-04-18 20:14] tschmorleiz commented on #113
@avaranovich Can you place add support for the following HTTP request?

URL: http://localhost:3000/api/pages/title
Method: DELETE

Should delete the page with the given title.

[2013-04-18 20:15] avaranovich commented on #107
And the title comes from the URL, obviously. But you encode stuff anyhow, that was my concern.

[2013-04-18 20:18] tschmorleiz commented on #107
Yeah, I am not sure, I guess we should do this sort of normalization on the server side.

[2013-04-18 20:19] avaranovich commented on #107
I just opened the page
http://101companies.org/wiki/Course:Lambdas%20in%20Koblenz
and looked in the Chrome inspector

Request URL:http://triples.101companies.org/org.softlang.semanticendpoint/doQuery?method=getResourceTriples&resource=Course-3ALambdas_in%20Koblenz&callback=callback&_=1366316262397
Request Method:GET
Status Code:200 OK

The URL is _wrong_ for some encoding reason.

[2013-04-18 20:23] rlaemmel commented on #107
I would like to suggest that URLs should generally prefer "_" if this is possible as it looks much better on the eye when you copy around URLs. The conversion of " " to escaped space happens somewhere.

[2013-04-18 20:29] tschmorleiz commented on #107
Ups, forgot to make the regex greedy. Can we close this now? I guess so.

[2013-04-18 20:33] tschmorleiz commented on #117
These links are rendered using the client-sided parser. Therefore reassigned to Andrei.

[2013-04-18 20:38] rlaemmel opened #121 "Font for subsections (===) should not be bigger than for sections (==)"
http://101companies.org/wiki/Pattern%20matching

[2013-04-18 20:46] rlaemmel opened #122 "resources/concepts incomplete"
Several concepts from here ...

https://github.com/101companies/101repo/tree/master/concepts

... are not here ...

http://101companies.org/resources/concepts/?format=html

For instance, "Function".

Something's not working.

[2013-04-18 20:47] tschmorleiz commented on #121
Fixed.

[2013-04-18 20:47] #121 closed, assigned to tschmorleiz

[2013-04-18 21:06] tschmorleiz commented on #105
Nice idea, implemented.

[2013-04-18 21:16] martinleinberger commented on #122
_Function_ is in the list.

What I can't find is Binary_search, Hello_world_program, Linear_search, Linked_list and Quicksort. This is because they are not in the [wiki dump](http://data.101companies.org/dumps/Wiki101Full.json).

The wiki dump provides the members of a namespace to the discovery service.

[2013-04-18 21:17] rlaemmel commented on #105
Yes, better @tschmorleiz and @avaranovich but we need to push for more visual scalability.

Please look at this:

http://101companies.org/wiki/Feature:Cut

The block with the links still fills a screen.

Worse than that, the metadata stuff is super-long.

Any ideas of how to do this?

Some hovering may work.

We would want to apply then I guess some threshold as to when we start to apply the hover

[2013-04-18 21:18] rlaemmel commented on #122
Yes, sorry for the confusion.
Function is in the list, but the Main.hs file from 101repo is not listed.
Yes, some other concepts are missing entirely.
I added them 2-3 days ago.
So they should all be there by now.

[2013-04-18 21:23] rlaemmel commented on #115
I had to clean cache to see this working.
This is a bit tricky.
So I guess some of your improvements, when you do them will not go live unless cache is cleaned.
Perhaps cache cleaning should be done upon any deployment?

[2013-04-18 21:37] martinleinberger commented on #122
This was because 101results/101repo was out of sync. More details are [here](https://github.com/101companies/101worker/issues/79).
This is fixed.

As for the wiki issue, I'm reassigning this to @avaranovich - they will show up in the discovery service once they show up in the wiki dump (and the members module ran through).

[2013-04-18 21:43] #117 closed, assigned to avaranovich

[2013-04-18 21:46] rlaemmel commented on #117
Wonderful

[2013-04-18 22:39] rlaemmel opened #123 "What to do with namespaces Dotnet and Java?"

[2013-04-18 22:45] rlaemmel opened #124 "Default injections into namespaces"
@avaranovich and @tschmorleiz we need to discuss this.

I guess we might want to auto-add instanceof properties for all save ops relative to the namespace of the saved page.

This will improve discoverability but stress scalability of metadata rendering.

[2013-04-19 05:51] avaranovich commented on #122
@martinleinberger reassigning this issue back to you, since the concepts you mention are now in the wikidump. It was failing 2 days because of the url change. I closed a related issue.

[2013-04-19 05:55] avaranovich commented on #91
@tschmorleiz you fixed the escaping, right?

[2013-04-19 08:41] martinleinberger commented on #122
After running the members module, the concepts can now be found.

[2013-04-19 08:41] #122 closed, assigned to martinleinberger

[2013-04-19 09:49] rlaemmel opened #125 "No underscores in render page names"
http://101companies.org/wiki/Script:Introduction_to_functional_programming

Please note: this is about the rendering on the page; NOT how the URL looks like.

Currently:

<pre>
Script:Introduction to_functional_programming
</pre>

Wanted:

<pre>
Script:Introduction to functional programming
</pre>

[2013-04-19 10:55] avaranovich commented on #120
@tschmorleiz it shouldn't be hard to fix? Actually no such links are clickable.

[2013-04-19 12:08] tschmorleiz commented on #91
Yes.

[2013-04-19 12:08] #91 closed, assigned to avaranovich

[2013-04-19 12:09] tschmorleiz commented on #125
Fixed.

[2013-04-19 12:10] martinleinberger commented on #110
I just thought a bit about this issue and I think it's a duplicate of several existing issues.

First thing is - the matches101meta module is incremental. That means it will only create new .matches.json files for files that have been added. The old ones, it will just read. The matches dump will change though, I'm currently not sure what this would mean for the next production cycle, but it has no

[2013-04-19 12:29] tschmorleiz commented on #120
Not hard, but did not have much time. Fixed now.

[2013-04-19 12:29] #120 closed, assigned to tschmorleiz

[2013-04-19 12:30] #107 closed, assigned to tschmorleiz

[2013-04-19 12:52] rlaemmel opened #126 "Links are not rendered Ok"
Please compare "UML diagram"

here

http://mediawiki.101companies.org/wiki/101companies:System

and there

http://101companies.org/wiki/101companies:System

The later is broken.

[2013-04-19 19:06] tschmorleiz commented on #126
Assigned Andrei since this is a parsing issue.

[2013-04-20 19:47] rlaemmel opened #127 "Non-responsive save button"
It happens to me quite often that "save" takes more than just a fraction of a second but there is nothing to tell me that the system is actually doing something. Some sort of idle or recoloring would help.

I also have the feeling that sometimes clicks of the "save" button get lost; will keep an eye on this.

[2013-04-20 19:51] rlaemmel opened #128 "fragment markup not processed properly upon page save"
I think the following mis-behavior appears to be pretty reproducible.
1. You edit a page to add some "fragment" markup.
2. You save the page but you get this error message where the source code should be:
   <pre>
   undefined method `[]' for nil:NilClass
   </pre>
3. You reload and the source gets rendered.

This will be very confusing for users because they are led to believe that "fragment" stu

[2013-04-20 19:54] rlaemmel opened #129 "Make fragment markup "discoverable""
This is urgent as in "needed for the next FP lecture and needed for the experience of the students".

Let's go here for an example:

http://101companies.org/wiki/Hello_world_program

There is this sort of fragment markup:

[code]

However the rendered page does not reveal the fragment URL.

It should be shown a bit like a "caption"; I would say in the upper right corner, but anything that you pref

[2013-04-20 21:40] rlaemmel opened #130 "edit etc. buttons not properly position when using longer page names with longer titles"
Actually, one cannot even click the buttons then.

![hello](https://f.cloud.github.com/assets/1208815/405714/c2bd3712-aa02-11e2-8a7c-52b25e923897.jpg)

I can sort of work around this by making the font smaller thereby creating more space for the page name and the buttons to be in one line.

Easily reproduced by making the font larger.

[2013-04-20 21:53] rlaemmel opened #131 "Some metadata sections are not rendered properly"
![metadata](https://f.cloud.github.com/assets/1208815/405731/b1b767ba-aa04-11e2-8248-8aef704da0ae.jpg)

http://101companies.org/wiki/Script:Introduction_to_functional_programming

[2013-04-20 21:56] rlaemmel opened #132 "Youtube URLs should probably not be shown as is"
![squeeze](https://f.cloud.github.com/assets/1208815/405737/11259442-aa05-11e2-95ae-81139c30a092.jpg)

The URL is essentially an ID and showing it in the way currently done looks strange.

[2013-04-20 21:59] rlaemmel opened #133 "Sort of scrambled/squeeze page area at the bottom"
Look at this:

![squeeze](https://f.cloud.github.com/assets/1208815/405737/11259442-aa05-11e2-95ae-81139c30a092.jpg)

These are very different categories of page content in very little space without clear margins or separators. Perhaps some horizontal lines could help or some other UI improvement.

[2013-04-20 22:30] rlaemmel opened #134 "Use page name in browser tab caption"
Currently it says "wiki" everywhere.
It would be better to do something similar to other wikis.
That is ,the short page name of the current page should be used as the tab name.
Such as Feature:Total.
This way one can have several tabs for 101wiki and still now well what tab is what.

[2013-04-20 22:39] rlaemmel opened #135 "Improve top header (with 101companies in strange font)"
Not sure what we should put there.
We can keep 101companies, perhaps just in a less crazy font.
We could also think more profoundly about a logo :-)

[2013-04-20 23:08] rlaemmel opened #136 "Remove "anti-pattern" to inline text for UI hints"
Please look at this:

![squeeze](https://f.cloud.github.com/assets/1208815/405737/11259442-aa05-11e2-95ae-81139c30a092.jpg)

When it says "hover to expand)" this is what I mean by anti-pattern.

We should think hard as to how we can avoid the feeling of needing this text.

[2013-04-20 23:45] rlaemmel commented on #131
Another example follows:

![moremetadata](https://f.cloud.github.com/assets/1208815/405821/4768e1bc-aa14-11e2-9832-5b3f5147010b.jpg)

[2013-04-20 23:48] rlaemmel commented on #125
See here:

http://101companies.org/wiki/Function%20composition

This link has been generated by markup "[[Function composition]]" on this page:

http://101companies.org/wiki/Script:Introduction_to_functional_programming

So the space escaping is still around.

Do we want those "%20"?

[2013-04-20 23:50] tschmorleiz commented on #125
Reassigning to Andrei, since this is a server-sided parsing/rendering issue.

[2013-04-20 23:52] rlaemmel opened #137 "identifies/linksTo not discoverable"
Conceptually, it is a pretty big deal as to whether one uses "identifies" or "linksTo".

In terms of rendering, though, this difference is not highlighted.

Check out this page with both identifies and linksTo:

http://101companies.org/wiki/Function%20composition

We need to clarify that "identifies" is a semantically stronger link than linksTo.

[2013-04-21 00:09] rlaemmel opened #138 "Cache seems to be prone to " " versus "_" difference"
It looks like caching is too difficult :-(

@tschmorleiz please help @avaranovich to get this issue resolved.

I see different pages depending on whether I use "_" versus escaped " " in URLs.

In fact, I don't have much control over what is used because these different options are encountered by links on pages.

The escaped " " version kicks in every now and then. It looks like this shows the old

[2013-04-21 00:17] rlaemmel commented on #138
Just some data points.

So we start here:

http://101companies.org/wiki/Script:Introduction_to_functional_programming

Then we click "function composition" and hence, get here:

http://101companies.org/wiki/Function%20composition

Should this be better "_" instead of "%20"?

Anyway, I would see different content for some pages, depending on whether "_" or "%20" was used.

[2013-04-21 00:23] rlaemmel commented on #138
Well, look at the link from

http://101companies.org/wiki/Script:Introduction_to_functional_programming

to

http://101companies.org/wiki/Script:Introduction_to%20functional%20programming

So this link prefers "%20".

However, this page is out of sync.

What's in sync is the page with a slightly different URL:

http://101companies.org/wiki/Script:Introduction_to_functional_programming

Please sort

[2013-04-21 00:45] rlaemmel opened #139 "How to refer to fragments (files) on 101wiki pages?"
I was thinking of using this markup:

[code]

This text should appear after the detailed explanation of the "total" feature. However, this leads to rendering the actual module, even though I was hoping for "show=false" to work.

Please support fragment links that render the link in some nice way.

[2013-04-21 12:34] rlaemmel opened #140 "Search within editor"
This is not to be confused with #70 (search on the wiki db).

This is about enabling search in the editor mode.

I would hope that the underlying widget has support for search.

[2013-04-21 18:47] rlaemmel commented on #138
@avaranovich and @tschmorleiz This is a severe problem. I have lost various changes this way and overall I am not sure how I can edit things in any proper way with this feature in place.

[2013-04-21 19:10] rlaemmel opened #141 "Unstable behavior on cache"
I see these sorts of things regularly:
- When clicking a link, one gets to the page where the page name is then written in lower case.
- When using the back button, one gets to see a version of the page that is outdated. Reload repairs the problem.

Especially the second one we need to fix this because it takes a good share of the author's concentration not to be fooled by (not to edit) these wron

[2013-04-21 19:18] rlaemmel commented on #131
BTW, if you click any of those strangely render metadata entries, this is not working; one does not get to the "object". So navigation is unfortunately broken. Let's rate this another high-prio bug because students will surely struggle with this.

[2013-04-21 20:10] rlaemmel opened #142 "Getting all day "DISQUS seems to be taking longer than usual.""
Does this work for you?
What is the way to debug this behavior.
(Not too urgent.)

[2013-04-21 20:13] tschmorleiz commented on #142
Works for me. Let's check tomorrow.

[2013-04-21 20:43] tschmorleiz commented on #132
For Wikipedia and alike the title of the page is part of the URL. This is not the case for Youtube URLs, I guess we need to extract somehow. Let's discuss.

[2013-04-21 21:23] tschmorleiz commented on #137
I added predicate information to the links.

[2013-04-21 21:23] #137 closed, assigned to tschmorleiz

[2013-04-21 21:31] rlaemmel commented on #137
Pretty cool!

[2013-04-21 22:19] rlaemmel opened #143 "Red links when pages are missing"
This is what mediawiki or other wiki systems do, right?
So we need to be reminded of missing pages.
In fact, there should also be a module that compiles such a list of missing pages.
A content engineer could take care of that list.
However, coloring links to missing pages is really important as such because it gives us immediate feedback upon saving.
If necessary, certainly for performance, if so,

[2013-04-21 22:24] rlaemmel commented on #142
It looks like DISQUS is fine with me again.
I keep an eye on this.

[2013-04-21 22:59] rlaemmel opened #144 "No space escapes but only "_" in URLs"
I think this is mentioned here and there, but a designated issue may not hurt.

Here is how you can reproduce it.

http://101companies.org/
Click courses: http://101companies.org/wiki/Namespace:Course
Clcik the FP course: http://101companies.org/wiki/Course:Lambdas%20in_Koblenz

Ooops, there we go there is this "%20" stuff.

Click the first lecture of the course: http://101companies.org/wiki/Scrip

[2013-04-22 06:39] avaranovich commented on #141
@tschmorleiz I think this is a client-side issue?

[2013-04-22 06:46] avaranovich commented on #138
@tschmorleiz  If I go here http://101companies.org/wiki/Script:Introduction_to_functional_programming there is a link in a "Links" section http://101companies.org/wiki/Course:Lambdas_in%20Koblenz  Why those links are inconsistent? One underscore and one space? The solution is to make sure that all links are with underscores.

[2013-04-22 06:46] avaranovich commented on #144
Related https://github.com/101companies/101wiki/issues/138

[2013-04-22 06:47] tschmorleiz commented on #138
The client only uses those links rendered by the server. I don't touch rendered HTML. Therefore I guess the server would be the right place to normalize.

[2013-04-22 07:09] avaranovich commented on #138
@tschmorleiz which call do you use to get "Links" section? I guess those are backlinks, right? They're indeed rendered in a weird way.

[2013-04-22 07:13] tschmorleiz commented on #138
I get these backlinks (as an array) from the server. I can fix this for now on the client. Question is, should we generally normalize all links retrieved by the server?

[2013-04-22 07:20] tschmorleiz commented on #138
Fixed this for the Links section that is in control by the client. We still need to fix it for the server-sided rendered HTML. For instance "Functional composition" here http://101companies.org/wiki/Script:Introduction_to_functional_programming

[2013-04-22 07:21] avaranovich commented on #138
I did 2 things: a) urls with spaces are redirected to underscores (exactly in the same way as mediawiki does). b) spaces in backlinks are replaced with underscores.

[2013-04-22 07:23] #125 closed, assigned to avaranovich

[2013-04-22 07:28] tschmorleiz commented on #138
In the console in Chrome I get

Wiki.page.get('backlinks')
["Course:Lambdas_in_Koblenz", null]

Can you please remove null from the array that is set on the server?

[2013-04-22 08:52] avaranovich commented on #138
@tschmorleiz can you please specify the page on which you get this?

[2013-04-22 08:57] tschmorleiz commented on #138
Please go here http://101companies.org/wiki/Script:Introduction_to_functional_programming

[2013-04-22 09:01] #138 closed, assigned to avaranovich

[2013-04-22 09:12] avaranovich commented on #139
Did you try

[code]

[2013-04-22 09:17] #144 closed, assigned to avaranovich

[2013-04-22 10:36] rlaemmel opened #145 "Sections get merged"
It looks like it is easy to end up merging sections accidentally.
My hypothesis is that if one has not an EOL in the last line of a section (when doing section-level edit) that the section may get merged with the next one.

So I just ended up getting this; see "Relationships":

<pre>
All the remaining functions are implemented in the same module: <fragment url="src/Main.hs" show="false"/>== Relati

[2013-04-22 10:44] rlaemmel commented on #139
I now also tried that both with and without show="false".

It leads to strange results such as this (when rendered):

<pre>
All the remaining functions are implemented in the same module:
https://github.com/101companies/101haskell/tree/master/contributions/haskellStarter/src/Main.hs">Main.hs
</pre>

See the end of the illustration section here:

http://101companies.org/wiki/Contribution:haskellSta

[2013-04-22 10:48] rlaemmel opened #146 "Dangling links for fragments"
Please go here:

http://101companies.org/wiki/Contribution:haskellStarter

Then select the first "Link" for the first fragment:

http://101companies.org/contributions/haskellStarter/src/Main.hs/type/Company?format=html

This URL is not correct.

[2013-04-22 10:50] rlaemmel opened #147 "When rendering fragments, please rename "Link" to "Discover""

[2013-04-22 13:20] rlaemmel opened #148 "Another problem with rendering links"
(Background: @tschmorleiz and me just figured we would use semantic properties in a designated "Material" section on "Lecture" pages to communicate slides or youtube videos.)

Please go here:

http://101companies.org/wiki/Script:Introduction_to_functional_programming

Check out the "Material" section:

<pre>
[[linksTo::http://www.youtube.com/watch?v=AWIO3nPInzg|Video for the lecture on YouTube]]
<

[2013-04-22 13:40] rlaemmel commented on #103
partOf does not show in triples returned by service.

Please go here:

http://mediawiki.101companies.org/wiki/Script:Introduction_to_functional_programming

Check out metadata; it contains this bit:

<pre>
* [[partOf::Course:Lambdas in Koblenz]]
</pre>

But that property does not get rendered.

@tschmorleiz and me already added the actual property page, which was missing:

http://101companies.org/

[2013-04-22 13:41] tschmorleiz commented on #134
Added titles.

[2013-04-22 13:48] rlaemmel opened #149 "When editing metadata section then stronger reload needed"
When you edit any Metadata section, the old Metadata section is shown past save.

As discussed with @tschmorleiz some reload of the triples from the server would need to happen (asynchronously).

Easy to reproduce:
- Go to any page.
- Add some semantic property.
- Save.
- Observe that is not rendered.
- Reload
- Observe that is finally rendered.

[2013-04-22 13:49] tschmorleiz commented on #145
@avaranovich, I guess we should add some new line when joining sections when updating.

[2013-04-22 13:50] tschmorleiz commented on #88
Fixed.

[2013-04-22 13:50] #88 closed, assigned to tschmorleiz

[2013-04-22 13:52] rlaemmel commented on #132
We will show them for now.

Ultimately, we could special-case YouTube and use its API to fetch the video name.

Not urgent anymore as we are using a special link convention for the more important scenarios of YouTube links.

See here for the "Material" section:

http://101companies.org/wiki/Script:Introduction_to_functional_programming

Perhaps @arkadi-schmidt or @burgua could eventually work on t

[2013-04-22 14:01] rlaemmel commented on #76
Reassigning to less urgent Milestone.

Also, the problem is less severe than thought.

That is, ...

http://101companies.org/wiki/Namespace:Property looks good now. I assume we were simply facing a cache problem, as I was still editing a bit on Mediawiki when this happened.

Backlinks on mediawiki pages do continue to be incomplete. As of typing this, http://mediawiki.101companies.org/wiki/Namespa

[2013-04-22 14:04] rlaemmel commented on #131
Closing this for now as it is currently not re-producible.

[2013-04-22 14:08] burgua commented on #132
So, in this way?

http://take.ms/Kppy5

[2013-04-22 14:11] avaranovich commented on #103
One need to go to http://mediawiki.101companies.org/wiki/Special:SMWAdmin
and click the button in "Data repair and upgrade" section.

[2013-04-22 14:11] #103 closed, assigned to avaranovich

[2013-04-22 14:24] rlaemmel commented on #103
Added this sort of information to this page:

http://101companies.org/wiki/Namespace:Property

So the process for adding properties should be clear now (even to myself :-))

[2013-04-22 14:29] rlaemmel commented on #132
@burgua Thanks for this proposal.

@tschmorleiz, @avaranovich, and me discussed this right away.

I am reassigning to you.

Here are the design issues that we came up with --- based on your proposal.

We suggest to add markup like this:

[code]

It should be rendered in the way you suggest: title plus clickable preview.

This would work with Youtube for now, but we could overload the "media" suppo

[2013-04-22 14:38] burgua commented on #132
Sounds ok.
But I will need some support from @tschmorleiz
I actually don't fully understand, how it's rendered. Better in Skype.

[2013-04-22 14:42] rlaemmel commented on #96
So let's not change things here.
Discussed briefly with @tschmorleiz .
The issue will be taken care off in a different way by having better "compression" for links and metadata sections.

[2013-04-22 14:42] #96 closed, assigned to tschmorleiz

[2013-04-22 14:44] rlaemmel commented on #70
Just discussed with @tschmorleiz
So we would try to use the mediawiki API for this search feature.
Not super high-prio but student experience would definitely benefit from this.

[2013-04-22 14:45] rlaemmel commented on #124
This is not super high prio.

[2013-04-22 14:48] rlaemmel commented on #112
Closing this as #133 is basically re-iterating the point also using an image.
@tschmorleiz just discussed #133 now and I think Thomas has a plan now.

[2013-04-22 14:48] #112 closed, assigned to tschmorleiz

[2013-04-22 14:51] rlaemmel commented on #105
Ok @tschmorleiz and me discussed this.

The plan is sort of this:

We apply a threshold for the number of metadata entries. Let's see we show like 12 entries and when there is more, then there is the "..." button to unfold the rest, very similar to what gmail and other programs do.

We also apply a threshold for the number of links (backlinks). Let's say we show like 20 links and when there is mor

[2013-04-22 15:12] avaranovich commented on #139
The issue was actually related to broken links, now it renders the link to the file.

[2013-04-22 15:23] #147 closed, assigned to avaranovich

[2013-04-22 15:24] #146 closed, assigned to avaranovich

[2013-04-22 15:28] avaranovich commented on #129
Please close the issue if you like how it is done.

[2013-04-22 15:30] #73 closed, assigned to avaranovich

[2013-04-22 15:31] avaranovich commented on #50
The solution is provided in https://github.com/101companies/101wiki/issues/129

[2013-04-22 15:31] #50 closed, assigned to avaranovich

[2013-04-22 16:42] avaranovich commented on #145
@rlaemmel The issue should be fixed, can you tell us on which page do you have it, and do you still have it?

[2013-04-22 17:00] tschmorleiz commented on #133
Did some changed. Please close if this works for you.

[2013-04-22 19:20] #126 closed, assigned to avaranovich

[2013-04-22 19:20] #148 closed, assigned to avaranovich

[2013-04-22 19:24] burgua commented on #132
Made first version,
could @avaranovich @tschmorleiz look at it?
https://github.com/avaranovich/wikicloth/pull/2/files

[2013-04-22 19:34] #139 closed, assigned to avaranovich

[2013-04-22 19:45] avaranovich commented on #132
@burgua have a look at the page, http://101companies.org/wiki/Script:Introduction_to_functional_programming
seems it is not handled yet. I did upgrade the parser.

[2013-04-22 21:30] burgua commented on #132
@avaranovich ...and you need to merge new pull request https://github.com/avaranovich/wikicloth/pull/3

[2013-04-22 21:36] burgua commented on #39
Is it still legit? @avaranovich @rlaemmel

About users: after investigation ( https://gist.github.com/burgua/8780b025fd1686f8059a ) was found, that there are less then 20 real users in mediawiki.

[2013-04-23 06:12] avaranovich commented on #132
Works. :+1:

[2013-04-23 06:12] #132 closed, assigned to burgua

[2013-04-23 06:13] avaranovich commented on #39
This is correct.

[2013-04-23 09:10] avaranovich commented on #128
@tschmorleiz can you please create some kind of sequence diagram (or at lest step-by-step textual spec, which services are called from the client in which order when the user edits and saves the page?

[2013-04-23 12:23] tschmorleiz commented on #133
Closing for now.

[2013-04-23 12:40] burgua commented on #134
this changes killed pages http://101companies.org/contributions, http://101companies.org/users

[2013-04-23 13:02] tschmorleiz commented on #134
Yep.

[2013-04-23 18:50] tschmorleiz commented on #105
Applied some collapsing once the thresholds are exceeded.

[2013-04-23 18:50] #105 closed, assigned to tschmorleiz

[2013-04-24 08:27] rlaemmel commented on #105
Very nice!

[2013-04-24 08:39] rlaemmel commented on #134
But it is not very useful the way it is now.
It shows the entire URL 101companies...
This way one cannot see the interesting part like "Contribution:haskellStarter".
Do you agree?

[2013-04-24 08:44] rlaemmel commented on #133
Getting closer, but :-)

http://101companies.org/wiki/Script:Introduction_to_functional_programming
1. Why ":" after "Links" and "Resources"? We don't use ":" elsewhere.
2. "Links" section closer to "Metadata" section than generally other distances between other section. More space please (I guess).
3. Having no resources but the header "Resources" looks strange. Perhaps put "None" in italics ther

[2013-04-24 08:49] rlaemmel commented on #132
Just wanted to say that this is really great!

[2013-04-24 09:10] rlaemmel opened #150 "Sort of preview/pdf symbol for .pdf links?"
I really like the new media tag for youtube videos.

Could this be modestly extended to also do something simple for .pdf links.

See, for example, the "Material" section on this page:

http://101companies.org/wiki/Script:The_Expression_Problem

What would be a good thing to do here?

Perhaps some sort of standard PDF icon with some title that could be attached by the media tag?

https://www.googl

[2013-04-24 09:24] rlaemmel commented on #150
@tschmorleiz @avaranovich I would also want to know whether you think this is a sound idea.

[2013-04-24 09:43] martinleinberger commented on #150
I'm not sure if this is a good idea, because of the work it would create, but the Confluence Wiki has a really cool feature - it can display .pdf documents:
![confluence_pdf](https://f.cloud.github.com/assets/1643263/419129/ed8b38aa-acc2-11e2-946a-965699bd8173.png)

I think there are libraries for this (quick search revealed [a Mozilla project, for example](https://github.com/mozilla/pdf.js)), but

[2013-04-24 09:44] avaranovich commented on #150
We could also have a PDF preview, there is an implementation is javascript https://github.com/mozilla/pdf.js/
here is the running example http://jsbin.com/pdfjs-helloworld-v2/1/edit and here http://mozilla.github.io/pdf.js/web/viewer.html

[2013-04-24 09:46] avaranovich commented on #111
related discussion https://github.com/101companies/101wiki/issues/150

[2013-04-24 10:34] rlaemmel opened #151 "101wiki nonresponsive"
@avaranovich @tschmorleiz @burgua @arkadi-schmidt

Any ideas what's going on?

Very slow / time out over the least few hours.

[2013-04-24 10:47] rlaemmel commented on #150
I think the most we should do is preview of a cheap kind (typically first slide).
Initially, just a PDF icon would do.
The pdf preview, if any, should be completely client-side.
It should not be too costly in terms of data pulled for the preview.
Just some thoughts.

[2013-04-24 11:16] burgua commented on #150
Of course, we can just add pdf-icon.

Some possible ways to go, if you want some slider for pdf-s:
- upload to some external services as [**Scribd**](http://de.scribd.com), [**Slideshare**](https://de.slideshare.net) or (I forgot the third)
- retrieve iframe with rendered pdf
- embed in page

And pretty **simple** looks [**Google Doc Viewer**](https://docs.google.com/viewer). Just write an iframe

[2013-04-24 11:44] tschmorleiz commented on #70
Added a very simple search feature based on the previous discussion.

[2013-04-24 11:44] #70 closed, assigned to tschmorleiz

[2013-04-24 11:45] #151 closed, assigned to nobody

[2013-04-24 12:41] tschmorleiz commented on #133
Fixed that.

[2013-04-24 12:43] avaranovich commented on #133
I often see an empty "Resources" section. Is that intended?

[2013-04-24 12:44] tschmorleiz commented on #133
Can you give an example?

[2013-04-24 13:10] avaranovich commented on #133
Yes, the page in this issue  http://101companies.org/wiki/Script:Introduction_to_functional_programming
it is also on the screen of the issue

[2013-04-24 15:00] rlaemmel commented on #70
Great. This is good for now. I find the mediawiki approach usually overwhelming for our purposes. Mostly, I would be happy with what you show now. Only, occasionally I would want to see more (along the lines of what mediawiki tries by previewing the pages' text and highlighting hits). Great!

[2013-04-24 15:03] rlaemmel commented on #133
@tschmorleiz did you actually deploy your changes?
Because none of the things I mentioned were actually addressed.
Repeating them here.
1. Why ":" after "Links" and "Resources"? We don't use ":" elsewhere.
2. "Links" section closer to "Metadata" section than generally other distances between other section. More space please (I guess).
3. Having no resources but the header "Resources" looks strange

[2013-04-24 15:34] rlaemmel opened #152 "Show URL for <file ...> not just basename"
Please have a look here:

http://101companies.org/wiki/Contribution:haskellStarter

There is this paragraph somewhere:

[code]

It should show the URL as specified in the "file" element and not remove anything.

So "Main.hs" should be replaced by "src/Main.hs".

[2013-04-24 15:36] rlaemmel opened #153 "Metadata missing"
No Metadata reported on this page:

http://101companies.org/wiki/Information:Download

I also tried reload.

[2013-04-24 16:46] burgua commented on #150
So, your thoughts?

[2013-04-24 17:08] rlaemmel commented on #150
If you are in the building, please say hello.

I am not sure that I know enough to favor strongly any of your great proposals.

I am not 100% sure that I would want to share slides via external services, but perhaps this is the way to go, as I am not constraining access anyhow. So if you prefer this, let's go that way. The Google Doc Viewer seems to lead to a nice preview also and it does seem to

[2013-04-24 19:02] tschmorleiz commented on #133
Redeployed. Please close if Ok.

[2013-04-24 22:54] rlaemmel commented on #133
yes, looks good, BUT metadata is again rendered in a strange way; see screenshot.

![img](https://f.cloud.github.com/assets/1208815/422709/e7888074-ad31-11e2-93fe-3f4ab4b2be7b.jpg)

[2013-04-25 08:27] burgua commented on #150
If you would like to use Google Doc Viewer - it's possible to do it today.

You can write smth like

[code]

And it will be rendered without any hard work with backend.
Other approaches need more time to implement.

Today I'm in building till 11:30 and since 13:30, so if it's appropriate - I can say hello.

[2013-04-26 09:44] arkadi-schmidt commented on #150
Before merging the code please add slideshare api and secret.

New media tags works so

[code]

[2013-04-26 11:03] arkadi-schmidt commented on #150
Please merge this after retrieving slideshare api key/secret https://github.com/avaranovich/wikicloth/pull/4

[2013-04-26 13:29] rlaemmel opened #154 "Back button not returning to edited page"
Reproduce like this:
- Edit some page (and save).
- Click a link.
- Use back button to go back to edited page.
- Observe that page looks as prior to editing.
- Reload: correct page is shown.

This probably means that the client does not handle the back button correctly.

[2013-04-26 22:09] rlaemmel commented on #131
As discussed over Skype with @tschmorleiz this issue seems to kick in for some sort of out-of-quota reason:

In the JS console I see this stuff:

<pre>
Refused to execute inline script because it violates the following Content Security Policy directive: "script-src 'unsafe-eval' 'self' *.disqus.com:* *.google-analytics.com:* *.scorecardresearch.com:*".
 disqus.com:9
Got there. application-d5ac4eec

[2013-04-26 22:29] rlaemmel opened #155 "slideshare account for 101companies"
@avaranovich I am happy to create the account, but please also go ahead, if you like.

We should connect the account with 101companies@gmail.com.

The name of the user is Joe Hackathon.

[2013-04-26 22:32] rlaemmel commented on #155
@arkadi-schmidt @burgua We create such a slideshare account for 101companies and plan to upload things typically to that account (rather than to personal accounts like mine). Would it be easy to also reference slideshares of other accounts on 101wiki, if the need ever arises? Well, we can discuss next week. Having support for the designated 101companies account is probably all that's really needed

[2013-04-26 22:37] rlaemmel commented on #152
In addition, there should be no "linebreak" added, if possible, because it is otherwise impossible to use such links in the running text. If this is a hardship, please let me know, and I try to cater for it.

[2013-04-26 23:15] burgua commented on #155
Using slideshare api you can reference any public "slideshare".

2013/4/27 Ralf Lämmel notifications@github.com

[2013-04-26 23:17] burgua commented on #155
So, yes =)

[2013-04-28 15:42] avaranovich commented on #155
@burgua Check your mailbok -- the key is there.

[2013-04-28 15:42] #155 closed, assigned to avaranovich

[2013-04-28 21:12] rlaemmel opened #156 "Something went wrong: Internal Server Error"
I guess the fact that I am getting this now all the time may still be related to the outage of the worker machine that @avaranovich and others are working on. Nevertheless, let me mention, that I am seeing this a lot anyhow.

[2013-04-28 21:16] rlaemmel opened #157 "Spell checking breaks when zooming"
I am afraid to hear that nothing much can be done about this, but let me report it anyway because it is limiting the editing experience substantially.

That is, in editing mode, words (in fact, phrases or lines) are underlined in red to mean that their is spell checking error. This happens when the a word is wrapped around.

So reproduce it like this:
- Open a page with a bigger text paragraph.
-

[2013-04-28 21:27] rlaemmel commented on #154
This would be nice to be fixed as I tend to loose changes this way.

[2013-04-28 22:00] rlaemmel commented on #64
Especially with the cache for the new wiki, even just mediawiki or CLI renaming is so complicated that we really need to address this.

[2013-04-28 22:05] rlaemmel opened #158 "mediawiki not operational"
Cannot get to this page:

http://mediawiki.101companies.org/wiki/Feature:Timeline

(Wanted to use mediawiki to remove the page, in fact, rename it.)

[2013-04-28 22:06] rlaemmel commented on #158
Getting this on pages other than mediawiki.101companies.org/wiki

<pre>
Server error
The website encountered an error while retrieving http://mediawiki.101companies.org/wiki/Namespace:Feature. It may be down for maintenance or configured incorrectly.
Here are some suggestions:
Reload this webpage later.
HTTP Error 500 (Internal Server Error): An unexpected condition was encountered while the serve

[2013-04-28 22:19] #145 closed, assigned to avaranovich

[2013-04-28 22:20] rlaemmel commented on #143
Nice to have. Not too urgent.

[2013-04-28 22:21] rlaemmel commented on #142
So this is a quota / API issue.
Disqus not working for me all the time.
I guess this is because I am using the wiki :-(

[2013-04-28 22:22] rlaemmel commented on #141
I haven't seen this in a while.
So I am closing.
There is the more severe "back button" issue.

[2013-04-28 22:22] #141 closed, assigned to avaranovich

[2013-04-28 22:24] rlaemmel commented on #136
It looks this was resolved but the issue was not closed.
Closing it, Ok, @tschmorleiz ?

[2013-04-28 22:24] #136 closed, assigned to tschmorleiz

[2013-04-28 22:25] rlaemmel commented on #134
Confirming that this still needs to be fixed.

[2013-04-28 22:27] rlaemmel commented on #133
Looks good.

[2013-04-28 22:27] #133 closed, assigned to tschmorleiz

[2013-04-28 22:28] rlaemmel commented on #129
Yes, nice.

[2013-04-28 22:28] #129 closed, assigned to avaranovich

[2013-04-28 22:30] rlaemmel commented on #128
We could also do a code review. It looks like there is a bunch of issues upon save. Perhaps, this also relates to the issues with the back button and "Something went wrong" messages.

[2013-04-28 22:31] rlaemmel commented on #127
Just confirming, "save" does not cause any response in the UI. When things are fast, that's not a problem. Often, saving takes 1-4 seconds and then it is strange when there is no response (coloring etc.) whatsoever.

[2013-04-28 22:35] rlaemmel commented on #108
It looks like this has been addressed.

[2013-04-28 22:35] #108 closed, assigned to tschmorleiz

[2013-04-28 22:36] rlaemmel commented on #109
Yes, we need to discuss.

[2013-04-28 22:37] rlaemmel commented on #78
I think this has been addressed/decided.

[2013-04-28 22:37] #78 closed, assigned to tschmorleiz

[2013-04-28 22:38] rlaemmel commented on #79
Has been addressed but not closed it seems.

[2013-04-28 22:38] #79 closed, assigned to tschmorleiz

[2013-04-28 22:38] rlaemmel commented on #89
Closing this as this is a double.

[2013-04-28 22:38] #89 closed, assigned to tschmorleiz

[2013-04-28 22:39] rlaemmel commented on #90
Seems to be Ok now with the use of bold face for the unqualified name part.

[2013-04-28 22:39] #90 closed, assigned to tschmorleiz

[2013-04-28 22:41] rlaemmel commented on #8
We need some tool support and procedure to address this.
Closing this for now, as it cannot be addressed in the intended way.

[2013-04-28 22:41] #8 closed, assigned to nobody

[2013-04-28 22:42] rlaemmel commented on #12
It looks like this is a leftover from the times prior to the Discovery Service.

[2013-04-28 22:42] #12 closed, assigned to nobody

[2013-04-28 22:42] rlaemmel commented on #12
@martinleinberger , agreed?

[2013-04-28 22:44] rlaemmel commented on #15
It looks like we cover this pretty much here already.
http://101companies.org/wiki/Namespace:Property

[2013-04-28 22:44] #15 closed, assigned to avaranovich

[2013-04-28 22:51] tschmorleiz commented on #134
Should be fixed. Please close if you see your issues are resolved.

[2013-04-28 22:59] rlaemmel commented on #134
Yes, fixed. Thanks.

[2013-04-28 22:59] #134 closed, assigned to tschmorleiz

[2013-04-28 23:15] burgua commented on #142
Or some cronjobs open a lot of pages

[2013-04-29 09:36] tschmorleiz commented on #157
Which browser did you use?

[2013-04-29 09:41] rlaemmel commented on #157
Latest Chrome.
Not an urgent issue.

[2013-04-29 10:31] martinleinberger commented on #12
No complains from my side.

[2013-04-29 12:15] rlaemmel opened #159 "refactoring support broken"
<pre>
$ python refactor.py rename Contribution:haskellCabal Contribution:haskellEngineer
Wikisername: rlaemmel
Password:
[u'Language:Haskell', u'101companies:System', u'Feature:Total', u'Feature:Cut', u'Technology:GHC', u'Module', u'Feature:Flatness', u'Contribution:haskellList', u'Contribution:haskellStarter', u'Theme:Haskell introduction', u'Contribution:haskellWhere', u'Contribution:haskellLamb

[2013-04-29 12:24] tschmorleiz commented on #159
Essentially the MediaWiki API is down (http://mediawiki.101companies.org/wiki/api.php). Looking into this with @avaranovich .

[2013-04-29 12:32] avaranovich commented on #158
there is an extension by @tschmorleiz which depends on "http://black42.uni-koblenz.de/production/101worker/catTree.xml" which is not available after the death of the worker. Only "namespace" pages are affected. @tschmorleiz is looking into the issue.

[2013-04-29 12:33] tschmorleiz commented on #159
Should be back up, please check and close if it works for you.

[2013-04-29 12:34] tschmorleiz commented on #158
Fixed.

[2013-04-29 12:34] #158 closed, assigned to avaranovich

[2013-04-29 12:38] #159 closed, assigned to tschmorleiz

[2013-04-29 12:48] rlaemmel commented on #153
http://101companies.org/wiki/Contribution:haskellEngineer

Metadata does not list Technology:Haddock and Technology:HUnit.

I just added them and also reloaded and also tried another browser.

Some other triple that I also just added made it though.

[2013-04-29 14:21] rlaemmel opened #160 "When reloading a page with a youtube video the youtube video name does not get upload"
So I first added markup for a youtube video to a page (and saved).
Then I went to youtube and changed the video's name.
Reloading the page would still show the old title.
This is probably because it gets stored in the cache.
So when I reset the 101wiki cache, then the new name would appear.

Not a big deals, but perhaps a nice scenario to review in the view of our "complicated" (?) cache scheme.

[2013-04-29 14:35] rlaemmel commented on #156
Closing it for now, but it happens less regularly also.
If I see it and think of a pattern, then I open again.

[2013-04-29 14:35] #156 closed, assigned to tschmorleiz

[2013-04-29 14:40] burgua commented on #160
Hm, we are retrieving video title every time on every page reload. So, it looks like server-cache of 101Rails.

Do you mean under "101wiki cache" the browser-cache?

[2013-04-29 14:43] rlaemmel opened #161 "Metadata "..." must be more visible"
I just missed it and though metadata was missing.

[2013-04-29 14:43] rlaemmel commented on #153
That was a UI issue.
Opening #161 and closing this one.

[2013-04-29 14:44] #153 closed, assigned to tschmorleiz

[2013-04-29 14:49] tschmorleiz commented on #161
Fixed.

[2013-04-29 14:49] #161 closed, assigned to tschmorleiz

[2013-04-29 17:02] avaranovich commented on #113
@burgua please provide as requested.

[2013-04-29 18:06] rlaemmel opened #162 "Embedding .png .jpegs alike into 101wiki pages"
@burgua and @arkadi-schmidt , can you please propose some approach for embedding images into 101wiki pages?

I wonder where to conveniently put the images?
Also, what markup to use?
Mediawiki has clearly a story on this, but we need to figure out what we should do on the new 101wiki.

Perhaps you can do some basic analysis and also involve @avaranovich and @tschmorleiz at some point.

Thanks!

[2013-04-29 21:32] rlaemmel commented on #162
It just happens that I was working on 101system feature that generates charts and hence if there if there is some simple and nice protocol to upload  and link images that would be cool. I guess we could store images in github and link them the wiki pages perhaps just re-enabling the mediawiki markup. Images should be previewed effectively.

[2013-04-29 21:34] rlaemmel commented on #162
github has very severe limitations though on the size of files, but perhaps that mainly applies to showing the file in "raw" mode in the github browser, but we may also cause quota issues when 101 students open a page with a few images at github. So it may be good to discuss whether another solution exists.

[2013-04-30 08:15] rlaemmel opened #163 "Screw up of rendering and missing content"
Somehow the "Contributions" section is no longer recognized as a section.

Also note that there is no edit button for metadata.

Further note that metadata is not rendered properly.

Further, "Contributions" and "Metadata" are missing when I "Edit page" even though they remain visible when reloading the page.

I went to mediawiki and I see this content:

<pre>
== Contributions

* [[Contribution:do

[2013-04-30 08:21] rlaemmel commented on #163
So I guess missing Edit buttons and lack of recognizing Metadata section as such may be Ok, if the parser error disrupts section structure, but please do not omit content.

[2013-04-30 09:13] tschmorleiz commented on #163
Please provide the name of the page.

[2013-04-30 09:15] rlaemmel commented on #163
No point in providing that name, as I had to go ahead and fix the page.
However, the issue text above contains the offending page content verbatim.

[2013-04-30 12:23] #128 closed, assigned to avaranovich

[2013-04-30 13:01] #113 closed, assigned to tschmorleiz

[2013-04-30 13:06] avaranovich commented on #162
What if we just follow the mediawiki markup, which is already supported by our parser?
The basic way to include file is [[File:example.jpg|caption]]
http://www.mediawiki.org/wiki/Help:Images

[2013-04-30 13:10] burgua commented on #162
I also like this idea about using parser.

[2013-04-30 22:33] burgua commented on #150
So, looks working now.
Example page: http://101companies.org/wiki/Bar2
Markup for it:

[code]

@rlaemmel can we close the issue?

[2013-04-30 23:37] rlaemmel commented on #150
This rocks.
I'll play with this some more and then close.
Thanks,
Ralf

[2013-05-01 20:08] rlaemmel opened #164 "Moderated, semi-closed discussion feature"
My first experiences with FB show that FB is not effective for course support (related to 101). This is because some students and collaborators are not willing to use FB. Not complaining, as I can totally understand when people don't want to use FB. That's just a reality.

BTW, DISQUS is not the answer as it would cause all discussions to just end up in one big pot and expose all communication ope

[2013-05-01 21:18] tschmorleiz commented on #58
I think we can close for now.

[2013-05-01 21:18] #58 closed, assigned to tschmorleiz

[2013-05-01 23:30] rlaemmel opened #165 "Delete shouldn't go all the way back to 101companies.org"
Also mentioning @arkadi-schmidt for the good order

I just played with the new Delete button.

Works fine :-)

Except that one ends up all the way at 101companies.org.

The expected / natural behavior would be that one ends up on the previous page visited on 101wiki.

Not a big deal, but good to have.

Without this improvement, users must use the URL field of the browser to get back to the context

[2013-05-01 23:43] rlaemmel commented on #150
It just works great.

Just one tiny thing.

Have a look here:

http://101companies.org/wiki/Script:XML_data_binding

When using slides on a white background the actual frame for the deck is not recognizable.

Can you put some frame around the rendered page?

[2013-05-01 23:44] rlaemmel commented on #150
Also, I don't think that the name of the slide deck needs to be shown at the left upper corner as it is already stated at the left lower corner with additional info (the author). So please remove the redundant mentioning at the left upper corner.

[2013-05-01 23:49] rlaemmel commented on #150
Other than that I just very happily converted the existing 3 PTT lectures to slide share and changed the markup accordingly.  All great.

http://101companies.org/wiki/Course:Programming_in_Koblenz

[2013-05-02 11:50] burgua commented on #150
Removed duplicated title.

In progress

[2013-05-02 12:50] rlaemmel opened #166 "Delete not working"
Try to delete this page:

http://101companies.org/wiki/Script:Engineering_Haskell_programs

This gives this error message:

[code]

[2013-05-02 12:53] rlaemmel commented on #130
@tschmorleiz had discussed this.

@tschmorleiz can you perhaps win @burgua and @arkadi-schmidt to do it?

The idea would be to stack all horizontally aligned buttons in a drop-down menu (like "Action").

[2013-05-02 12:54] rlaemmel commented on #140
@tschmorleiz can you perhaps hand this over to @burgua and @arkadi-schmidt ?

[2013-05-02 12:59] rlaemmel opened #167 "Fold/unfold feature on wiki pages broken"
@tschmorleiz do you want to hand this over to @burgua and @arkadi-schmidt ?

So the issue as discussed that pressing fold/unfold scrambles the page in the sense of causing indentation as shown below.

This is totally reproducible; try any page.

![bug](https://f.cloud.github.com/assets/1208815/453846/0f26c4be-b328-11e2-9d91-214ec58aaf95.jpg)

[2013-05-02 13:06] rlaemmel opened #168 "Edit, save not working"
@arkadi-schmidt and @burgua Can you help?

For example, try editing "Summary" here:

http://101companies.org/wiki/Script:Simple_software_engineering_for_Haskell

Nothing happens upon "Save".

I tried other pages, too.

Also tried "Reload" in all cases.

This is really very urgent, as I need to work on the course for tommororw.

[2013-05-02 13:08] tschmorleiz commented on #168
Fixing right now with Andrei and Alex.

[2013-05-02 13:15] tschmorleiz commented on #168
Seems this happend due to some merge.

[2013-05-02 13:19] tschmorleiz commented on #168
Should be fixed.

[2013-05-02 13:19] #168 closed, assigned to tschmorleiz

[2013-05-02 13:48] burgua commented on #166
look ok again, @rlaemmel please wait for redeploy
@avaranovich is already infromed

[2013-05-02 15:19] rlaemmel commented on #166
Managed to delete now.
So I am closing now.

[2013-05-02 15:19] #166 closed, assigned to burgua

[2013-05-02 15:43] tschmorleiz commented on #154
Discussed this with Andrei since this requires both server- and client-sided changes. Should be fixed soon.

[2013-05-02 20:34] rlaemmel opened #169 "Timestamp at the bottom of page not updated past save"
There are already 1+ issues suggesting that "save" is too limited in how it updates the page. (I remember that metadata is not reloaded / updated upon save.) It looks like that the page really needs to be reloaded asynchronously more or less. Along these lines, I just noticed that the "timestamp + name" at the bottom of the page does not get updated upon save.

Some design review is needed here to

[2013-05-02 20:53] rlaemmel opened #170 "Mismatch between 101 languages and fragment (renderable) languages"
For instance, we say <fragment lang="haskell" ... but we say "Haskell" in 101.

We should normalize this situation.

Any solution may entail some refactoring / automated transformation support to normalize legacy. So this is not too easy. Perhaps, we should discuss on one of the next meetings.

[2013-05-02 21:41] rlaemmel opened #171 "Making 101wiki pages variant-aware"
@tschmorleiz perhaps you could also discuss this in one of those meetings.

We have briefly discussed this issue before.

The idea is that wiki pages should become customizable so that they appeal to the reader.

For instance, consider this page:

http://101companies.org/wiki/Module

It currently (only) appeals to Haskell programmers.

One could think of complementary content so that it also appea

[2013-05-02 22:11] rlaemmel opened #172 "Lower case links when clicking saved content"
Try this to reproduce:
- Edit some page
- Create some markup for a link while using lower case.
- Save.
- Click said link.

You will end up on a lower case URL.

If you reload though, then you will end up on an upper case URL.

I think this has to do (like some other issues) with the fact that the client tries to shortcut stuff that would normally be done by the server.

[2013-05-03 08:13] rlaemmel commented on #152
I am closing this and open a designated issue to the pending sub-issue.

[2013-05-03 08:13] #152 closed, assigned to avaranovich

[2013-05-03 08:15] rlaemmel opened #173 "No linebreaks or other noise for file markup"
Or perhaps @tschmorleiz can also do this?

Consider this sort of markup:

[code]

It can be found here:

http://101companies.org/wiki/Contribution:haskellEngineer

It is rendered with line breaks - both before and after the actual link.

These need to go away as this clearly looks odd this way.

[2013-05-03 08:29] rlaemmel opened #174 "file versus fragment distinction of markup not clear"
So I can show entire files with fragment markup and I can do this with file when show="true", but I have to use "fragment" if I want it to have the "Discover" link. So this means I will usually use "fragment".

Should we think again and perhaps really design one tag? Something like "discover"?

Here is what I believe are the requirements:
- show has default "false" for files and "true" otherwise.

[2013-05-03 08:34] rlaemmel opened #175 "Excessive extra linebreaks between sections"
In an attempt to fix an earlier bug where sections without in-between linebreaks would get merged, we now face the opposite situation. Linebreaks seem to be added all the time so that sections move appart increasingly.

[2013-05-03 09:13] rlaemmel opened #176 "identifies property for SourceForge mis-rendered"
http://101companies.org/wiki/Technology:HUnit

Have a look at how this is rendered:

[code]

Basically, the "object" is missing.

I think this is a general issue with links that only have a domain part but no URL beyond that.

[2013-05-03 09:45] rlaemmel commented on #176
Another instance of the same problem.

http://101companies.org/wiki/Technology:HackageDB

See link to hackage.

[2013-05-03 09:55] #173 closed, assigned to avaranovich

[2013-05-03 09:56] rlaemmel commented on #175
This is urgent as I have already created loads of strange pages that way.

[2013-05-03 09:56] rlaemmel commented on #175
Perhaps these extra linebreaks should automagically removed when opening a page for page-level edit?

[2013-05-03 10:35] tschmorleiz opened #177 "Guided Tours"
# Motivation

Users should be able to guided through the wiki by means of "guided tours". That is, authors should be able to script sequences of pages of interest for users to be played.
# Features for first version
## Stakeholder: Authors

Authors essentially need to be able to perform CRUD for "guided tours" by means of an UI. That is:
- Provide a page
  - to _view_ all tours available
  - to _d

[2013-05-03 12:58] rlaemmel opened #178 "Prefer "discovery" links over "github" links"
See

[code]

... on this page:

http://101companies.org/wiki/Contribution:haskellEngineer

haskellEngineer.cabal should  be linked to discovery page - not to Github.

This is what we do for "fragment".

[2013-05-03 13:02] rlaemmel opened #179 "Add "Discover" tab 101wiki pages"
@avaranovich perhaps you want to assign this to someone else?

Next to "Wiki" (and "Github" - for some pages), there should also be a "Discover" tab.

This should take one to the discovery service.

Good for round-tripping navigation.

Good for deep integration of the discovery service.

@martinleinberger just mentioning you here so that you know of this request.

[2013-05-03 17:19] rlaemmel opened #180 "Paragraph line breaks got missing"
Look at "Citation" section of this page, for example:

http://101companies.org/wiki/Quicksort

There are clearly 2 paragraphs in the markup but they are rendered as if they were one.

[2013-05-03 17:28] #180 closed, assigned to tschmorleiz

[2013-05-03 17:31] tschmorleiz commented on #175
The problem is that if I remove trailing line breaks on edit, the model is changed without any real changes. I guess we should do this sort of normalization on the server. Will change this on the server beforehand.

[2013-05-03 17:37] rlaemmel commented on #175
We should definitely avoid that every "save" adds another line, which is what I think currently happens.

[2013-05-03 17:39] #175 closed, assigned to tschmorleiz

[2013-05-03 17:40] tschmorleiz commented on #175
What happens now is that the users only gets sections with removed trailing whitespace. And the server saves sections by joining with a linebreak. So we don't see/store this blowup anymore.

[2013-05-03 17:46] rlaemmel commented on #175
Sounds good. Thanks for the quick fix. Overall, we get more features and less bugs. :-) Kudos!

[2013-05-03 18:16] rlaemmel opened #181 "Discover folders on the wiki pages"
See the description of the issue here:

http://101companies.org/wiki/Issue:DiscoverFolders

This relates to #178 and #174.

We should discuss this soon before we create more legacy.

[2013-05-03 21:13] #176 closed, assigned to tschmorleiz

[2013-05-04 14:50] #163 closed, assigned to tschmorleiz

[2013-05-04 14:52] tschmorleiz commented on #163
Problem was that the client was not aware of any sections due to messed up wikitext. Added some fallback: If there are no sections, use the raw content. This allows one to edit such broken pages.

[2013-05-06 08:47] avaranovich commented on #179
@tschmorleiz Could you please add?

[2013-05-06 08:54] burgua commented on #150
So, here we have flash-obejct with very strange markup.

It has inside itself on the right side and bottom some white line (2px width).
Any borders looks weird, outlines are hidden by element itself, changing background is also weird.

So @rlaemmel, here we will need help of someone, who is good in frontend, e.g. @tschmorleiz

The best we found was:

![51877463e4b0484a551fac4c](https://f.cloud.git

[2013-05-06 10:32] rlaemmel commented on #150
It's apparently to hard to fix.
So I am unassigning until someone comes along to fix it.

[2013-05-06 12:28] tschmorleiz commented on #127
Added some feedback (small spinner) indicating that saving is happening.

[2013-05-06 12:28] #127 closed, assigned to tschmorleiz

[2013-05-06 13:11] #167 closed, assigned to tschmorleiz

[2013-05-06 14:14] #165 closed, assigned to burgua

[2013-05-06 16:21] tschmorleiz commented on #140
Works now.

[2013-05-06 16:21] #140 closed, assigned to tschmorleiz

[2013-05-06 16:58] burgua commented on #135
Less crazy fonts:

Ubuntu: http://take.ms/UucZe

Rockwell: http://take.ms/nxzuz

Open Sans: http://take.ms/6EJMZs

Lato: http://take.ms/6khEJ

Arvo: http://take.ms/AklKdS

Josefin Slab: http://take.ms/nT4u0

Also made in caps and bigger.

[2013-05-06 17:19] rlaemmel commented on #135
I wouldn't mind a more serious font, if @tschmorleiz feels like picking one, but we can as well wait for the proper logo.

[2013-05-06 17:19] #135 closed, assigned to tschmorleiz

[2013-05-06 17:44] tschmorleiz commented on #135
Sure the font is crazy, I just picked something playful for now. Picking a serious font now will make the page very "plain". So let's wait for a logo.

[2013-05-06 18:29] tschmorleiz commented on #179
Discussed with @martinleinberger:
Problem is that we have to map Language:Foo to languages/Foo for the URL of the discovery service. We have some mapping code, but don't want to copy it around and make it out of sync. So Martin will add support for URLs such as http://101companies.org/resources?wikititle=Language:Foo&format=html that will then be redirected to the proper URL.

[2013-05-06 19:07] tschmorleiz commented on #130
Working on this one.

[2013-05-06 20:09] rlaemmel opened #182 "101wiki down"
@avaranovich

Pages don't load.

[2013-05-06 20:10] rlaemmel commented on #182
Or perhaps loading just takes very long (1min+).
Tried this a few times.
http://101companies.org/wiki/Script:Language_processing_patterns

[2013-05-06 20:11] rlaemmel commented on #182
Seems to be getting fast again.

[2013-05-06 20:14] rlaemmel commented on #182
Save takes already 2mins on this page:
http://101companies.org/wiki/Script:Language_processing_patterns

[2013-05-06 21:25] rlaemmel commented on #182
Seems to be Ok.

[2013-05-06 21:25] #182 closed, assigned to tschmorleiz

[2013-05-06 22:41] #179 closed, assigned to tschmorleiz

[2013-05-06 22:42] tschmorleiz commented on #130
Fixed.

[2013-05-06 22:42] #130 closed, assigned to tschmorleiz

[2013-05-06 22:47] rlaemmel commented on #130
Looks great.

[2013-05-06 22:49] rlaemmel commented on #179
Yes, this looks right. Thanks!

[2013-05-06 22:52] burgua commented on #130
maybe hide it at all, if not signed_in?

http://take.ms/rRQ7p

[2013-05-06 22:56] tschmorleiz commented on #130
Done, thanks for noticing

[2013-05-06 22:58] rlaemmel commented on #130
Thanks @burgua for noticing and thanks @tschmorleiz for fixing.

[2013-05-07 08:25] rlaemmel opened #183 "edit new pages behaves strangle"
- Enter the name of a non-existing page.
- Edit the page.
- Observe how "#" appears after the URL.
- Continue editing and say "save".
- Observe how "#" stays in the URL.

I am looking at this URL, for example, past edit:
http://101companies.org/wiki/Context-free_grammar#
The metadata does not get rendered.

[2013-05-07 08:28] rlaemmel commented on #183
Back button cycles through the URL with and without "#".
So it cannot be used anymore.

[2013-05-07 08:29] rlaemmel commented on #183
"#" stays even after Cancel.

[2013-05-07 08:36] avaranovich commented on #183
@tschmorleiz I am sure you know this already, the metadata often is not rendered because of some "noise" in URL, aka "#" in this issue.

[2013-05-07 08:57] rlaemmel opened #184 "Clicking links with lower case characters gets us occasionally to URLs with also lower case"
This isn't quite reproducible, but there must be somewhere a code branch that does not turn the link target into upper case. I think this happens specifically after saving. So suppose you do this.

Edit some page and add this sort of markup.

[code]

Save and click "foobar".  You might end up on ..../foobar.

This does not happen all the time.

[2013-05-07 09:05] rlaemmel commented on #183
I get the feeling that things behave particularly strange when "-" is in the URL.

[2013-05-07 09:32] rlaemmel opened #185 "Resource details missing for github URLs"
Please go here:

http://101companies.org/wiki/Lookahead#

(Not sure about the "#".)

Please hover Resources, github.

The actual repo name is missing; only the final directory name is shown.

[2013-05-07 09:49] rlaemmel opened #186 "Missing wikipedia link"
Please have a look here:

http://101companies.org/wiki/Acceptor

There is a challenging link to Wikipedia in the metadata section.

It is not rendered.

[2013-05-07 10:07] tschmorleiz commented on #183
Should be fixed. Action dropdown has some strange markup, due to this quick fix. Will change later.

[2013-05-07 10:07] #183 closed, assigned to tschmorleiz

[2013-05-07 10:09] tschmorleiz commented on #185
"#" is unrelated. What should be the general rule which part to show of the URL?

[2013-05-07 10:20] #186 closed, assigned to tschmorleiz

[2013-05-07 12:24] burgua opened #187 "Contribution process: URL"
Url is http://101companies.org/contribute

[2013-05-07 12:25] burgua opened #188 "Contribution process: Repo designation"
Show in list : own repos, collaboration repos

[2013-05-07 12:27] burgua opened #189 "Contribution process: Subdir designation"
Use subdir for repo
Multiple contribtuions from 1 repo, but separate subfolders

[2013-05-07 12:29] burgua opened #190 "Contribution process: Name designation"
Use name of contribution from git-repo
Possible to override

[2013-05-07 12:31] burgua opened #191 "Contribution process: Submission for analysis"
Work with 101services (cloning, retrieving facts, languages, technologies)

[2013-05-07 12:32] burgua opened #192 "Contribution process: Processing results"
"Prettify" JSON-results of 101services

[2013-05-07 13:57] burgua opened #193 "Contribution process: Editing results"
Change results of 101services findings

[2013-05-07 14:35] burgua opened #194 "Contribution process: Designation of a headline"
User can specify some description

[2013-05-07 14:49] burgua opened #195 "Contribution process: Submission for inclusion"
After submitting the contribution it need to be approved(rejected) by gatekeeper.

[2013-05-07 14:49] burgua opened #196 "Contribution process: Post-submission process"
- The gatekeepers are informed about the TODO record as mentioned above.
- Send "Under review" email to submitter.
- A gatekeeper uses some admin interface to "confirm" the contribution. This will imply several events:
  - Add project to .gitdeps on 101repo.
  - Generate a tweet on 101companies.
  - Create a wiki page from the submission data.
  - Send an email to the submitter.
  - Change the sta

[2013-05-07 15:02] burgua commented on #71
Entire "Epic" was splitted in

101companies/101wiki#187
101companies/101wiki#188
101companies/101wiki#189
101companies/101wiki#190
101companies/101wiki#191
101companies/101wiki#192
101companies/101wiki#193
101companies/101wiki#194
101companies/101wiki#195
101companies/101wiki#196

[2013-05-07 15:56] burgua commented on #187
will be done for first working version

[2013-05-07 15:57] burgua commented on #194
done in https://github.com/101companies/101rails/commit/fc758620c84e2ef9fdfbd100ad7d49687816458c

[2013-05-07 15:57] #194 closed, assigned to burgua

[2013-05-07 18:48] tschmorleiz commented on #183
Fixed the markup in 101companies/101rails@1362a1bd3a29a82f91f609f63ddd9a1af1b6a6c9

[2013-05-08 08:06] tschmorleiz commented on #184
@avaranovich Could you fix this in the server-sided parsing functionality?

[2013-05-08 08:07] rlaemmel commented on #184
@tschmorleiz my impression is that this is a client problem because it seems to happen when clicking links on just saved content

[2013-05-08 08:10] tschmorleiz commented on #184
When saving we call a server-sided parsing thingy to get the rendered HTML.

[2013-05-08 08:21] #142 closed, assigned to tschmorleiz

[2013-05-08 08:21] tschmorleiz commented on #131
Disqus is now loaded on demand by user.

[2013-05-08 08:22] tschmorleiz commented on #142
This is per user, so not related to cron jobs. For now I changed it so that Disqus is loaded on demand.

[2013-05-08 08:24] burgua commented on #142
nice

[2013-05-08 16:48] tschmorleiz opened #197 "Use headlines as tooltips for page links"
This is mainly for UX but should be cheap:
When hovering over a link, provide a tooltip with the headline of the page that is linked. To implement this feature we can use the discovery service by @martinleinberger.

[2013-05-08 20:36] tschmorleiz opened #198 "Pick a theme for the wiki"
We use Twitter Bootstrap as our front-end UI framework. We do this because
- we are not web designers,
- it provides all reusable components we need, and
- it's responsive.

This is nice, but makes the wiki page look quite vanilla. Therefore I propose to pick a Bootstrap theme. They are really easy to use and integrate. Here are some pages that provide tons of free and paid themes:
- https://wrapb

[2013-05-08 20:38] burgua commented on #198
I love readability theme from boostwatch <3
Am 08.05.2013 22:36 schrieb "Thomas Schmorleiz" <notifications@github.com>:

[2013-05-08 21:08] #197 closed, assigned to tschmorleiz

[2013-05-08 21:31] tschmorleiz commented on #197
Works pretty smoothly :) Hover over any page link here http://101companies.org/wiki/Monad.
Please report any bugs in this issue.

[2013-05-09 21:40] tschmorleiz commented on #198
Yes, very clean. Somewhere I read "The default Twitter Bootstrap theme is the new Comic Sans" :)

[2013-05-09 21:41] burgua commented on #198
+1
Sad, but true

[2013-05-10 09:41] rlaemmel opened #199 ""Page not found" pops up"
It looks a new feature is coming along.

When I am hovering over some links, I get "Page not found".

This happens here:

http://101companies.org/wiki/Course:Lambdas_in_Koblenz

Try hovering over the lectures.

This is probably because special markup is used here, right?

[2013-05-10 10:36] tschmorleiz commented on #199
Seems like the discovery service does not handle the "Script" namespace properly. Check this:
http://101companies.org/resources/?format=html
Click on e.g. "Concept" and you get all members.
Click on "Script", nothing happens.
@rlaemmel Could you formulate this better and issue in the appropriate repo?

[2013-05-10 16:55] martinleinberger commented on #199
After updating the Mappings, the discovery service has now some members for "Script". I'm not sure why it doesn't work now. Is there another mapping missing? If you have more infos, please let me know...

[2013-05-10 16:58] tschmorleiz commented on #199
Thanks for working on this. The page uses this URL (for instance): http://101companies.org/resources?wikititle=Script:Introduction%20to%20functional%20programming%20&format=jsonp
As you see some 500 appears.

[2013-05-10 17:01] tschmorleiz commented on #199
There seems to be some trailing "%20", which I will fix. But even if I remove this: http://101companies.org/resources?wikititle=Script:Introduction%20to%20functional%20programming&format=jsonp, still 500.

[2013-05-10 17:04] tschmorleiz commented on #199
Actually I get this now for **any** wikititle with ":" in it: http://101companies.org/resources?wikititle=Language:Haskell&format=json. Seem the redirect is broken.

[2013-05-10 17:08] martinleinberger commented on #199
It appears as if my latest changes broke something. I'll fix it...

[2013-05-10 19:10] martinleinberger commented on #199
Found the bug. The discovery service should be fully functional again. Headlines of scripts are now popping up in the wiki.

[2013-05-10 19:11] tschmorleiz commented on #199
Cool! Thanks for helping make this feature work

[2013-05-10 19:11] #199 closed, assigned to tschmorleiz

[2013-05-11 20:53] rlaemmel commented on #199
Thanks @martinleinberger and @tschmorleiz .

Looks dandy now.

[2013-05-11 21:49] rlaemmel opened #200 "Headline popup not working in one case"
http://101companies.org/wiki/Script:Simple_software_engineering_for_Haskell

Hover over "Testing framework".

"Loading headline ..." forever.

[2013-05-11 22:05] martinleinberger commented on #200
I assume this is because "Testing framework" does not have a Headline ([wiki](http://101companies.org/wiki/Testing_framework) and [discovery service](http://101companies.org/resources/concepts/Testing_framework?format=html)).

[2013-05-11 22:08] rlaemmel commented on #200
Thanks, Martin.
I fixed that.

[2013-05-11 22:09] rlaemmel commented on #200
Reopening because I think it should just say that there is no headline rather than loading forever.

[2013-05-11 22:48] #200 closed, assigned to tschmorleiz

[2013-05-11 22:48] tschmorleiz commented on #200
Made it more robust: Check "Technology:GWT" here http://101companies.org/wiki/Contribution:gwt for instance.

[2013-05-11 22:58] rlaemmel commented on #200
Yes, working now.

[2013-05-11 23:44] rlaemmel opened #201 "Renaming didn't apply"
I was renaming as follows:

[code]

The following reference was not affected:

http://101companies.org/wiki/Course:Lambdas_in_Koblenz

[code]

[2013-05-11 23:52] rlaemmel commented on #201
Looks like this scheme of markup isn't supported.
Just ran into another example like this.

[2013-05-12 13:40] rlaemmel commented on #131
At this point I can reproduce this when using "mobile data".
Both on the tablet and on a machine connected through tethering.
I will report back once the issue also pops up on the uni network or anywhere else.

[2013-05-12 14:38] rlaemmel opened #202 "Page rendering has serious issue"
Something has been changed, clearly.

http://101companies.org/wiki/Contribution:haskellStarter

See how line breaks are missing, for example, past the video.

See how "Discover" is no always in the box for the snippet but before it.

[2013-05-12 15:08] rlaemmel opened #203 "Pop-up feature for headline not to be applied to "Discover" and external links generally"
For instance, go here:

http://101companies.org/wiki/Contribution:haskellEngineer

Hover over any "Discover" on that page.

"Page not found" is displayed, but anyway this is an external link that should not be considered by the feature.

[2013-05-12 17:53] #203 closed, assigned to tschmorleiz

[2013-05-12 18:14] #202 closed, assigned to tschmorleiz

[2013-05-12 18:18] rlaemmel commented on #202
Yes, looks good again. Thanks!

[2013-05-12 18:18] tschmorleiz commented on #202
Andrei helped fighting this down.

[2013-05-12 19:26] #149 closed, assigned to tschmorleiz

[2013-05-12 22:32] rlaemmel opened #204 "Page actions perhaps to be shown as many buttons"
With "Rename" coming along the way, we will have even more "page actions".

I believe the reason for putting them into an extra menu was basically "place management".

(The headline was running into the space needed for buttons.)

Perhaps it would be better to use extra space before the headline for all these buttons.

This is sort of "UI" issue. I think it would be better to see all page actions.

[2013-05-12 23:47] rlaemmel opened #205 "Double error message when resource not found"
Captured the problem on this dedicated page:

http://101companies.org/wiki/Issue:NotFound

See the error message outside the red box.

Sometimes these errors even break the page layout so that page-level edit is not even possible anymore.

Anyway, perhaps these errors can be intercepted more reliably.

[2013-05-13 10:44] tschmorleiz commented on #131
Fixed once and for all.

[2013-05-13 10:44] #131 closed, assigned to tschmorleiz

[2013-05-13 12:57] tschmorleiz opened #206 "500 "Malformed query result from server" for some resources"
For some resources (like "Namespace:Feature") we get this:
"java.lang.RuntimeException: org.openrdf.repository.RepositoryException: Malformed query result from server"

Currently reproducible here:
http://triples.101companies.org/org.softlang.semanticendpoint/doQuery?method=getResourceTriples&resource=Namespace-3AFeature

[2013-05-13 13:45] burgua commented on #205
So it looks now:

http://take.ms/1zGIC

[2013-05-13 14:09] #184 closed, assigned to avaranovich

[2013-05-13 14:45] #181 closed, assigned to avaranovich

[2013-05-13 15:35] tschmorleiz commented on #76
This seem to be caused by pages that start with "101" pointing IN _or_ OUT of the page. Can we get rid of such pages? Otherwise we would have to work around this, on a low level of semantic mediawiki or s.th.

[2013-05-14 10:23] avaranovich commented on #198
@tschmorleiz @burgua could you create a branch with a new theme? We have a look and decide.

[2013-05-14 13:08] burgua commented on #198
It's my development branch with theme spacelab http://bootswatch.com/spacelab/
https://github.com/101companies/101rails/tree/dev
Do'n merge it! Crazy changes inside

[2013-05-14 13:39] avaranovich commented on #198
very good, you can show it to us during the next wiki meeting

[2013-05-14 13:39] #198 closed, assigned to nobody

[2013-05-14 18:00] rlaemmel commented on #76
We get rid of those. LET's keep on discussing this.

[2013-05-14 18:02] rlaemmel commented on #205
Great

[2013-05-14 18:02] #205 closed, assigned to burgua

[2013-05-14 18:03] tschmorleiz commented on #206
Caused by pages that start with "101" (see https://github.com/101companies/101wiki/issues/76#issuecomment-17819626).

[2013-05-14 18:05] rlaemmel commented on #178
I realize that discovery appearance needs to be optimized so that the github link would be very easily seen. Assigning to @martinleinberger so that he addresses this as he adjusts styles.

[2013-05-14 18:49] #201 closed, assigned to tschmorleiz

[2013-05-14 18:50] tschmorleiz commented on #201
For me all was fine after "make clean-cache". Though I noticed that renaming a page will erase some link titles! Say [NS:Foo|123] becomes just [NS:Bar] when renaming NS:Foo to NS:Bar. That I fixed.

Please check if this work for you now.

[2013-05-14 20:22] tschmorleiz commented on #204
After discussion on monday, we agreed to show all buttons for now and have a "more" dropdown in case we get more page actions.

[2013-05-14 21:02] rlaemmel commented on #201
I shall submit a better/stsble testcase.

[2013-05-14 23:56] #204 closed, assigned to tschmorleiz

[2013-05-15 19:34] #64 closed, assigned to tschmorleiz

[2013-05-15 19:37] tschmorleiz commented on #64
Works as the our lovely wikiRefactoring tool does :-). Moves the page (no redirects generated) and fixes all references. When there are many backlinks this actually takes a some seconds (as with the tool).

Please report any strange behavior or non-fixed references.

[2013-05-15 20:02] rlaemmel commented on #64
Oh godness, this is beyond joy.
Wow!
Great!
Ralf
PS: You can count on me to test this shortly.

[2013-05-16 09:45] rlaemmel opened #207 "Provide help on markup"
I guess we need a sort of help button on the wiki so that people can read about the markup they can use.

This page emerges as the page to hold such help:
http://101companies.org/wiki/Information:Markup

Perhaps this page could be linked to some sort of help button; the page would need to open in a new tab of course.

[2013-05-16 10:13] tschmorleiz commented on #207
I think we could have to dimensions of support:
- **Syntax insertion:** By highlighting some text and clicking a button the text becomes a headline resp. a link, etc. (this one is rather cheap to have)
- **Syntaxhighlighting and alike:** We use an editor that can be extended in terms of which languages it supports. I will look into options to add wikitext markup and our special markup.

[2013-05-16 10:39] tschmorleiz opened #208 "Provide more feedback when renaming takes its time"
We do renaming such that all references to the moved page are fixed (see #64).
This has the drawback that it takes more than just a few seconds for heavily linked pages.

We show "fixing references..." while the client waits for the response. This indicates that the response could take some time, but I have the feeling we should provide more feedback. I see two options:
- We directly respond when

[2013-05-16 12:02] burgua commented on #162
@tschmorleiz tested it.
It works.

e.g.:

http://101companies.org/wiki/Monad
![5194ca40e4b0484a5522c6cc](https://f.cloud.github.com/assets/123756/512280/613e0124-be20-11e2-9618-1959455919e1.png)

[2013-05-16 12:21] rlaemmel commented on #162
Tested it, too.
http://101companies.org/wiki/Contribution:haskellBarchart
And it works wonderfully.
Let's keep the monadic cat until someone complains. :-)

[2013-05-16 12:22] #162 closed, assigned to burgua

[2013-05-16 12:23] burgua commented on #162
If someone will complain, I will **persuade** him.

[2013-05-17 15:51] rlaemmel commented on #208
Renaming is sort of an expert feature.
When non-experts use it, then they would probably only rename their own pages that they just created.
Experts will not be surprised to see that this takes time.
I would just do it synchronously and use some widget that shows that something is going on.
The exact progress does not need to be measured.

If we were to do it asynchronously, this could be confusin

[2013-05-17 17:06] rlaemmel opened #209 "Tuning "..." for metadata"
"..." kicks in for more than 12 metadata entries.

Now it happens that 13, 14, 15 is quite popular and so one has to click "..." all the time for 1 or 2 extra metadata units. Also, one may sort of miss that one doesn't see everything.

So I think the following could be a cheap UI improvement.

Show up 15 metadata units if there are <= 15 units.
Otherwise show 7 units and "...".

[2013-05-17 21:27] tschmorleiz commented on #154
As discussed, we changed the way to load pages:
Now, the the actual content of the page (wikitext source/parsed) is fetched **on the client asynchronously once the DOM is ready**.
This results in the effect that when using the back button the browser does not show the outdated content, but rather Javascript fetches again, thus getting the current content.
This is also more "Backbone idiomatic".

[2013-05-17 21:27] #154 closed, assigned to tschmorleiz

[2013-05-17 23:24] rlaemmel commented on #154
Wow

[2013-05-18 11:23] rlaemmel opened #210 "Browser needs to go to renamed page"
Just started renaming and this looks great.

One thing: once renaming is completed, the browser needs to show the new page. Currently, it seems one stays on the old page, which upon reloading is of course gone.

[2013-05-18 12:11] tschmorleiz commented on #210
Hm, strange. Just renamed "Function" -> "NewFunction" and I got redirected to the new page once renaming was completed ([code](https://github.com/101companies/101rails/blob/master/app/assets/javascripts/backbone/views/page.js.coffee#L118)). I guess s.th. messed up, such that redirecting was never executed. Did the popup close?

[2013-05-18 12:20] rlaemmel opened #211 "Links -> Backlinks"
Let's rename that section.

[2013-05-18 12:21] rlaemmel commented on #210
Ok, I will do more renaming today and keep an eye on this.

[2013-05-18 12:23] #211 closed, assigned to tschmorleiz

[2013-05-18 12:24] rlaemmel opened #212 "Search function on 101wiki not working"
I receive empty pages when entering any search string.

[2013-05-18 12:58] tschmorleiz commented on #207
I added some support for syntax highlight of ordinary wiki markup. We can extend the highlighting rules in [this file](https://github.com/101companies/101rails/blob/master/vendor/assets/javascripts/ace/mode-wiki.js).

[2013-05-18 14:39] tschmorleiz commented on #212
Fixed

[2013-05-18 14:40] #212 closed, assigned to tschmorleiz

[2013-05-18 14:43] rlaemmel opened #213 "Some links are not clickable"
http://101companies.org/wiki/Higher-order_functions_in_Haskell

Hover "Course:Lambdas in Koblenz" in headline.

No proper link seems to be associated with the markup.

Nothing happens when clicking the link.

[2013-05-18 14:44] rlaemmel commented on #213
Also go here:

http://101companies.org/wiki/Course:Lambdas_in_Koblenz

Try to click any of the "Script:..." links.

[2013-05-18 14:48] rlaemmel opened #214 "String "Renaming and fixing links...""
Please add some space before the dots :-)

[code]

[2013-05-18 14:51] rlaemmel opened #215 "Support for "@" in page titles"
I just renamed 101companies:System to @system.

http://101companies.org/wiki/@system

Please patch rendering as we discussed over Skype:
- Replace "@" by "101" in the title.
- Same replacement anywhere in links such as in [[@system]].

Perhaps, you could render these links with special appearance (as you proposed), but that's optional. If you have some idea as to how to slightly highlight these 10

[2013-05-18 14:52] tschmorleiz commented on #213
The parsing service returns links like this:
`<a href=\"Script:First steps in Haskell \">First steps</a>`
Which mean, that the `/wiki/` prefix is missing.

@avaranovich, we discussed this shortly. Therefore I reassign.

[2013-05-18 15:01] rlaemmel commented on #213
Just adding that this has worked until yesterday or today. So has something to do with some very recent change.

[2013-05-18 15:03] rlaemmel commented on #208
I think this all looks fine to me.
Closing for now.

[2013-05-18 15:03] #208 closed, assigned to tschmorleiz

[2013-05-18 15:05] rlaemmel commented on #210
I have renamed now a few times and the new page was shown indeed, as expected.

I believe some JS error happened when I did that other rename.

If this ever happens again, I shall try to capture more information and re-open the issue.

[2013-05-18 15:09] rlaemmel opened #216 ""About" needs to be re-directed"
Because of renaming it needs to go here now:

http://101companies.org/wiki/@project

[2013-05-18 16:57] rlaemmel commented on #210
Ok, I understand what's going on.

Renamed 101companies:Papers to Information:Papers.

I believe the code fails to forward to the new page, whenever the new name has a prefix or perhaps a different prefix.

[2013-05-18 18:03] rlaemmel opened #217 "wiki -> 101wiki"
This is about the name of the page 101companies.org in the browser tab.

[2013-05-18 18:12] rlaemmel opened #218 "renaming "undefined""
Just landed on

101companies.org/wiki/Undefined

when trying to rename

from Higher-order functions in Haskell

to Script:Higher-order functions in Haskell

[2013-05-18 23:47] tschmorleiz commented on #218
Did the rename itself work?

[2013-05-19 00:04] rlaemmel commented on #218
Nope

[2013-05-19 00:04] tschmorleiz commented on #218
Ok looking into renames with ":".

[2013-05-19 00:13] #218 closed, assigned to tschmorleiz

[2013-05-19 00:14] tschmorleiz commented on #218
Did some change and successfully renamed the page you mentioned. Can you please try?

[2013-05-19 10:04] #214 closed, assigned to tschmorleiz

[2013-05-19 10:28] tschmorleiz commented on #210
Should be fixed with https://github.com/101companies/101rails/commit/a3d6505f1a97319c0ba99c8b983724871e2ac403, too.

[2013-05-19 10:28] #210 closed, assigned to tschmorleiz

[2013-05-19 10:29] tschmorleiz commented on #207
With the new @-names in place, I guess one thing we should do is auto-rewrite `@suffix` to `101suffix` when editing.

[2013-05-19 10:34] tschmorleiz commented on #169
@avaranovich Could you return the new timestamp in the response to a saving request of a page? Then I can update it after section saving.

[2013-05-19 10:36] tschmorleiz commented on #76
Are there any left?

[2013-05-19 10:45] rlaemmel commented on #215
Looks good. Great!

[2013-05-19 10:47] rlaemmel commented on #76
I think we are good now.

[2013-05-19 10:47] #76 closed, assigned to tschmorleiz

[2013-05-19 10:48] tschmorleiz commented on #206
We got rid of those.

[2013-05-19 10:48] #206 closed, assigned to tschmorleiz

[2013-05-19 11:13] #216 closed, assigned to tschmorleiz

[2013-05-19 11:13] #172 closed, assigned to tschmorleiz

[2013-05-19 11:14] tschmorleiz commented on #172
Some links are still lowercase because the fixing relies on #213 to be fixed.

[2013-05-19 11:15] tschmorleiz commented on #213
This also causes the tooltip thingy not to kick in.

[2013-05-19 12:39] #119 closed, assigned to tschmorleiz

[2013-05-19 12:40] tschmorleiz commented on #119
Through the new wiki there are no means of creating redirects. For existing redirects I implemented the approach that the server checks whether a page is a redirect and if so rewrites the URL to the redirect target.

[2013-05-19 17:01] rlaemmel commented on #217
I think you misunderstood.
I was not referring to the "Wki" tab on a .../wiki page.
I was referring to the "Wiki" title for http://101companies.org/ in the browser.

[2013-05-19 17:12] tschmorleiz commented on #217
Like that :question:

[2013-05-19 17:15] rlaemmel commented on #217
Like that:

![bug](https://f.cloud.github.com/assets/1208815/523283/b56e4b76-c0a7-11e2-905d-16c6f4b3931c.jpg)

[2013-05-19 17:25] #217 closed, assigned to tschmorleiz

[2013-05-19 23:42] rlaemmel commented on #215
Please also render @ as 101 in backlinks.

See here for example:

http://101companies.org/wiki/@data

[2013-05-19 23:56] rlaemmel opened #219 "Renaming not finding all occurrences"
I just renamed "@discoverer" to "@explorer".

Here is some of the markup of the resulting page; see the remaining occurrences of "@discoverer". What's also strange is the first few cars, which looks like as if some chars of the regular text (see "ntegral part") were removed.

<pre>
[[@explorer]]ntegral part of the infrastructure and foundation of the [[@project]]. [[@discoverer]] supports
systemat

[2013-05-20 00:10] rlaemmel opened #220 "UI consistency on tabs on 101wiki"
So we have "action" buttons like "rename" and "delete". That's great. We also have sort of tabs for "101wiki" and "Discover" and some menu for "Code" when looking at a contribution.

The tabs seem to be used to hint at the fact that some other view opens.

If so, perhaps these names could be cool:
- 101wiki
- 101repo
- 101explorer

I would rather not have a menu for "Code" (which would be now "101

[2013-05-20 00:18] rlaemmel opened #221 "Lower case even after reload"
I am looking at this page:

http://101companies.org/wiki/@explorer

I am hovering over "fact extractor".

This is the link that I get:

http://101companies.org/wiki/fact%20extractor

Upon clicking it gets rewritten to this link:

http://101companies.org/wiki/Fact_extractor

So this is Ok.

I am just wondering whether we really want these other links to ever surface; again this one here:

http://10

[2013-05-20 00:52] tschmorleiz commented on #221
Same reason as #213. `/wiki/`is missing in href attribute of anchors. Therefore my fixing to upper-case does not kick in. Let's wait for that one to close.

[2013-05-20 01:36] #215 closed, assigned to tschmorleiz

[2013-05-20 01:38] tschmorleiz commented on #219
Should be fixed, tried some pages with multiple occurrences. Please check!

[2013-05-20 09:20] avaranovich commented on #213
@burgua please check your refactorings concerting this case.

[2013-05-20 09:29] tschmorleiz commented on #17
One cheap thing we could do is add [[instanceOf::Namespace:X]] whenever X:Y is changed and does not have that metadata. I think that would be ok for now.

[2013-05-20 09:44] rlaemmel commented on #17
... with special handling for "@" and "Concept".
Otherwise, this would be great.
Will this work all fine when thinks are moved across namespaces?

[2013-05-20 09:45] tschmorleiz commented on #17
Will work, I will implement it in a "change" method which is called both on saving and renaming.

[2013-05-20 09:58] tschmorleiz commented on #207
101 -> @ that is.

[2013-05-20 15:58] #207 closed, assigned to tschmorleiz

[2013-05-20 16:00] tschmorleiz commented on #207
Please check the editor for the whole page. I implemented the idea of wrapping selected text with markup when hitting a button. Please suggest support for more syntax here.

[2013-05-20 16:05] #220 closed, assigned to tschmorleiz

[2013-05-20 16:06] tschmorleiz commented on #220
I think we just keep the names in the dropdown menu for 101repo. I think we cannot find any intuitive name for the .zip option. Also, the .zip option does directly correspond to any 101 architecture entity or service.

Changed to "101wiki", "101explorer", and "101repo".

[2013-05-20 19:12] #221 closed, assigned to tschmorleiz

[2013-05-20 19:12] tschmorleiz commented on #213
Found the reason by accident when implementing #143 :)

[2013-05-20 19:12] #213 closed, assigned to burgua

[2013-05-20 19:32] #143 closed, assigned to tschmorleiz

[2013-05-20 20:03] rlaemmel opened #222 "Different fonts for prefix versus basenase"
I think we had this already; so probably this got rolled back / overridden.

Look here for example (but any page with prefix would work):

http://101companies.org/wiki/Script:Higher-order_functions_in_Haskell

In rendering the title, somehow the prefix should be deemphasized, moved apart further from the basename. I don't remember how it looked like when I liked it, but sort of really the prefix n

[2013-05-20 20:16] #222 closed, assigned to tschmorleiz

[2013-05-20 20:16] tschmorleiz commented on #222
That was easy :)

[2013-05-20 20:28] rlaemmel opened #223 "It looks like Metadata sections cannot be edited anymore"
Tried a few pages also after reload; the edit button would not work on the metadata section.

For instance, I tried here:

http://101companies.org/wiki/Higher-order_function

[2013-05-20 21:00] #209 closed, assigned to tschmorleiz

[2013-05-20 21:00] #223 closed, assigned to tschmorleiz

[2013-05-20 21:01] tschmorleiz commented on #223
Happend during the changes of loading pages and processing sections. Please retry.

[2013-05-20 21:12] rlaemmel commented on #223
Working again.
Thanks.

[2013-05-20 22:24] tschmorleiz commented on #17
Now on every saving and and renaming the namespace triple is injected. When renaming such that the namespace is changed, the triple is updated.

We still have a lot of pages not having the triple. Adding will be triggered by saving, but I guess I will do this with some script which checks all pages.

[2013-05-20 22:59] rlaemmel commented on #207
It's already pretty cool, the way it is.
Will be thinking about more.
Great!

[2013-05-20 23:05] rlaemmel commented on #143
Looks great.
One thing in passing.
I noticed that things gotten a bit slower tonight.
So we might need to analyze perf again.
Anyway, the red stuff seems to work.
Great!

[2013-05-20 23:13] rlaemmel commented on #219
Missed all occurrences of 101technology in here:

http://101companies.org/wiki/Technology:HsFragmentLocator

Is that _perhaps_ because of the old name starting with "101"?

[2013-05-20 23:14] rlaemmel commented on #17
How can I test this?

I was not able to get what I expected.

Here is what I did.
- I went here: http://101companies.org/wiki/Function
- Did some changes and saved and even reloaded.
- No instanceOf::Namespace:Concept appear, neither in page source, nor in rendering.
- Just for fun, I added it manually and it appeared as expected.
- Removed it again (manually).

Also tried this here:
- http://101c

[2013-05-20 23:17] tschmorleiz commented on #17
Was not deployed yet. Please retry.

[2013-05-20 23:19] tschmorleiz commented on #219
So you renamed a page to @technologies? Did you after that fix all references on http://101companies.org/wiki/Technology:HsFragmentLocator manually?

[2013-05-20 23:21] rlaemmel commented on #17
Works like a dream.
Will keep an eye on it during renaming across namespace.

[2013-05-20 23:21] #17 closed, assigned to tschmorleiz

[2013-05-20 23:21] rlaemmel commented on #219
Yes, I fixed them manually.
Before I started to do this also reloaded.

[2013-05-20 23:25] tschmorleiz commented on #219
I also see correct references on http://101companies.org/wiki/Technology:XmlFragmentLocator for instance. Did you fix _all_ pages?

[2013-05-20 23:32] rlaemmel commented on #219
No, I only changed the page that I mentioned.
So then my wild guess is that either this specific page has something very specific :-) or this is a cache problem.
If you don't have any lead here, close it for now and let's hope for the best :-(

[2013-05-20 23:37] tschmorleiz commented on #219
Just renamed @technology to 101technology and then back to @technology. Both times all references where fixed (the backlinks listed did not change and I tried some of them to see if **all** occurrences were fixed). Therefore closing for now :)

[2013-05-20 23:37] #219 closed, assigned to tschmorleiz

[2013-05-20 23:47] rlaemmel opened #224 "Layout of landing page sort of taking too much space"
http://101companies.org/

Unless I make the browser occupy the entire screen and I go to small fonts, I will not see all of the landing page, which I guess is what should be the goal. Do you agree that we should sort of squeeze things a bit more?

[2013-05-21 18:25] tschmorleiz commented on #171
To trigger the discussion, here is my idea:

### Core

##### Store variants of pages

One cheap idea is to store the page P in variant V as P$$V (for instance "Module$$F#") in the MediaWiki database. Initially P$$V is just a copy of P, over time they diverge regarding content.
That is, if we know the page name (as shown in the browser) and the variant name, we will be able to directly store/manipu

[2013-05-22 21:13] rlaemmel opened #225 "Clean up CSS style for HTML format of 101explorer"
Two things:
- It should be close to how 101wiki looks like.
- Since we use 101explorer for "Discover" on 101wiki, the github link must be more at the top.

Let's discuss.

See also #178

[2013-05-22 21:14] rlaemmel commented on #178
Dedicate a feature to the remaining sub-issue. So I am closing this one.

[2013-05-22 21:14] #178 closed, assigned to martinleinberger

[2013-05-22 21:28] rlaemmel opened #226 "semantic end point to produce wiki dump-like JSON"
This is based on longer discussions between @avaranovich and @rlaemmel.

Andrei, please get everyone involved (@martinleinberger, @tschmorleiz, @kevin-klein) who can help.

Let's consider this sort of query of the semantic endpoint.

http://triples.101companies.org/org.softlang.semanticendpoint/doQuery?method=getResourceTriples&resource=Contribution-3AjaxbComposition

As we understand now, the ret

[2013-05-22 21:48] rlaemmel opened #227 "semantic end point to produce 101explorer-like RDF"
This is on top of #226.

So let's assume that 101explorer does support format=rdf; @martinleinberger is working on this. (I will file actually another issue on constraints for such RDF, but in the following text, I only assume basics.)

So let's recall what sort of subjects, objects, and predicates are returned by the semantic endpoint:
- subjects and objects: contributions, features, concepts, te

[2013-05-23 11:38] rlaemmel opened #228 "Discover -> Explore"
(I already changed the landing page (and did some other stuff); please upload.)

More importantly, on the 101wiki pages, I suggest to replace "Discover" by "Explore".
As far as I can see, this concerns rendering of fragments. Anything else?

[2013-05-23 12:00] rlaemmel opened #229 "http://101companies.org/wiki perhaps should be expanded?"
http://101companies.org/wiki is rendered as with the content of http://101companies.org/wiki/@project without though rewriting the URL.
Should the URL be rewritten?
Even when editing the page, the URL remains http://101companies.org/wiki
Is that Ok?

[2013-05-23 13:23] tschmorleiz opened #230 "Show feedback in case "public email" is missing"
We have the case that someone logs-in via GitHub and the "public email" is not set. Currently the user just gets redirected to http://101companies.org/users/sign_up.

Please show some message that tells the user to specify the needed information, like:
"Please specify a public email address on your <a href="https://github.com/settings/profile">github profile<a>."

[2013-05-23 17:39] #230 closed, assigned to burgua

[2013-05-24 08:01] avaranovich opened #231 "internal_links are broken"
http://101companies.org/api/pages/monad/summary

Often internal_links are empty. Sometimes -- not (for the same page).

I don't know when it happen, but seems very recently after Page model refactorings.

[2013-05-24 08:11] avaranovich opened #232 "internal_links are empty"
Often internal_links are empty
http://101companies.org/api/pages/monad/summary

sometimes they are not (for the same page).
This happened after Page refactorings.

What I noticed, that internal_links are non-empty if you clean the cache right before the API call.

[2013-05-24 08:11] #231 closed, assigned to burgua

[2013-05-24 11:10] tschmorleiz commented on #185
So, what I currently do is just talking the last element of a split by "/".

What we could do is the following: Have a map from domain name (say "github.com" or "wikipedia.org") to indicies in the "/" split. The default would be to only show the last part.

Will implement this idea soon.

[2013-05-24 12:36] avaranovich commented on #232
More observations:

[5/24/13 2:32:56 PM] Thomas Schmorleiz: Currently this is always empty
[5/24/13 2:32:57 PM] Thomas Schmorleiz: http://localhost:3000/api/pages/Monad/internal_links
[5/24/13 2:33:08 PM] Thomas Schmorleiz: While this holds all internal links
[5/24/13 2:33:08 PM] Thomas Schmorleiz: http://localhost:3000/api/pages/Monad/summary
[5/24/13 2:35:34 PM] Andrei Varanovich: but if you res

[2013-05-24 12:40] avaranovich commented on #232
If I create some page on rails console, it's the same:
2:39 PM
1.9.3p194 :008 > page = Page.new.create("Monad")
1.9.3p194 :009 > page.internal_links
internal_links
#WikiCloth::Parser:0x007fe3bc5f1868
=> ["Functional programming", ….]
1.9.3p194 :0010 > page = Page.new.create("Monad")
2:39 PM
1.9.3p194 :0011 > page.internal_links
internal_links
#WikiCloth::Parser:0x007fe3bc0bd7e8
=> []

[2013-05-24 13:24] #232 closed, assigned to tschmorleiz

[2013-05-24 13:38] rlaemmel opened #233 "Renaming not working"
Tried to rename this

http://101companies.org/wiki/Prelude

to "Prelude module"

Ended up here:

http://101companies.org/wiki/Undefined

[2013-05-24 14:02] martinleinberger commented on #225
Just to make sure that everyone is still on the same page - this is how the 101explorer looks in a 101wiki look (there is some empty space on the right that is cropped out):

![101explorer_wiki_look](https://f.cloud.github.com/assets/1643263/560613/9ab22264-c479-11e2-9c48-201f33b9253d.png)

I moved the complete links section to the top.

What you also see is the section that was the _Summary_ sect

[2013-05-24 16:27] #233 closed, assigned to tschmorleiz

[2013-05-24 16:37] rlaemmel commented on #233
Should I try again?

[2013-05-24 16:44] tschmorleiz commented on #233
Yes please

[2013-05-24 17:00] rlaemmel commented on #233
Works.

[2013-05-25 09:28] avaranovich commented on #227
I have been experimenting with handling my own RDF store (sesame) with the schema we need for pages. That approach sounds promising. Basically we can retire semantic wiki completely. This gives us more flexibility in terms of RDF schemas of the page.

Once this becomes stable, we are one step away from retiring the whole mediawiki. (which means we need to support less services, no mediawiki, no my

[2013-05-25 13:43] avaranovich commented on #227
ok, here is a reference representation http://101companies.org/api/pages/contribution:haskellStarter/rdf

URIs now conform to those used by 101explorer.

[2013-05-25 13:46] avaranovich opened #234 "API to get all pages"
Please map the functionality which returns the list of all pages in the wiki to this URL
http://101companies.org/api/pages

[2013-05-25 13:56] avaranovich opened #235 "Get rid of deprecation warnings"
We have a lot of deprecated warnings in rails console. All of the same pattern:

DEPRECATION WARNING: The InstanceMethods module inside ActiveSupport::Concern will be no longer included automatically. Please define instance methods directly in Devise::Models::Rememberable instead. (called from class:User at /Users/avaranovich/projects/101rails/app/models/user.rb:11)

can we get rid of them?

[2013-05-25 14:46] #235 closed, assigned to burgua

[2013-05-25 17:49] burgua commented on #234
Is this schema enough?

[code]

Or you need such json schema?

[code]

[2013-05-25 22:42] burgua opened #236 "Deleting page opened in new tab"
If page is opened from new tab -> deleting will throw to "new tab" page

https://github.com/101companies/101rails/commit/01a5152051956f597275dbe260d8b101e1dc8695#commitcomment-3289818

http://stackoverflow.com/questions/9564041/why-history-length-is-2-for-the-first-page

[2013-05-25 22:44] #236 closed, assigned to tschmorleiz

[2013-05-25 22:45] tschmorleiz commented on #236
Yes, forgot about that +1 thingy.

[2013-05-25 22:48] burgua commented on #236
I never knew =)

[2013-05-26 09:37] avaranovich commented on #234
just "title" and "_id"

[2013-05-26 11:15] tschmorleiz commented on #177
**Good technological news**: We don't need to go through the hassle of taking the tour apart and starting _intro.js_ once per page. We can instead use this:
http://bootstraptour.com

Here, tours just have to be set up with steps once (which can go across pages), and the library automatically keeps track of the pages visited (using cookies or localStorage).

There is also a gem:
https://github.com/

[2013-05-26 17:25] rlaemmel opened #237 "Links broken on pages"
Or perhaps @avaranovich understands what's going on?

We had the same issue about a week ago.

Please go here:

http://101companies.org/wiki/Course:Lambdas_in_Koblenz

Try to click any of the Script links (i.e., the individual lectures).

[2013-05-26 17:47] rlaemmel opened #238 "Page loading is arguably too slow"
Now that I am editing again for the upcoming lecture, I do notice that the recent resolution of the back button issue has affected perf quite considerably. It takes about 5 seconds to load, for example, http://101companies.org/wiki/Contribution:monoidal

Just guessing, but I think usability is at risk above one sec.

@avaranovich and @tschmorleiz let's discuss what we can do.

[2013-05-26 18:10] rlaemmel commented on #238
Basically loading an empty (non-existent) page takes nearly 2 secs.
The full cycle of saving a simple page and seeing everything rendered can easily take 10 seconds.
Texas, we've got a problem.

[2013-05-26 18:18] rlaemmel opened #239 "Red links even when page is there"
Please go here:

http://101companies.org/wiki/Script:Type-class_polymorphism

Have a look at the link to Contribution:monoidal.

It is rendered "red".

The page does exist though.

[2013-05-26 18:54] #237 closed, assigned to tschmorleiz

[2013-05-26 18:54] #239 closed, assigned to tschmorleiz

[2013-05-27 00:28] tschmorleiz opened #240 "Button to show page source when not logged-in"
Currently when the user is logged in we just show the parsed HTML of the page. That is, no editing options are displayed.

Such a user should be able to view the source of a page in a read-only fashion (like we had it in the old wiki).

[2013-05-27 12:13] tschmorleiz commented on #238
The red-links feature is partially causing this. Specifically asking the MediaWiki API for the list of all pages. This list is now cached, so you should already see some performance improvements with regards to loading the sections.

[2013-05-27 12:32] tschmorleiz commented on #238
The initial request (say before you see the "Loading…" for each section) still takes to much time. We will look into this.

[2013-05-27 18:19] rlaemmel opened #241 "Unexpected table of contents"
Please go here:

http://101companies.org/wiki/List_comprehension

The page uses subsections.

Those subsections are rendered as a table of contents, which I guess don't want to have.

[2013-05-27 19:34] #241 closed, assigned to tschmorleiz

[2013-05-27 21:25] rlaemmel opened #242 "101wiki edit broken"
Cannot edit this page anymore:

http://101companies.org/wiki/Course:Programming_in_Koblenz

As soon as I try save it goes into an infinite loop.

Will try other pages also.

[2013-05-27 21:33] #242 closed, assigned to tschmorleiz

[2013-05-27 21:35] tschmorleiz commented on #242
Please retry.

[2013-05-27 21:43] rlaemmel commented on #242
Yes, save completed fine now (after like 10secs).

[2013-05-27 22:00] tschmorleiz commented on #242
Yes, really slow. I managed to identify the problem it it's this line https://github.com/101companies/101rails/blob/master/app/models/page.rb#L174 Here we call the MediaWiki API to actually store the page. So essentially the underlying MediaWiki API takes its time.

[2013-05-27 22:11] rlaemmel opened #243 "Auto insert of instance::Namespace not working without Metadata section"
A line such as this would be appended just to the end of the page:

[code]

This also makes the rendering break.

So here is how to reproduce it:
- Start a new page, e.g., Contribution:FooBarEtc.
- Add a headline section, but nothing else.
- Save.
- Observe the rendered result; looks weird.
- Observe the saved content (using Edit Page); looks weird also.

[2013-05-27 22:42] #243 closed, assigned to tschmorleiz

[2013-05-28 07:08] avaranovich commented on #242
@tschmorleiz, we could fork a new thread just for saving https://github.com/tra/spawnling

[2013-05-28 12:07] #234 closed, assigned to burgua

[2013-05-28 17:34] #240 closed, assigned to tschmorleiz

[2013-05-29 17:01] #185 closed, assigned to tschmorleiz

[2013-05-29 22:47] rlaemmel opened #244 "lower case back in links"
Please go here:

http://101companies.org/wiki/Script:Metaprograms_and_metadata

Then hover over Contribution:javaReflection.

The link uses lower case "javareflection" despite what's in the markup and what's rendered.

Accordingly, the link needs nowhere.

[2013-05-29 22:59] rlaemmel opened #245 "Missing metadata"
No metadata is rendered on this page:

http://101companies.org/wiki/Metadata

How come?

There should be the auto-instanceOf into Namespace:Concept, right?

Is that because this concept is called "Metadata"?

[2013-05-29 23:01] rlaemmel commented on #245
Or is it because I am mentioning the instanceOf::Namespace:Concept markup in the illustration section?

[2013-05-30 07:08] #244 closed, assigned to tschmorleiz

[2013-05-30 07:10] tschmorleiz commented on #245
That is the issue, yes. Will fix.

[2013-05-30 07:31] #245 closed, assigned to tschmorleiz

[2013-05-30 07:32] tschmorleiz commented on #245
Down to five issues again :smile_cat:

[2013-05-30 17:09] #169 closed, assigned to tschmorleiz

[2013-05-30 17:11] tschmorleiz commented on #224
Let's discuss on Monday.

[2013-05-30 18:18] tschmorleiz opened #246 "Slash in page title leads to error message"
We have pages that include "/". For instance:
http://mediawiki.101companies.org/wiki/Object/XML_mapping
These pages are not accessible from the new wiki anymore. For instance:
http://101companies.org/wiki/Object/XML_mapping

This must have been caused by recent changes here:
https://github.com/101companies/101rails/compare/c7c85f617a...ae36414c7e
by removing "unused code" in the router for matchin

[2013-05-30 18:35] burgua commented on #246
@avaranovich already said it (about http://101companies.org/wiki/Object/XML_mapping )
I have tried to resolve this url using code of 1 week ago, 1 month age and January 2013.
I got 404 page every time.

Here is also part of production logs (12 April):

[code]

So, I don't see any relation between this issue and recent changes.

Actually, looks like it never worked at all.

[2013-05-30 19:04] tschmorleiz commented on #246
I see. Since you knew that you could savely remove it, could you make it to match such pages without breaking existing matches?

[2013-05-30 19:23] burgua commented on #246
Ok

[2013-05-30 23:34] rlaemmel opened #247 "Metadata missing"
http://101companies.org/wiki/Resource:Haskell%27s_overlooked_object_system

Perhaps, this is because of the quote in the title?

[2013-05-31 00:56] rlaemmel opened #248 "Content gets lost on new wiki"
Please go here:

http://mediawiki.101companies.org/wiki/Equality

Now compare with this one:

http://101companies.org/wiki/Equality

Essentially, all of the illustration section is missing.

[2013-05-31 01:04] rlaemmel commented on #248
Indeed, my lecture material disappears.
http://101companies.org/wiki/Monoid
http://mediawiki.101companies.org/wiki/Monoid

[2013-05-31 01:04] rlaemmel commented on #248
(This was working a few days ago.)

[2013-05-31 08:07] #247 closed, assigned to tschmorleiz

[2013-05-31 08:07] tschmorleiz commented on #248
Fixed.

[2013-05-31 08:09] tschmorleiz commented on #247
Yes, that needed some special decoding when asking for triples.

[2013-05-31 09:25] rlaemmel commented on #248
Equality remains lost.

[2013-05-31 09:26] rlaemmel commented on #248
I did clear the cache again.
So the illu section is not showing.

[2013-05-31 09:41] tschmorleiz commented on #248
When I go there, and click "Show source" or "Edit" there is no Illustration section in the source.

[2013-05-31 09:45] rlaemmel commented on #248
Did you actually check mediawiki?
http://mediawiki.101companies.org/wiki/Equality

[2013-05-31 09:55] rlaemmel opened #249 "No 101repo for Contribution:monoidal"
http://101companies.org/wiki/Contribution:monoidal

Nothing showing.

[2013-05-31 10:20] avaranovich opened #250 "Introduce a "title" property for the page"
As discussed with @tschmorleiz , I don't see any reason to _guess_ the title from URL, because the guessing algorithm can be wrong. What I propose is to have "title" in the model of the page, that a title will be created once the user creates the page, _exactly_ following the casing

Examples:
If i create a page http://101companies.org/andrei
the title should be set to "andrei"
even if the same pa

[2013-05-31 10:41] #228 closed, assigned to avaranovich

[2013-05-31 10:46] avaranovich commented on #229
@burgua please do redirect from  http://101companies.org/wiki to  http://101companies.org/wiki/@project

[2013-05-31 11:11] #248 closed, assigned to tschmorleiz

[2013-05-31 11:17] tschmorleiz commented on #249
Fixed on worker https://github.com/101companies/101worker/commit/1b32252e09d03e3852508eaff8f1b5422499330c.

[2013-05-31 11:17] #249 closed, assigned to tschmorleiz

[2013-05-31 11:55] tschmorleiz commented on #124
This works, no? Please close if so

[2013-05-31 12:02] rlaemmel commented on #124
Yup, great.

[2013-05-31 12:02] #124 closed, assigned to rlaemmel

[2013-05-31 13:32] burgua commented on #246
Talked wit Andrei today. This functionality moved to https://github.com/101companies/101wiki/issues/250

[2013-05-31 13:32] #246 closed, assigned to burgua

[2013-06-01 11:51] burgua commented on #238
By the way, we (I and @arkadi-schmidt ) added support of gzip-compressing and expires-headers for webserver.
After measuring page speed with https://developers.google.com/speed/pagespeed/ before and after we has such results:

**Before:**
Landing page: http://monosnap.com/image/3o7LisCuK1of714RPaZrEJkza
WikiPage: http://monosnap.com/image/WTNvqN78I15QmgrTwPbTrk1SO

**After:**
Landing page: https:/

[2013-06-01 11:58] martinleinberger opened #251 "Missing features for some pages (no technical problem)"
Contributions without features (according to wiki):

/callref-rascal
/clojure
/coq
/cppMPL
/cppMpl
/csharpAspNetMvc
/csharpDryadLinq
/csharpLinqToXml
/dom
/ef
/egl
/emf
/gwt
/hadoop
/html5ajax
/html5indexedDatabase
/html5local
/html5session
/html5tree
/javawsClient
/jdbc
/jdbc2
/jena
/jena2
/jsPrototyping
/linq2DataSet
/linq2Sql
/mobl
/moose
/mps
/prologStarter
/prologSyb
/riak
/ruby
/stratego
/st

[2013-06-01 12:13] martinleinberger opened #252 "Validate feature sets"
Here are the computed features and assigned contributions (very simple representations):

[code]

[2013-06-01 12:30] rlaemmel opened #253 "Clean up relationships between features and feature groups"
/cc @tschmorleiz

As we discussed, we need to clean up instanceOf/isA use for feature relationships.

Currently, we have this:
- Feature:Cut instanceOf Functional requirement
- Feature:Closed serialization isA Feature:Serialization

Should be both isA/instanceOf or should we also consider partOf?
This is a silly problem (all Ralf's fault :-)).
We need to think through this from a modeling point of

[2013-06-01 13:30] #226 closed, assigned to avaranovich

[2013-06-01 13:31] #227 closed, assigned to avaranovich

[2013-06-01 13:44] burgua opened #254 "New landing page"
Here is mockup for landing page

/cc @tschmorleiz @arkadi-schmidt @rlaemmel

![2013-06-01 15 38 35](https://f.cloud.github.com/assets/123756/594912/4e07a580-cac1-11e2-9500-0615dab2b26a.jpg)

[2013-06-02 16:20] martinleinberger opened #255 "Can't get triples on a page anymore"
During the subbotnik, the URL for getting all triples of a wiki page was, for example `http://101companies.org/api/pages/Monad/json`. Now this page returns a description of the Monad page instead of the triples.

Did the URL change or is this some kind of bug?

[2013-06-02 19:19] rlaemmel commented on #254
I like the font also.

[2013-06-02 22:21] rlaemmel opened #256 "Change scheme of applying "..." to metadata section"
There are two proposals in here: a) as discussed yesterday, b) a slight variation on what we discussed.

As discussed yesterday, it may be more scalable if we show only 1 triple per predicate, once we are above the threshold.

Thus, the "..." would be next to the triple shown for a predicate.

In order to avoid silly "...", we should only apply it to predicates with at least 3 triples. (Clicking "

[2013-06-02 22:31] rlaemmel commented on #238
Thanks everyone for contributing in many ways.
As we discussed yesterday, the perf is now acceptable.
We want better perf, but this will wait until we retire Mediawiki.

[2013-06-02 22:31] #238 closed, assigned to nobody

[2013-06-02 22:46] rlaemmel opened #257 "Page locking"
So this is about page locks for simultaneous editing.
Do we have it? I don't think so.
Do we need it; well perhaps.
Not very urgent.

BTW, the lock should be breakable.
So basically one just is informed like this "Andrei Varanovich started editing on 1.1.2011 and hasn't completed."
Some time out should be applied and "Cancel" in edit mode should, of course, also remove the lock.

[2013-06-02 22:58] rlaemmel opened #258 "Sorting of triples in metadata section"
Triples with "this" as object sometimes go first, but they shouldn't:

http://101companies.org/wiki/Feature:Closed_serialization

I am also wondering whether there should some sort of visual separator between triples starting from this versus triples ending in this because the diference is a big deal.

[2013-06-02 23:04] rlaemmel commented on #170
Should we just allow 101wiki names for languages?
We could make it case-insensitive so that most existing cases should continue to work.
So I would switch to Haskell instead of haskell, Ok?

[2013-06-02 23:07] rlaemmel opened #259 "More "help" in wiki editor"
Perhaps we should also put stuff there to help with the following markup:
- fragment
- image
- video
- pdf
- Itemized list
- Indented itemized list

[2013-06-02 23:12] rlaemmel opened #260 "It looks like subsubsections make the wiki parser panic"
I am just looking at:

http://mediawiki.101companies.org/wiki/index.php?title=Feature:Editing&action=edit

It has (as of filing this issue) subsubsections, i.e., "==== ... ====".

Everything from the first quadruple = onwards is not rendered on the new wiki.

I am now removing subsubsections, but "====" needs to be supported or at least the parser needs to ignore it or handle it like "===".

[2013-06-02 23:18] rlaemmel commented on #253
It is all isA now.

http://www2.fiit.stuba.sk/~vranic/pub/FMM.pdf

[2013-06-02 23:18] #253 closed, assigned to rlaemmel

[2013-06-02 23:36] rlaemmel opened #261 "Text constants and section titles for new landing page"
cc @burgua

This is related to #254.

As discussed, we need several text constants and section tiles, perhaps they could be factored into a designated file.

Once the file is set up, I am happy to try filling in actual text.

So please assign to me once this the file is set up.